<section id="index-importedEmails-section">
  <div class="panel-header">
    <a href="#" class="panel-close" data-behavior="modal-close"></a>
    Choose friends to invite
  </div>
  <div class="panel-body-scroll panel-body-fixed panel-body">

    <div class="panel-body panel-body-list">
      <ul class="row list-layout">
        <% if @contacts.nil?%>
        <li id="no-contact-found-message" class="contact-row hide">
          Sorry, we cannot find contact from this account. Please use a different account.
        </li>
        <% else %>
        <li class="col-sm-7">
        <% @contacts.each_with_index do |c, i|%>
          <label class="checkbox-label alternate-color-<%= i % 2 %>">
            <div class="contact-row row space-2">
              <div class="col-sm-6">
                <div class="contact-checkbox-wrapper">
                  <input class="contact-checkbox" type="checkbox" id="<%= i %>">
                </div>
                <strong class="contact-detail"><%= c[:name][0..15]%></strong>
              </div>
              <div class="contact-email contact-detail text-right col-sm-6" id="<%= i %>"><%= c[:email]%></div>
            </div>
          </label>
        <%end%>
        </li>
        <%end%>
      </ul>
    </div>
  </div>

  <div class="panel-footer">
    <div class="modal-status-section modal-loading loading hide">
    </div>
    <div class="row">
      <!-- <div class="col-sm-5 col-md-3">
        <label class="check-all-label text-left">
          <input class="check-all-checkbox" type="checkbox">
          <strong>Check all</strong>
        </label>
      </div> -->
      <div class="col-sm-7 col-md-9 text-right">
        <div class="modal-status-section modal-sent hide icon-lima">
          <h5>Sent!</h5>
        </div>
        <!-- <button class="btn hide-sm" data-behavior="modal-close">
          Cancel
        </button> -->
        <button class="btn btn-primary send-invites">
          Send 0 Invitations
        </button>
      </div>
    </div>
  </div>
</div>
</section>

<script type="text/javascript">
  array = [];
  $(".contact-checkbox").change(function() {
    if(this.checked) {
      var id = $(this)[0].id;
      var email = $('#' + $(this)[0].id + '.contact-email').text();
      array.push(email);
      var number = array.length
      $('.send-invites').text('Send ' + number + ' Invitations');
      console.log(array);
    } else {
      var removeEmail = $('#' + $(this)[0].id + '.contact-email').text();
      array = jQuery.grep(array, function(value) {
        return value != removeEmail;
      });
      var number = array.length
      $('.send-invites').text('Send ' + number + ' Invitations');
      console.log(array);
    }
  });

  $('.send-invites').on('click', function() {
    if (array.length == 0) {
      alert('Please select an email');
    }  else {
      $.ajax({
        type: 'GET',
        url: '/send-invites',
        data: {emails: array},
        success: function(xhr) {
          console.log("sent to controller");
        }
      });
    }
  });


</script>
