<section id="invite-section">
    <div class="container contact-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6 contact-6">
                        <h3 class="text-center">Spread the Word! Invite your Friends!!</h3>
                        <div class="row">
                            <%= simple_form_for @invite, :html => {:class => 'form-horizontal' } do |f| %>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <%= f.input :email, :required => true, label: false, placeholder: "What's your friend's email?" %>
                                    </div>
                                    <div class="col-xs-5 xs5-btn">
                                        <%= f.submit 'INVITE', class: 'color-btn green-btn' %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <div class="row">
                  <div class="col-xs-5" style="text-align: right;">
                      Import your contacts from
                  </div>
                  <div class="col-xs-2" style="text-align: center;">
                      <a href="/contacts/gmail">Gmail</a>
                  </div>
                  <div class="col-xs-2">
                      <a href="/contacts/yahoo">Yahoo</a>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 contact-inputs">
              <div style="text-align: right;">
                  <%= link_to "Share on Facebook",
                  "https://www.facebook.com/v2.0/dialog/share?app_id=989408694457545&redirect_uri=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Df3f7c579fa3d2c%26domain%3Dwww.sharecity.net%26origin%3Dhttps%253A%252F%252Fwww.sharecity.net%252Ff3b4e2c85393a7%26relation%3Dopener%26frame%3Df344a008acead88%26result%3D%2522xxRESULTTOKENxx%2522&display=popup&href=https%3A%2F%2Fwww.sharecity.net%2Fc%2Falia403%3Fs%3D3%26i%3D1",
                  class: "btn btn-primary btn-lg", target: "_blank" %>
              </div>
          </div>
          <div class="col-xs-6 contact-inputs">
              <div class="">
                  <%= link_to "Messenger",
                  'https://www.facebook.com/v2.0/dialog/send?app_id=989408694457545&display=popup&e2e=%7B%7D&link=https%3A%2F%2Fwww.sharecity.net%2Fc%2Falia403%3Fs%3D24%26i%3D1&locale=en_US&next=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Df21354bd5614c48%26domain%3Dwww.sharecity.net%26origin%3Dhttps%253A%252F%252Fwww.sharecity.net%252Ff3b4e2c85393a7%26relation%3Dopener%26frame%3Df16a1c827c1ddb4%26result%3D%2522xxRESULTTOKENxx%2522&sdk=joey&version=v2.0',
                  class: "btn btn-primary btn-lg", target: "_blank" %>
              </div>
          </div>
        </div>
    </div>
</section>
