<div class="container desktop">
    <div class="row">
		  <div class="col-sm-4 hidden-xs" style="margin-top: 7px;">
        <div class="card hovercard dashB">
            <div class="avatar">
                <% if is_provider? %>
                  <%= image_tag "//graph.facebook.com/#{current_user.uid}/picture?type=large" %>
                <% else %>
                  <!-- <img alt="" src="<%#= current_user.avatar || current_user.image %>"> -->
                  <img src="<%= current_user.image || current_user.avatar %>" alt="..." class="">
                <% end %>
            </div>
            <div class="info">
                <div style"padding-left: 3px;" class="title">
                    <!-- <a target="_blank" href="http://scripteden.com/"><%= current_user.name || current_user.first_name %></a> -->
                    <%= current_user.first_name.capitalize %>
                </div>
                <br>
                <div style="text-align: left;font-size: 20px;color: #dedede;" class="">
                  <i style="color:black;padding-left: 6px;padding-right: 5px;" class="fa fa-map-marker"></i> <%= current_user.location || 'n/a' %>
                </div>
                <br>
                <% @user ||= current_user %>
                <div style="text-align: left;font-size: 20px;color: #dedede;" class="stats">
                    <i style="color:black;padding-left: 3px;padding-right: 3px;" class="fa fa-user"></i> Following
                    <strong id="following" class="stat">
                      <%= @user.following.count %>
                    </strong>
               </div>
               <br>
               <div style="text-align: left;font-size: 20px;color: #dedede;" class="stats">
                    <i style="color:black;" class="fa fa-users"></i> Followers
                    <strong id="followers" class="stat">
                      <%= @user.followers.count %>
                    </strong>
                </div>
            </div>
            <!-- <section class="stats">
              <%#= render 'shared/stats' %>
            </section> -->
            <div class="bottom">
                <p><a class="btn btn-success btn-lg" href="<%= edit_users_path %>" role="button"><i class="fa fa-cog fa-lg"></i> Edit Profile</a></p>
            </div>
        </div>

      </div>
      <div class="col-xs-8 hidden-xs" style="margin-top: 17px;">

           <ul class="nav nav-pills dash-nav dash-nav-pointer">
              <li class="active"><a data-toggle="pill" href="#home">My Items</a></li>
              <li><a data-toggle="pill" href="#menu1">Following</a></li>
              <li><a data-toggle="pill" href="#menu2">Followers</a></li>
              <!-- <li><a data-toggle="pill" href="#menu3">Notifications</a></li> -->
          </ul>

          <div class="tab-content dash-content">
              <div id="home" class="tab-pane fade in active dash-pane">
                <!-- <h3>My Items</h3> -->
                <%= render partial: "items/index_items", locals: {user: @user, item: @item} %>
              </div>
              <div id="menu1" class="tab-pane fade dash-pane">
                  <!-- <h3>Following</h3> -->
                  <%= render partial: "users/show_following", locals: {user: @user} %>
              </div>
              <div id="menu2" class="tab-pane fade dash-pane">
                <!-- <h3>Followers</h3> -->
                <%= render partial: "users/show_followers", locals: {user: @user} %>
              </div>
              <!-- <div id="menu3" class="tab-pane fade dash-pane">
                <p>blahlalala</p>
              </div> -->
         </div>
      </div>
    </div>
</div>

<div class="container mobile">
    <div class="row">
    <div class="col-xs-12 text-center bhoechie-tab-container">
            <div class="list-group list-group-horizontal bhoechie-tab-menu">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-th-list"></h4><br/>My Items
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Followers
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-eye-open"></h4><br/>Following
                </a>
            </div>

            <div class="col-xs-12 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <center>
                      <%= render partial: "items/index_itemsMobile", locals: {user: @user, item: @item} %>
                    </center>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <center>
                      <%= render partial: "users/show_followers", locals: {user: @user} %>
                    </center>
                </div>

                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
                      <%= render partial: "users/show_following", locals: {user: @user} %>
                    </center>
                </div>
            </div>
        </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("div.list-group>a").click(function(e) {
      e.preventDefault();
      $(this).siblings('a.active').removeClass("active");
      $(this).addClass("active");
      var index = $(this).index();
      $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
      $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
  });
});
</script>
