<div class="list col-xs-8 col-sm-10 listPadding">
   <% conv_class = message.conversation.sender?(user) ? 'conv-sender' : 'conv-recipient' %>
   <div class="item <%= conv_class %>">
     <%= message.body %>
  </div>
</div>
