<div class="ui segment">
  <div class="col-lg-12 all-messages" id="<%= "c#{@conversation.id}-s#{@conversation.sender_id}-r#{@conversation.recipient_id}" %>">
  <% @messages.each do |message| %>
    <% if message.body %>
    <% user = User.find(message.user_id) %>
    <div class="item message">
      <div class="row header">
        <% if message.conversation.sender?(user) %>
          <%= render partial: 'user', locals: { msg_user: message.conversation.sender, user: user, message: message } %>
          <%= render partial: 'message', locals: { message: message, user: user } %>
        <% else %>
          <%= render partial: 'message', locals: { message: message, user: user } %>
          <%= render partial: 'user', locals: { msg_user: message.conversation.recipient, user: user, message: message } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<div class="ui reply form field field-conv user-message" data-cid="<%= @conversation.id %>" data-sid="<%= @conversation.sender_id %>" data-rid="<%= @conversation.recipient_id %>" data-avatar="<%= avatar(current_user) %>">
  <textarea class="form-control form-conv" id="new-message-box" placeholder="Add personal message here"></textarea>
  <button type="submit" class="submit-conv" id="new-message-btn"></button>
</div>
