<div class="col-xs-4 col-sm-2 usrImgPadding">
  <% if msg_user.provider == "facebook" %>
    <%= image_tag "//graph.facebook.com/#{msg_user.uid}/picture?type=square", class:"circle msgImg" %>
  <% elsif msg_user.provider == "google_oauth2" %>
    <img alt="" src="<%= msg_user.image%>" style = "width: 50px; height:50px" class="circle msgImg">
  <% else %>
    <img alt="" src="<%= msg_user.avatar%>" style = "width: 50px; height:50px" class="circle msgImg">
  <% end %>

  <strong><%= link_to user.first_name.capitalize || user.name, user_path(user) %></strong><%= message.message_time %>
  <br>
  <% if message.user != current_user %>
    <% if message.read == true %>
      seen
    <% else %>
      unseen
    <% end %>
  <% end %>
</div>
