<div class="container">
  <h1>Messages</h1>
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <div class=”ui segment”>
          <% if @conversation.reservation_id.blank? %>
              <% 'No Reservations' %>
          <% else %>
              <div class="col-lg-12">
                <div class="col-lg-2">
                  <%= button_to "Click for Approve", item_reservation_path(@conversation.reservation.item_id, @conversation.reservation.id, {status: "approved-owner"}), :class => "btn-success", :method => :put %>
                </div>
                <div class="col-lg-2">
                  <%= button_to " Click for Reject  ", item_reservation_path(@conversation.reservation.item_id, @conversation.reservation.id, {status: "rejected-owner"}), :class => "btn-danger", :method => :put %>
                </div>
              </div>
          <% end %>
         <% @messages.each do |message| %>
          <% if message.body %>
           <% user = User.find(message.user_id) %>
           <div class=”item”>
            <div class=”content”>
             <div class=”header”><strong><%= user.first_name || user.name %></strong>     <%= message.message_time %></div>
              <div class=”list”>
               <div class=”item”>
                <i class=”right triangle icon”></i>
                 <%= message.body %>
              </div>
            </div>
           </div>
         </div>
         <% end %>
        <% end %>
        </div>
        <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
         <div class=”field”>
           <%= f.text_area :body, class: "form-control" %>
         </div>
         <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
         <br>
         <div class="ui list">
           <%= f.submit "Add Reply", class: 'btn btn-primary wide' %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
