
<section class="main">
  <img src="<%= asset_path( 'logo.png' ) %>", class="displayed-con" />
  <h3 id="h3-sess">Please Log In, or
    <%= link_to "Sign Up", new_user_path %></h3>
    <!-- <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <%#= link_to "Facebook", "/auth/facebook", id: "sign_in", class:"btn btn-lg btn-primary btn-block" %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <%#= link_to 'Google+', '/auth/google_oauth2', id:"sign_in", class:"btn btn-lg btn-info btn-block" %>
      </div>
    </div> -->
    <!-- <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div> -->
<%= form_tag sessions_create_email_path, class: "form-1" do %>
  <p class="field">
    <%= text_field_tag :email, "", placeholder:"Username or email" %>
    <i class="icon-user icon-large"></i>
  </p>
  <p class="field">
    <%= password_field_tag :password, "", placeholder:"Password" %>
    <i class="icon-lock icon-large"></i>
  </p>
  <p class="submit">
    <button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
  </p>
<% end %>
<%= link_to "(forgot password)", new_password_reset_path, id:"h3-sess" %>

</section>
