<a href="www.sharecity.net">ShareCity</a>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
      <style media="screen">
        .emailLogo {
          text-align: center;
          margin-bottom: 25px;
        }
        .emailInvite {
          height: 47px;
          width: 87%;
          background-color: #2baadf;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          font-size: 17px;
          font-weight: 700;
          padding-top: 18px;
        }
        .img_preview {
          width: 31%
        }
        .emailWrapper {
          margin: 0 auto;
          width: 81%;
        }
        .emailSocial {
          width: 6%;
          margin: 30px 17px 30px 17px;
        }
        .emailSocialDiv {
          text-align: center;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
          .emailInvite {
            width: 85%;
            font-size: 12px;
          }
          .img_preview {
            width: 40%
          }
          .emailWrapper {
            width: 95%;
          }
          .emailSocial {
            width: 6%;
            margin: 30px 1px 30px 1px;
          }
        }
      </style>
        <div style="padding: 30px 0 50px;">
            <div class="emailLogo" style="text-align: center;">
                <%= image_tag(attachments['logo.png'].url, :class => "img_preview", :style => "width: 40%") %>
            </div>
            <div class="emailWrapper">
                <h1 style="font-size: 1.1em; color: black;">Dear friend,</h1>
                <p style="font-size: 1.1em; color: black;">
                    You have been invited to ShareCity (<a href="http://www.sharecity.net">www.sharecity.net</a>) by <%= @inviter.full_name %><br>
                </p>
                <p>
                  Here's our Concept : https://www.youtube.com/watch?v=_sG_dVeoc1E
                </p>
                <p>
                  Our key features for the beta release include:
                </p>
                <p>
                  1) Calendar and Item management system - You can easily reserve an item to borrow/rent from a friend or a community member. Our notification system also give you an update when it is time to return the item borrowed/rented.
                </p>
                <p>
                  2) Integrated Google map- Find items you want to share/rent based on a preselected location from the user on the platform.
                </p>
                <p>
                  3) Personalized messaging system- Communicate with users directly on the platform.
                </p>
                <p>
                  4) Stripe payment integration- We work directly with stripe for the payment transfer of each rental.
                </p>
                <p>
                  5) Social aspect- You can easily follow people in your community based on the item they have to share or rent. You can also see what people are actively sharing in your network.
                </p>
                <p>
                  6) Rating system- Our rating system gives you a history of the items shared/rented from the user.
                </p>
                <p>
                  Sign in to see what your friends have listed and join the sharing community.
                </p>
                <p>
                  With love, <br>
                  ShareCity
                </p>

                <div class="emailSocialDiv" style="text-align: center;">
                  <a href="http://www.sharecity.net" target="_blank"><%= image_tag(attachments['link.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.facebook.com/sharecityHQ" target="_blank"><%= image_tag(attachments['facebook1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://twitter.com/ShareCityhq" target="_blank"><%= image_tag(attachments['twitter1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.linkedin.com/company/sharecity" target="_blank"><%= image_tag(attachments['linkedin1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.instagram.com/sharecityhq" target="_blank"><%= image_tag(attachments['instagram1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.pinterest.com/sharecityHQ" target="_blank"><%= image_tag(attachments['pinterest.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw" target="_blank"><%= image_tag(attachments['youtube.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                </div>

                <hr>

            </div>
        </div>
    </body>
</html>
