<h1>Hi, <%= @requester.first_name %></h1>
<br>
<h4>
  We regret to inform you that Erik cancelled reservation for item
  "<%= @reservation.item.name.upcase %>" starting on <%= @reservation.start_date %>.
</h4>
<br>
<h4>
  For more information on cancellation payouts, please see our <%= link_to "FAQ", faq_path %>.
  Your calender has been updated to show that previously booked dates are now available.
</h4>
<br>
<h4>
  Regards,
</h4>
<h4>
  The ShareCity Team
</h4>
<br>
<h4>
  P.S. We know getting a cancellation is disappointing. But bookings rarely get cancelled, so don't worry, this isn't likely to happen often!
</h4>
