<h1>New claim</h1>
<br>
<h3>Hi Avi,</h4>
<br>
<h4> A new claim from <%= @claimer.full_name %></h4>
<br>
<h4>User Details</h4>
<p>User id: <%= @claimer.id %></p>
<p>User Email: <%= @claimer.email %></p>
<h4>Claim Details</h4>
  <p>Claim number: <%= @claim.claim_num %></p>
  <p>Claim is about this confirmation number: <%= @claim.confirmation_number %></p>
  <p>Description: <%= @claim.note %></p>
