<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    </head>
    <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
      <style media="screen">
        .emailLogo {
          text-align: center;
          margin-bottom: 25px;
        }
        .emailInvite {
          height: 47px;
          width: 87%;
          background-color: #2baadf;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          font-size: 17px;
          font-weight: 700;
          padding-top: 18px;
        }
        .img_preview {
          width: 31%
        }
        .emailWrapper {
          margin: 0 auto;
          width: 81%;
        }
        .emailSocial {
          width: 6%;
          margin: 30px 17px 30px 17px;
        }
        .emailSocialDiv {
          text-align: center;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
          .emailInvite {
            width: 85%;
            font-size: 12px;
          }
          .img_preview {
            width: 40%
          }
          .emailWrapper {
            width: 95%;
          }
          .emailSocial {
            width: 6%;
            margin: 30px 1px 30px 1px;
          }
        }
      </style>
        <div style="padding: 30px 0 50px;">
            <div class="emailLogo" style="text-align: center;">
                <img src="http://sharecity.net/assets/logo.png" alt="" style="display: block; margin: auto;width: 40%;margin-bottom: 15px;" />
            </div>
            <div style="background-color: #deebf7;border-top: 16px solid #4472c4;padding:25px;">
              <div style="width: 80%; background-color: #fff; margin: auto; padding-top:30px;">
                <h2 style="text-align: left;padding-bottom: 45px; margin:0;font-weight: 600;">Respond to <%= @reservation[0].user.first_name %>'s request for the following item(s) for the following dates: </h2>
                <h3><%= @reservation[0].start_date.strftime('%B %d') %> to <%= @reservation[0].end_date.strftime('%B %d, %Y') %></h3>
                <div style="text-align:center;">
                  <% if @reservation[0].user.provider == "facebook" %>
                    <%= image_tag "//graph.facebook.com/#{@reservation[0].user.uid}/picture?type=large"%>
                  <% elsif @reservation[0].user.provider == "google_oauth2" %>
                    <img style="width: 150px;height: 150px;max-width: 150px;max-height: 150px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 6px solid #f7f7f7;margin-bottom: 15px;"alt="" src="<%= @reservation[0].user.image%>">
                  <% else %>
                    <img style="width: 150px;height: 150px;max-width: 150px;max-height: 150px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 6px solid #f7f7f7;margin-bottom: 15px;"alt="" src="<%= @reservation[0].user.avatar%>">
                  <% end %>
                  <div style="text-align:center">
                    <h3><strong><%= @reservation[0].user.full_name %></strong></h3>
                    <!-- <h4 style="margin: 0">Vancouver, Canada</h4> -->
                    <h4 style="">ShareCity member since <%= @reservation[0].user.created_at.strftime("%b %Y") %></h4>
                  </div>
                  <%#= image_tag @itemAttachment.image.file.file %>
                  <%#= image_tag 'http://sharecity.net/assets/item_attachment/image/' %>
                  <%#= image_tag "//assets/item_attachment/image/#{@itemAttachment.id}/#{@itemAttachment.image.file.filename}"%>
                </div>
                <div style="padding: 45px 0; text-align:center;">
                  <h3>Help <%= @reservation[0].user.first_name %> plan, please reply within 24 hours. Potential earnings for this requests (<%= @reservation[0].price %>/day): <%= (@reservation[0].total.to_i) - (@reservation[0].total.to_i * 0.15 )%>$ (net payment after associated fees.)</h3>
                  <div style="width: 60%; background-color:#5b9bd5; margin: auto;border: 3px solid #4472c4;padding: 15px;color: #fff;margin-bottom: 30px;">
                    <a href="http://sharecity.net/home">Accept/Decline</a>
                  </div>
                </div>
                <div style="text-align:center;padding: 30px 0;">
                  <a href="http://sharecity.net/faq" style="text-decoration: none;">Vist Help Center</a> | <a href="http://sharecity.net/contacts/new" style="text-decoration: none;">Contact ShareCity</a>
                  <br>
                  <br>
                  <%= link_to 'https://www.facebook.com/sharecityhq', style: "text-decoration: none;" do %>
                    <%= image_tag 'http://sharecity.net/assets/facebook1.png', style: 'margin: auto 3px;width: 11%;' %>
                  <% end %>
                  <%= link_to 'https://plus.google.com/110204199144119708599', style: "text-decoration: none;" do %>
                    <%= image_tag 'http://sharecity.net/assets/googleplus.png', style: 'margin: auto 3px;width: 11%;' %>
                  <% end %>
                  <%= link_to 'https://www.linkedin.com/company/sharecity', style: "text-decoration: none;" do %>
                    <%= image_tag 'http://sharecity.net/assets/linkedin1.png', style: 'margin: auto 3px;width: 11%;' %>
                  <% end %>
                  <%= link_to 'https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw', style: "text-decoration: none;" do %>
                    <%= image_tag 'http://sharecity.net/assets/youtube.png', style: 'margin: auto 3px;width: 11%;' %>
                  <% end %>
                  <%= link_to 'https://www.instagram.com/sharecityhq', style: "text-decoration: none;" do %>
                    <%= image_tag 'http://sharecity.net/assets/instagram1.png', style: 'margin: auto 3px;width: 11%;' %>
                  <% end %>
                  <%= link_to 'https://twitter.com/ShareCityhq', style: "text-decoration: none;" do %>
                    <%= image_tag 'http://sharecity.net/assets/twitter1.png', style: 'margin: auto 3px;width: 11%;' %>
                  <% end %>
                </div>
              </div>
              <!-- <p style="color: #a5999c;line-height: 25px;padding: 20px 9px;">
                We hope you found this message to be useful. If you'd rather to not receive future emails of this sort from sharecity.net at xxx@gmail.com, please opt-out here.
              </p> -->
            </div>
        </div>
    </body>
</html>
