<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
      <style media="screen">
        .emailLogo {
          text-align: center;
          margin-bottom: 25px;
        }
        .emailInvite {
          height: 47px;
          width: 87%;
          background-color: #2baadf;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          font-size: 17px;
          font-weight: 700;
          padding-top: 18px;
        }
        .img_preview {
          width: 31%
        }
        .emailWrapper {
          margin: 0 auto;
          width: 81%;
        }
        .emailSocial {
          width: 6%;
          margin: 30px 17px 30px 17px;
        }
        .emailSocialDiv {
          text-align: center;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
          .emailInvite {
            width: 85%;
            font-size: 12px;
          }
          .img_preview {
            width: 40%
          }
          .emailWrapper {
            width: 95%;
          }
          .emailSocial {
            width: 6%;
            margin: 30px 1px 30px 1px;
          }
        }
      </style>
        <div style="padding: 30px 0 50px;">
            <div class="emailLogo" style="text-align: center;">
                <%= image_tag(attachments['logo.png'].url, :class => "img_preview", :style => "width: 40%") %>
            </div>
            <div class="emailWrapper">
                <h1 style="font-size: 1.1em; color: black;">Dear <%= @user.full_name %>,</h1>
                <p style="font-size: 1.1em; color: black;">
                    Thank you for signing up on ShareCity as our very first beta VIP users. We
                    created ShareCity to bring the world together by considerably facilitating the
                    sharing/rental process between friends and the community.<br>
                </p>
                <p style="font-size: 1.1em; color: black;">
                    ShareCity is an all built-in sharing economy platform with personalized item
                    management and notification system. Other features include: calendar
                    integration for item request and management, live messaging service, google
                    maps for item localization, options to follow friends or community members, live
                    feed of which items are being shared/rented in your personalized network
                    and/or community, integrated state-of-the-art secure Stripe payment integration
                    for rentals and a rating system of the user and follower on the platform. We also
                    have an item request service, through which users can request any item from
                    his network or community.<br>
                </p>
                <p style="font-size: 1.1em; color: black;">
                    ShareCity is free to use and we are the first company to integrate a social
                    network aspect in the sharing economy. Now, it is easier to build your sharing
                    community among friends and the community. With our platform, you will be able
                    to share for free and rent for a fee.<br>
                </p>
                <p style="font-size: 1.1em; color: black;">
                    We will be in touch with you regarding the opening day and milestones of
                    ShareCity with a beta release code. We are looking forward to be hearing about
                    your feedback to create the best online sharing platform.<br>
                </p>
                <p style="font-size: 1.1em; color: black;">
                    Please feel free to check us out and like us below on our social media platforms
                    and make sure to invite your friends for the beta release. One of our cofounder
                    will work with you to set up your community.<br>
                </p>

                <div class="emailInvite" style="height: 47px;width: 87%;background-color: #2baadf;color: #fff;text-align: center;margin: 0 auto;font-size: 1.2em;font-weight: 700;padding-top: 18px;">
                    <a href="http://goo.gl/forms/gOewssJ8va97CM2v1" style="color: #fff; text-decoration:none;">Invite 5 of your friends for our beta release and testing</a>
                </div>
                <div class="emailSocialDiv" style="text-align: center;">
                  <a href="http://www.sharecity.net" target="_blank"><%= image_tag(attachments['link.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.facebook.com/sharecityHQ" target="_blank"><%= image_tag(attachments['facebook1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://twitter.com/ShareCityhq" target="_blank"><%= image_tag(attachments['twitter1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.linkedin.com/company/sharecity" target="_blank"><%= image_tag(attachments['linkedin1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.instagram.com/sharecityhq" target="_blank"><%= image_tag(attachments['instagram1.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.pinterest.com/sharecityHQ" target="_blank"><%= image_tag(attachments['pinterest.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                  <a href="https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw" target="_blank"><%= image_tag(attachments['youtube.png'].url, :class => "emailSocial", :style => "width: 6%;margin: 30px 10px 30px 10px;") %></a>
                </div>

                <hr>

            </div>
        </div>
    </body>
</html>
