<p id="notice"><%= notice %></p>

<h1>Listing Item Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_attachments.each do |item_attachment| %>
      <tr>
        <td><%= item_attachment.item_id %></td>
        <td><%= item_attachment.image %></td>
        <td><%= link_to 'Show', item_attachment %></td>
        <td><%= link_to 'Edit', edit_item_attachment_path(item_attachment) %></td>
        <td><%= link_to 'Destroy', item_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item attachment', new_item_attachment_path %>
