<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_attachment.item_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item_attachment.image %>
</p>

<%= link_to 'Edit', edit_item_attachment_path(@item_attachment) %> |
<%= link_to 'Back', item_attachments_path %>
