<div class="row row-conv">
  <% if conversation.sender == current_user %>
    <div class="col-md-2">
      <a href="<%= message_path(conversation) %>" data-remote="true">
        <% if conversation.recipient.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{conversation.recipient.uid}/picture?type=square", class:"circle msgImg" %>
        <% elsif conversation.recipient.provider == "google_oauth2" %>
          <img alt="" src="<%= conversation.recipient.image%>" style = "width: 80px; height:80px" class="circle">
        <% else %>
          <img alt="" src="<%= conversation.recipient.avatar%>" style = "width: 80px; height:80px" class="circle">
        <% end %>
      </a>
    </div>
    <div class="col-md-10 col-conv" id="<%= "convo-#{conversation.id}" %>">
      <span class="name" style="min-width: 120px;">
        <strong><%= link_to recipient_name(conversation).capitalize,  message_path(conversation), class: "name-conv", 'data-cid' => conversation.id %></strong>

        <div class="new-message-alert-mobile">
          <%= 'new' if conversation.unread_msgs?(current_user) %>
        </div> <br>
        <span class="badge"><%= conversation.message_time %></span>
      </span> <br>
    </div>
 <% else %>
    <div class="col-md-2">
      <a href="<%= message_path(conversation) %>" data-remote="true">
        <% if conversation.sender.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{conversation.sender.uid}/picture?type=square", class:"circle msgImg" %>
        <% elsif conversation.sender.provider == "google_oauth2" %>
          <img alt="" src="<%= conversation.sender.image%>" style = "width: 80px; height:80px" class="circle">
        <% else %>
          <img alt="" src="<%= conversation.sender.avatar%>" style = "width: 80px; height:80px" class="circle">
        <% end %>
      </a>
    </div>
    <div class="col-md-10 col-conv" id="<%= "convo-#{conversation.id}" %>">
      <span class="name" style="min-width: 120px;">
        <strong><%= link_to sender_name(conversation).capitalize, message_path(conversation), class: "name-conv", 'data-cid' => conversation.id %></strong>
        <div class="new-message-alert-mobile">
          <%= 'new' if conversation.unread_msgs?(current_user) %>
        </div>
        <br> <span class="badge"><%= conversation.message_time %></span>
      </span> <br>
    </div>
  <% end %>
</div>
