<div class="row row-conv">
  <% if conversation.sender == current_user %>
    <div class="col-xs-12 col-sm-2">
      <a href="<%= message_path(conversation) %>" data-remote="true">
        <% if conversation.recipient.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{conversation.recipient.uid}/picture?type=square", class:"circle msgImg", 'data-cid' => conversation.id %>
        <% elsif conversation.recipient.provider == "google_oauth2" %>
          <img alt="" src="<%= conversation.recipient.image%>" style = "width: 80px; height:80px" class="circle msgImg" data-cid="<%= conversation.id %>">
        <% else %>
          <img alt="" src="<%= conversation.recipient.avatar%>" style = "width: 80px; height:80px" class="circle msgImg" data-cid="<%= conversation.id %>">
        <% end %>
      </a>
    </div>
    <div class="hidden-xs col-sm-10 col-conv" id="<%= "convo-#{conversation.id}" %>">
      <span class="name" style="min-width: 120px;">
        <strong><%= link_to recipient_name(conversation).capitalize,  message_path(conversation), remote: true, class: "name-conv", 'data-cid' => conversation.id %></strong>

        <div class="new-message-alert">
          <%= 'new' if conversation.unread_msgs?(current_user) %>
        </div> <br>
        <span class="badge"><%= conversation.message_time %></span>
        <span id="delete_conv">
          <%= link_to conversation_path(conversation), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </span>
      </span> <br>
    </div>
 <% else %>
    <div class="col-xs-12 col-sm-2">
      <a href="<%= message_path(conversation) %>" data-remote="true">
        <% if conversation.sender.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{conversation.sender.uid}/picture?type=square", class:"circle msgImg", 'data-cid' => conversation.id %>
        <% elsif conversation.sender.provider == "google_oauth2" %>
          <img alt="" src="<%= conversation.sender.image%>" style = "width: 80px; height:80px" class="circle msgImg" data-cid="<%= conversation.id %>">
        <% else %>
          <img alt="" src="<%= conversation.sender.avatar%>" style = "width: 80px; height:80px" class="circle msgImg" data-cid="<%= conversation.id %>">
        <% end %>
      </a>
    </div>
    <div class="hidden-xs col-sm-10 col-conv" id="<%= "convo-#{conversation.id}" %>">
      <span class="name" style="min-width: 120px;">
        <strong><%= link_to sender_name(conversation).capitalize, message_path(conversation), remote: true, class: "name-conv", 'data-cid' => conversation.id %></strong>
        <div class="new-message-alert">
          <%= 'new' if conversation.unread_msgs?(current_user) %>
        </div>
        <br> <span class="badge"><%= conversation.message_time %></span>
      </span> <br>
    </div>
  <% end %>
</div>
