<!-- <div class="wrapper-main"> -->
<div class="container container-conv">
    <div class="row">
        <div class="col-xs-2 col-sm-5 col6-conv">
            <ul class="nav nav-tabs nav-conv">
                <li class="active">
                    <a href="#conversations" data-toggle="tab">Conversations</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tab-conv">
                <div class="tab-pane fade in active" id="conversations">
                    <% if @conversations %>
                    <% @conversations.each do |conversation| %>
                    <%= render partial: 'conversation', locals: { conversation: conversation } %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-md-7 msg-render"></div>
        <div class="hidden-form-conv"></div>
    </div>
</div>
