<!-- Shared a new item <%#= link_to activity.trackable.name, activity.trackable %> -->

Shared a new item

<% if activity.trackable %>
  <%= link_to activity.trackable.name, activity.trackable %>
<% else %>
  which has since been removed
<% end %>
