<section id="edit-profile-section">
  <br id="top-br">

  <div class="container desktop">
    <div class="col-xs-12 col-md-10 edit-form-margin">
      <br>
      <br>
      <div class="well">
        <div class="row">
          <% unless @user.provider? %>
          <%= simple_form_for @user, url: users_create_email_path do |f| %>
          <div class="row">
            <div class="namerowcol col-xs-12 col-md-12">
              <div class="col-xs-3 col-md-2 avatar-modal-btn avatar-modal-btn">
                <%= image_tag @user.avatar.url%>
                <%#= f.input :avatar %>
              </div>
              <div aria-labelledby="myModalLabel" class="modal fade" id="avatarModal" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body user-modal">
                      <%= f.input :avatar %>
                    </div>
                    <div class="modal-footer">
  						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%#= f.submit 'Update image', class: 'color-btn green-btn' %>
  						      </div>
                  </div>
                </div>
              </div>
              <div class="h_name col-xs-12 col-md-10">
                <div class="icondiv icondiv1 col-xs-2 col-md-1">
                  <!-- <div class="fa fa-user-md fa-2x marg"></div> -->
                </div>
                <div class="col-xs-5 col-md-6 first">
                  <%= f.input :first_name, placeholder: "First Name", label: false %>
                </div>
                <!-- <div class="icondiv icondiv1 col-md-1">
                <div class="fa fa-user fa-3x"></div>
              </div> -->
              <div class="col-xs-5 col-md-6 last">
                <%= f.input :last_name, placeholder: "Last Name", label: false %>
              </div>
              <hr class="hr-name-line">
            </div>
          </div>
        </div>

        <div class="icondiv col-xs-2 col-md-1">
          <div style="margin-left: 24px;"class="fa fa-envelope-o fa-2x marg"></div>
        </div>
        <div class="col-xs-10 col-md-11">
          <%= f.input :email, placeholder: "Email", label: false %>
        </div>

        <!-- <div class="icondiv icondiv2 col-md-1">
        <div class="fa fa-map-marker fa-2x marg"></div>
      </div>
      <div class="col-md-11">
      <%#= f.input :postal_code, placeholder: "Postal Code/Zip", label: false %>
    </div> -->
    <div class="col-xs-12 col-md-12">
      <% unless @user.provider? %>
      <hr>
      <br>
    </div>

    <div class="form-leftside col-xs-12 col-md-12">
      <div class="icondiv col-md-1 col-xs-2">
        <div class="fa fa-globe fa-2x marg"></div>
      </div>
      <div class="col-md-5 col-xs-10 first">
        <%= f.input :location, placeholder: 'City', label: false %>
      </div>
      <div class="col-xs-12 col-md-12">
        <hr>
      </div>
      <div class="icondiv col-md-1 col-xs-2">
        <div class="fa fa-map-marker fa-2x marg"></div>
      </div>
      <div class="col-md-6 col-xs-5 last">
        <%= f.input :postal_code, placeholder: 'Postal Code/Zip Code', label: false %>
      </div>

      <div class="col-xs-12 col-md-12">
        <hr>
      </div>

      <% if @user.persisted? %>
      <div class="icondiv col-xs-2 col-md-1">
        <div class="fa fa-lock fa-2x marg"></div>
      </div>
      <div class="col-xs-10 col-md-11">
        <%= f.input :current_password, placeholder: "Current Password", label: false %>
      </div>
      <div class="col-xs-12 col-md-12">
        <hr>
      </div>
      <% end %>
      <div class="icondiv col-xs-2 col-md-1">
        <div class="fa fa-lock fa-2x marg"></div>
      </div>
      <div class="col-xs-10 col-md-11">
        <%= f.input :password, placeholder: "New Password", label: false %>
      </div>
      <div class="col-xs-12 col-md-12">
        <hr>
        <br>
      </div>
      <div class="icondiv col-xs-2 col-md-1">
        <div class="fa fa-lock fa-2x marg"></div>
      </div>
      <div class="col-xs-10 col-md-11">
        <%= f.input :password_confirmation, placeholder: "Confirm New Password", label: false %>
      </div>
      <div class="col-xs-12 col-md-12">
        <hr>
      </div>
      <% end %>
      <div class="row">
        <div class="btn-group update-btn-group">
          <div class="moveme">
            <%= f.submit class: "btn btn-primary update-btn" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
    <%= simple_form_for @user, url: users_path do |f| %>
    <div class="row">
      <div class="namerowcol col-md-12">
        <div class="col-md-2 avatar-modal-btn avatar-modal-btn">
          <%#= image_tag @user.avatar.url(:large) %>
          <% if @user.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{@user.uid}/picture?type=large" %>
          <% elsif @user.provider == "google_oauth2" %>
          <img alt="" src="<%= @user.image%>">
          <% end %>
        </div>
        <div class="h_name col-md-10">
          <div class="icondiv icondiv1 col-md-1">
            <div class="fa fa-user-md fa-2x marg"></div>
          </div>
          <div class="col-md-6">
            <%= f.input :first_name, placeholder: "First Name", label: false %>
          </div>
          <div class="col-md-6">
            <%= f.input :last_name, placeholder: "Last Name", label: false %>
          </div>
          <hr class="hr-name-line">
        </div>
      </div>
    </div>
    <br>
    <div class="form-leftside col-md-12">
      <div class="row">
        <div class="btn-group update-btn-group">
          <div class="moveme">
            <%= f.submit class: "btn btn-primary update-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
</div>


<div class="container noPadding mobile" id="container-mobile-profile">
  <% unless @user.provider? %>
  <%= simple_form_for @user, url: users_create_email_path do |f| %>
  <div class="row">
    <div class="col-xs-12 avatar-modal-btn2 text-center">
      <!-- <div class="col-xs-12 avatar-modal-btn2 text-center"> -->
      <%= image_tag @user.avatar.url, id:"prof-img" %>
      <!-- </div> -->
      <div aria-labelledby="myModalLabel" class="modal fade" id="avatarModal2" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body user-modal">
              <%= f.input :avatar %>
            </div>
            <div class="modal-footer">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding:20px 10px;">
      <i class="fa fa-users fa-2x" aria-hidden="true" style="color:#c8c6cc;"></i>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c8c6cc;border-bottom: 1px solid #c8c6cc;">
      <%= f.input :first_name, placeholder: "First Name", label: false %>
    </div>
    <div class="col-xs-12 noPadding" style="border-bottom: 1px solid #c8c6cc;">
      <%= f.input :last_name, placeholder: "Last Name", label: false %>
    </div>
    <div class="col-xs-12" style="padding:20px 10px;">
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="color:#c8c6cc;"></i>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c8c6cc;border-bottom: 1px solid #c8c6cc;">
      <%= f.input :email, placeholder: "Email", label: false %>
    </div>
    <div class="col-xs-12" style="padding:20px 10px;">
      <i class="fa fa-globe fa-2x" aria-hidden="true" style="color:#c8c6cc;"></i>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c8c6cc;border-bottom: 1px solid #c8c6cc;">
      <%= f.input :location, placeholder: 'City', label: false %>
    </div>
    <% if @user.persisted? %>
    <div class="col-xs-12" style="padding:20px 10px;">
      <i class="fa fa-key fa-2x" aria-hidden="true" style="color:#c8c6cc;"></i>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c8c6cc;border-bottom: 1px solid #c8c6cc;">
      <%= f.input :current_password, placeholder: "Current Password", label: false %>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c8c6cc;border-bottom: 1px solid #c8c6cc;">
      <%= f.input :password, placeholder: "New Password", label: false %>
    </div>
    <div class="col-xs-12 noPadding" style="border-bottom: 1px solid #c8c6cc;">
      <%= f.input :password_confirmation, placeholder: "Confirm New Password", label: false %>
    </div>
    <% end %>
    <div class="col-xs-12 text-center">
      <%= f.submit class: "btn btn-primary update-btn" %>
    </div>
  </div>
  <% end %>
  <% else %>
  <%= simple_form_for @user, url: users_path do |f| %>
  <div class="row">
    <div class="col-xs-12 text-center" style="padding:20px;background: #fff;">
      <%= image_tag @user.avatar.url(:large) %>
      <% if @user.provider == "facebook" %>
      <%= image_tag "//graph.facebook.com/#{@user.uid}/picture?type=large" %>
      <% elsif @user.provider == "google_oauth2" %>
      <img alt="" src="<%= @user.image%>" class= "circle">
      <% end %>
    </div>
    <div class="col-xs-12" style="padding:20px 10px;">
      <i class="fa fa-users fa-2x" aria-hidden="true" style="color:#c8c6cc;"></i>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c9c7cc;border-bottom: 1px solid #c9c7cc;">
      <%= f.input :first_name, placeholder: "First Name", label: false %>
    </div>
    <div class="col-xs-12 noPadding" style="border-bottom: 1px solid #c9c7cc;">
      <%= f.input :last_name, placeholder: "Last Name", label: false %>
    </div>
    <div class="col-xs-12" style="padding:20px 10px;">
      <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color:#c8c6cc;"></i>
    </div>
    <div class="col-xs-12 noPadding" style="border-top: 1px solid #c9c7cc;border-bottom: 1px solid #c9c7cc;">
      <%= f.input :about_me, placeholder: "About me", label: false %>
    </div>
    <div class="col-xs-12 text-center">
      <input type="submit" name="commit" value="Edit Profile" class="btn btn-primary update-btn">
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</section>
