
  <br id="top-br">

  <div class="container">
    <div class="col-xs-12 col-md-10 edit-form-margin">
      <br>
      <br>
      <div class="well signUpwell">
        <div class="row">
          <div id="leftDiv" class="col-xs-4">
            <h3 style="color: #fff;text-align: center;">or just sign up using</h3>
            <br>
            <hr style="border-top: 2px solid#378cac;">
            <br>
            <div style="text-align:center;" class="">
              <a href="/auth/facebook"><%= image_tag("facebook2.png", :class => "socialImg") %></a>
              <a href="/auth/google_oauth2"><%= image_tag("googleplus2.png", :class => "socialImg") %></a>
            </div>
          </div>
          <br>
          <%= simple_form_for @user, url: users_create_email_path do |f| %>
          <div class="col-xs-12 col-sm-8">
            <div class="col-xs-12 firstName">
              <div  style="padding-left: 0;" class="col-xs-12 col-sm-6 padNone">
                <div class=""><%= image_tag("icon1.png", :class => "imgName") %></div>
                <%= f.input :first_name, placeholder: "First Name", label: false %>
              </div>
              <div class="col-xs-12 col-sm-6 padNone">
                <%= f.input :last_name, placeholder: "Last Name", label: false %>
              </div>
            </div>
            <div class="col-xs-12 firstName">
            </div>
            <div class="col-xs-12 firstName">
              <div style="margin-left: 24px;position: absolute;top: 21px;left: 3px;color: #a6a6a6;"class="fa fa-envelope-o fa-2x marg"></div>
              <%= f.input :email, placeholder: "Email Address", label: false %>
            </div>
            <div class="col-xs-12 firstName">
              <div style="margin-left: 24px;position: absolute;top: 21px;left: 3px;color: #a6a6a6;" class="fa fa-globe fa-2x marg"></div>
              <%= f.input :location, placeholder: 'City', label: false %>
            </div>
            <div class="col-xs-12 firstName">
              <div style="margin-left: 28px;position: absolute;top: 21px;left: 3px;color: #a6a6a6;" class="fa fa-map-marker fa-2x marg"></div>
              <%= f.input :postal_code, placeholder: 'Postal Code/Zip Code', label: false %>
            </div>
            <div class="col-xs-12 firstName">
              <div style="padding-left: 0;" class="col-xs-12 col-sm-6 padNone">
                <div class=""><%= image_tag("password.png", :class => "imgName3") %></div>
                <%= f.input :password, placeholder: "New Password", label: false %>
              </div>
              <div class="col-xs-12 col-sm-6 padNone">
                <%= f.input :password_confirmation, placeholder: "Confirm New Password", label: false %>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-12 col-sm-7">
                <!-- <h4 style="font-size:14px;color: #c4c4c4;padding-top: 16px;">By submitting this form you agree to ShareCity's</h4> -->
                <!-- <h4 style="color:#3f93b2;font-size: 14px;">Terms & Services</h4> -->
              </div>
              <div style="padding-left: 35px;" class="col-xs-12 col-sm-5">
                <%= f.submit 'Join ShareCity', class: "btn btn-primary update-btn2" %>
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
