<h2><%= @user.first_name.capitalize %>'s Items</h2>
<% @userItems = @user.items.where(approved: true).order(created_at: :desc) %>
<% @userItems.each do |item| %>
<div style="margin-bottom: 32px;" class="col-xs-6">
  <% if item.item_attachments.present? %>
  <%= image_tag item.item_attachments.first.image_url, style: 'width: 253px; height: 169px;' %>
  <% else %>
  <%= image_tag "missing", style: 'width: 157px; height: 80px;' %>
  <% end %>
  <br/>
  <h1 id="usrTit"><%= link_to item.name.capitalize, item_path(item) %><br/></h1>
  <%= rating_for item, 'visual_effects', stars: 5, enable_half: true %>
</div>
<% end %>
