<div class="container">
  <div class="row">
    <aside class="col-md-8">
      <% @user.following.each do |f| %>
        <%= image_tag f.image || f.avatar, :style => "width: 50px; height: 50px;", class: "circle"  %>
        <%= link_to f.first_name, user_path(f) %>
      <% end %>
    </aside>
  </div>
</div>
