
<%#= link_to 'Share on Facebook', "https://www.facebook.com/dialog/share?
  app_id=xxxxxxxxxxxxxx&href=#{request.original_url}&redirect_uri=#{request.original_url}" %>

  <div class="container">

  <!-- <h1 class="usernew-ac">Edit Profile</h1> -->


  <%= render "edit" %>

  </div>
