<!-- <div class="container"> -->

<!-- <h3 class="usernew-ac">Sign up <strong>for your Account</strong></h3> -->
<br>
<h1 class="signTitle">Create Your Account</h1>
<br>
<h4 class="signSubtitle">Join the ShareCity community.</h4>
<!-- <h4 style="padding-left: 144px; color:#868686;display: inline-block;">Come join the ShareCity community let's set up your account. Already have one?</h4><div class="signInDiv"><%#= link_to "Sign In", new_session_path, :style => "color:#fff;text-decoration: none;" %></div> -->


<%= render "form" %>

<!-- </div> -->
