<% unless @user.provider? %>
<%= simple_form_for @user, url: users_create_email_path do |f| %>
<!-- <div class="row"> -->
  <div class="col-xs-12">
    <div class="col-xs-4 avatar-modal-btn2">
      <%= image_tag @user.avatar.url(:large) %>
    </div>
    <div aria-labelledby="myModalLabel" class="modal fade" id="avatarModal2" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body user-modal">
            <%= f.input :avatar %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col8-pad">
      <div class="icondiv icondiv1 col-xs-2 col-md-1">
        <!-- <div class="fa fa-user-md fa-2x marg"></div> -->
      </div>
      <div class="col-xs-9 col-md-6" style="padding-left: 0;">
        <%= f.input :first_name, placeholder: "First Name", label: false %>
      </div>
      <!-- <div class="icondiv icondiv1 col-md-1">
        <div class="fa fa-user fa-3x"></div>
      </div> -->
      <hr class="hr-name-line">
    </div>
  </div>
<!-- </div> -->
<br>
<div class="form-leftside col-xs-12 col-md-12">
  <div class="icondiv col-xs-2 col-md-1">
    <!-- <div class="fa fa-user-md fa-2x marg"></div> -->
  </div>
  <div class="col-xs-10">
    <%= f.input :last_name, placeholder: "Last Name", label: false %>
  </div>
  <div class="col-xs-12 col-md-12">
    <hr>
    <br>
  </div>
  <div class="icondiv col-xs-2 col-md-1">
    <div class="fa fa-envelope-o fa-2x marg"></div>
  </div>
  <div class="col-xs-10 col-md-11">
    <%= f.input :email, placeholder: "Email", label: false %>
  </div>
  <div class="col-xs-12 col-md-12">
    <hr>
    <br>
  </div>
  <div class="icondiv col-xs-2 col-md-1">
    <div class="fa fa-globe fa-2x marg"></div>
  </div>
  <div class="col-xs-10 col-md-11">
    <%= f.input :location, placeholder: 'City', label: false %>
  </div>
  <div class="col-xs-12 col-md-12">
    <hr>
    <br>
  </div>
  <div class="icondiv col-xs-2 col-md-1">
    <div class="fa fa-location-arrow fa-2x marg"></div>
  </div>
  <div class="col-xs-10 col-md-11">
    <%= f.input :postal_code, placeholder: 'Postal Code', label: false %>
  </div>
  <!-- <div class="col-md-12">
    <hr>
    <br>
  </div> -->
  <!-- <div class="icondiv icondiv2 col-md-1">
    <div class="fa fa-map-marker fa-2x marg"></div>
  </div>
  <div class="col-md-11">
    <%#= f.input :postal_code, placeholder: "Postal Code/Zip", label: false %>
  </div> -->
  <div class="col-xs-12 col-md-12">
    <% unless @user.provider? %>
    <hr>
    <br>
  </div>
  <% if @user.persisted? %>
  <div class="icondiv col-xs-2 col-md-1">
    <div class="fa fa-lock fa-2x marg"></div>
  </div>
  <div class="col-xs-10 col-md-11">
    <%= f.input :current_password, placeholder: "Current Password", label: false %>
  </div>
  <div class="col-xs-12 col-md-12">
    <hr>
  </div>
      <% end %>
      <div class="icondiv col-xs-2 col-md-1">
        <div class="fa fa-lock fa-2x marg"></div>
      </div>
      <div class="col-xs-10 col-md-11">
        <%= f.input :password, placeholder: "New Password", label: false %>
      </div>
      <div class="col-xs-12 col-md-12">
        <hr>
        <br>
      </div>
      <div class="icondiv col-xs-2 col-md-1">
        <div class="fa fa-lock fa-2x marg"></div>
      </div>
      <div class="col-xs-10 col-md-11">
        <%= f.input :password_confirmation, placeholder: "Confirm New Password", label: false %>
      </div>
      <div class="col-xs-12 col-md-12">
        <hr>
      </div>
      <% end %>
      <div class="row">
        <div class="btn-group update-btn-group">
          <div class="moveme">
            <%= f.submit class: "btn btn-primary update-btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
  <%= simple_form_for @user, url: users_path do |f| %>
    <!-- <div class="row"> -->
      <!-- <div class="namerowcol col-md-12"> -->
        <div class="col-md-2 avatar-modal-btn2">
          <%= image_tag @user.avatar.url(:large) %>
          <% if @user.provider == "facebook" %>
            <%= image_tag "//graph.facebook.com/#{@user.uid}/picture?type=large" %>
          <% elsif @user.provider == "google_oauth2" %>
            <img alt="" src="<%= @user.image%>">
          <% end %>
        </div>
        <div aria-labelledby="myModalLabel" class="modal fade" id="avatarModal" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body user-modal">
                <%= f.input :avatar %>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12"> -->
          <!-- <div class="icondiv icondiv1 col-md-1">
            <div class="fa fa-user-md fa-2x marg"></div>
          </div> -->
          <div class="col-xs-12">
            <%= f.input :first_name, placeholder: "First Name", label: false %>
          </div>
          <div class="col-xs-12">
            <%= f.input :last_name, placeholder: "Last Name", label: false %>
          </div>
          <!-- <hr class="hr-name-line"> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <br>
    <div class="form-leftside col-md-12">
      <!-- <div class="icondiv icondiv2 col-md-1">
        <div class="fa fa-map-marker fa-2x marg"></div>
      </div>
      <div class="col-md-11">
        <%#= f.input :postal_code, placeholder: "Postal Code/Zip", label: false %>
      </div> -->
      <div class="row">
        <div class="btn-group update-btn-group">
          <div class="moveme">
            <%= f.submit 'Edit Profile', class: "btn btn-primary update-btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
