<div class="wrapper-main desktop">

  <!-- <div class="container"> -->
    <div class="row profile">
      <div class="col-xs-4" style="margin-top: 7px;">
        <div class="profileImg">
          <% if @user.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{@user.uid}/picture?type=large"%>
          <% elsif @user.provider == "google_oauth2" %>
          <img alt="" src="<%= @user.image%>">
          <% else %>
          <img alt="" src="<%= @user.avatar%>">
          <% end %>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="col-xs-6">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/"><%= @user.full_name.capitalize%></a> <br>
            <h4>A member since <%= @user.created_at.strftime("%b %Y") %></h4>
            <%# if @user.online? %>
              <!-- online -->
            <%# end %>
            <div class="desc"><i class="fa fa-map-marker" style="padding-left: 4px; color: #4692b4;"></i>&nbsp;&nbsp;<%= @user.location || 'n/a' %></div>
          </div>
        </div>
        <div class="col-xs-6 followMe">
          <%= render 'follow_form' if user_signed_in? %>
        </div>
      </div>
    </div>
    <div class="row sideProfile">
      <div class="col-xs-4" style="margin-top: 7px;">
        <div class="panel panel-default pnaelColor">
            <div class="panel-heading">
              About Me
            </div>
            <div class="panel-body">
              <%if @user == current_user %>
              <button type="button" class="btn btn-danger btn-xs" id="edit-about">edit</button>

              <!-- Modal -->
              <div id="myModalAboutme" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit About me</h4>
                    </div>
                    <div class="modal-body">
                      <form class="">
                        <input class="string optional form-control" placeholder="about me" value="<%= @user.about_me %>" type="text" name="user[about_me]" id="user_about_me">
                      </form>
                      <div class="row">
                        <div class="col-xs-6">
                          <input type="submit" name="commit" value="Save" class="btn btn-primary" id="update-btn-aboutMe">
                        </div>
                        <div class="col-xs-6">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <p id="p-aboutme"><%= @user.about_me %></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-header">
              Information
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row infoPanel activePanel myItem">
                    <h4>My Items <small><%= @user.items.where(approved: true).count %></small></h4>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="row infoPanel inactiveP1 myFollowing">
                    <h4>Following <small><%= @user.following.count %></small></h4>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="row infoPanel inactiveP2 myFollowers">
                    <h4>Followers <small><%= @user.followers.count %></small></h4>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <% if @user != current_user %>
        <div class="panel panel-default">
            <div class="panel-header">
              Contact Info
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="ui list uilist user-message" data-avatar="<%= avatar(current_user) %>" data-sid="<%= current_user.id %>" data-rid="<%= @user.id %>">
                    <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i><%= link_to 'Message Me', '#', class: 'wide message-btn' %>
                    <div id="new_conversation">
                      <textarea id="new-message-box" class="messageBox"></textarea><br/>
                      <button class="btn btn-primary sBtn" id="new-message-btn">Send</button>
                    </div>

                    <div id="message-alert"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>
      <div class="col-xs-8 itemPartial" style="margin-top: 7px;">
        <%= render 'myitems' %>
      </div>
      <div class="col-xs-8 followingPartial" style="margin-top: 7px;">
        <h2><%= @user.first_name.capitalize %>'s Following</h2>
        <%= render 'show_following' %>
      </div>
      <div class="col-xs-8 followersPartial" style="margin-top: 7px;">
        <h2><%= @user.first_name.capitalize %>'s Followers</h2>
        <%= render 'show_followers' %>
      </div>
    </div>
</div>


<div class="wrapper mobile" style="padding-top: 25px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 user-message-mobile" id="lol" style="text-align: right;color: #4692b4;padding-top: 20px;" data-avatar="<%= avatar(current_user) %>" data-sid="<%= current_user.id %>" data-rid="<%= @user.id %>">
          <a href="#" data-toggle="modal" data-target="#myMobileModal" aria-hidden="true"><i class="fa fa-comment fa-3x"></i></a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myMobileModal" tabindex="-1" role="dialog" aria-labelledby="myMobileModal">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send a message</h4>
              </div>
              <div class="modal-body">
                <div id="new_conversation-mobile">
                  <textarea id="new-message-box-mobile"></textarea><br/>
                  <button type="submit" class="btn btn-primary sBtn" id="new-message-btn-mobile">Send</button>
                </div>
                <div id="message-alert-mobile"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-4" style="text-align: center">
          <% if @user.provider == "facebook" %>
          <%= image_tag "//graph.facebook.com/#{@user.uid}/picture?type=large", style: 'width: 79px; height: 79px;', class: 'circle'%>
          <% elsif @user.provider == "google_oauth2" %>
          <img  class= "circle" alt="" src="<%= @user.image%>" style= "width: 79px; height: 79px;">
          <% else %>
          <img  class= "circle" alt="" src="<%= @user.avatar%>" style= "width: 79px; height: 79px;">
          <% end %>
        </div>
        <div class="col-xs-4" style="text-align: left;color: #4692b4;position: relative;top: 32px;right: 7px;font-size: 17px;">
          <!-- <span>Follow</span> -->
          <%= render 'follow_form' if user_signed_in? %>
        </div>
        <div class="col-xs-12" style="text-align:center; color:#4692b4;">
          <h1><%= @user.full_name.capitalize %></h1>
          <p>
            Member since <%= @user.created_at.strftime("%d %b. %Y") %>
          </p>
        </div>
        <div class="col-xs-6">
          <% @user ||= current_user %>
          <div class="stats" style="padding: 20px; text-align:center; font-size: 15px;font-weight: 700;">
            <strong id="following" class="stat">
              <%= @user.following.count %>
            </strong>
            following
          </div>
        </div>
        <div class="col-xs-6">
          <div class="stats" style="padding: 20px; text-align:center; font-size: 15px;font-weight: 700;">
            <strong id="followers" class="stat">
              <%= @user.followers.count %>
            </strong>
            followers
          </div>
        </div>
        <div class="col-xs-12">
          <hr style="height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><%= @user.first_name.capitalize + "'s items" %></h3>
        </div>
        <!-- <div class="col-xs-12"> -->
        <% @user.items.each do |item| %>
        <div style="margin-bottom: 32px;text-align: center;" class="col-xs-4">
          <% if item.item_attachments.present? %>
          <%= image_tag item.item_attachments.first.image_url, style: 'width: 75px; height: 75px;margin: 0 auto;display: block;', class: 'circle'  %>
          <% else %>
          <%= image_tag "missing", style: 'width: 75px; height: 75px;margin: 0 auto;display: block;', class: 'circle'  %>
          <% end %>
          <br/>
          <%#= image_tag a.image_url, style: 'width: 100px;' %><br/>
          <h2 id="usrTit"><%= link_to item.name.capitalize, item_path(item) %><br/></h2>
          <%#= rating_for item, 'visual_effects', stars: 5, enable_half: true %>
        </div>
        <% end %>

      </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.myFollowing').on('click', function() {
    $('.itemPartial').hide();
    $('.followersPartial').hide();
    $('.followingPartial').show();
    $('.myItem').css('background-color', '#fff');
    $('.myFollowers').css('background-color', '#fff');
    $('.myFollowing').css('background-color', '#f5f5f5');
  });
  $('.myFollowers').on('click', function() {
    $('.itemPartial').hide();
    $('.followingPartial').hide();
    $('.followersPartial').show();
    $('.myFollowing').css('background-color', '#fff');
    $('.myItem').css('background-color', '#fff');
    $('.myFollowers').css('background-color', '#f5f5f5');
  });
  $('.myItem').on('click', function() {
    $('.followingPartial').hide();
    $('.followersPartial').hide();
    $('.itemPartial').show();
    $('.myItem').css('background-color', '#f5f5f5');
    $('.myFollowing').css('background-color', '#fff');
    $('.myFollowers').css('background-color', '#fff');
  });
  // $('.inactivePanel').on('click', function() {
  //   $(this).removeClass("inactivePanel");
  //   $(this).addClass("activePanel");
  // });
  $( ".message-btn" ).click(function() {
    $('.card.hovercard').toggleClass("cardUser");
  });

  $('#edit-about').on('click', function(event) {
    $('#myModalAboutme').modal('show');
  })

  $('#update-btn-aboutMe').on('click', function(e) {
    var aboutMe = $('input#user_about_me').val();
    $.ajax({
      type: 'PUT',
      data: {editAboutme: aboutMe},
      url: '/about_me_edit',
      success: function(data){
        console.log(data);
        $('#myModalAboutme').modal('hide');
        $('input#user_about_me').val("");
        $('#p-aboutme').text(data.content);
      }
    })
  });

});
</script>
