<% if @user.errors.any? %>
  <div id='error_explanation'>
    <h2>
      <%= pluralize(@user.errors.count, 'error') %>
      prohibited this user from being saved:
    </h2>
    <p>There were problem with the following fields</p>
    <ul>
      <% @user.errors.full_messages.each do |mesage| %>
        <li><%= full_messages %></li>
      <% end %>
    </ul>
  </div>
<% end %>
