<section id="home-page-section">
  <div class="container">
    <div class="row intro-header2">
      <div class="col-xs-12">
        <h3 style="color: #676767;">What are you looking for?</h3>
        <br>
        <div class="container-1">
          <span class="icon"><i class="fa fa-search"></i></span>
          <%= form_tag(items_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "#Search for items" %>
          <%#= submit_tag "Search" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 btnsMain mobile">
        <a class="semi-transparent-button with-border" id="btn1" href="#">Accepted Reservations</a>

        <a class="semi-transparent-button with-border" id="btn2" href="#">Request Pending</a>

        <a class="semi-transparent-button with-border" id="btn3" href="#">Request Received</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 feedMobile">
        <div class="twt-wrapper">
          <div class="panel feed">
            <div class="panel-heading about-bk-color">
              Feed
            </div>
            <div class="panel-body about-size" id="item-post-feed">
              <% @feedItems.each do |item| %>
              <%# if current_user.following?(item.user) || item.shared? %>
              <div class="feed-item">
                <div class="row">
                  <div class="col-xs-3 col-sm-2">
                    <% if item.item_attachments.present? %>
                    <%= image_tag item.item_attachments.first.image_url, class: "feIm" %>
                    <% else %>
                    <%= image_tag "missing", class: "feIm" %>
                    <% end %>
                  </div>
                  <div class="col-xs-9 col-sm-10">
                    <div class="row">
                      <div class="col-xs-8">
                        <span class="item-name"><%= link_to "#{item.name}", item_path(item) %></span>
                      </div>
                      <div class="col-xs-4 bookDiv">
                        <% if item.user != current_user %>
                        <span class="book-item">
                          <%= link_to 'Request', item_path(item) %>
                        </span>
                        <% end %>
                      </div>
                    </div>
                    <%= item.desc[0..14] + "..." %><br/>
                    <div class="">
                      <%= tags(item) %>
                    </div>
                    <div class="">
                      <strong>Owner:</strong> <%= link_to "#{username(item.user)[0..5]}", user_path(item.user) %>
                    </div>
                  </div>
                </div>
                <div class="row rowInfo">
                  <div class="col-xs-5">
                    <strong>Price:</strong> <%= pricetag(item) %>
                  </div>
                  <div class="col-xs-7">
                    <strong>Postal code:</strong> <%= item.postal_code %>
                  </div>
                  <!-- <div class="col-xs-4">
                    <strong>Owner:</strong> <%= link_to "#{username(item.user)[0..5]}", user_path(item.user) %>
                  </div> -->
                </div>
              </div>
              <%# end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 desktop hideForPe hideForRe" id="requestedFeed">
        <div class="twt-wrapper">
          <div class="panel feed">
            <div class="panel-heading about-bk-color">
              Accepted Reservations
            </div>
            <div class="panel-body" id="accepted-reservations">
              <%= render 'items/accepted_reservations' %>
              <%= render 'items/confirming' %>
              <%# Reservation.pending.each do |res| %>
              <!-- <div class="feed-item"> -->
              <%# unless res.user == current_user %>
              <!-- <strong><%#= link_to username(res.user).capitalize, user_path(res.user) %></strong> requested an <strong><%#= link_to "Item", item_path(res.item) %></strong> -->
              <!-- from <%#= link_to res.item.user.first_name, user_path(res.item.user) %> -->
              <!-- for <%#= res.start_date.strftime('%B %d') %> to <%#= format_date(res.end_date) %> -->
              <!-- <div class="accept-res"> -->
              <%#= link_to 'Contact', conversations_path(current_user, res.user), method: 'POST' %>
              <!-- </div> -->
              <%# end %>
              <!-- </div> -->
              <%# end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 desktop hideForFe hideForRe" id="requestedPending">
        <div class="twt-wrapper ">
          <div class="panel requested">
            <div class="panel-heading about-bk-color">
              Request Pending
            </div>
            <div class="panel-body" id="your-requests">
              <%= render 'items/pending' %>
              <%# if @pending.any? %>
              <%# @pending.each do |res| %>
              <!-- <div class="feed-item">
              You requested <strong><%#= link_to res.item.name, item_path(res.item) %></strong> from <%#= link_to res.item.user.full_name, user_path(res.item.user) %>
            </div> -->
            <%# end %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 desktop hideForFe hideForPe" id="requestedReceived">
      <div class="twt-wrapper">
        <div class="panel requested">
          <div class="panel-heading about-bk-color">
            Request Received
          </div>
          <div class="panel-body" id="received-requests">
            <%= render 'items/request_received' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- </div> -->



<!-- <div class="intro-message">
    <h1>Share City</h1>
    <h3></h3> -->
    <%#= link_to "Share on Facebook", "https://www.facebook.com/dialog/share?app_id=989408694457545&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=http://localhost:3000/", class: "btn btn-default btn-lg" %>
    <%#= link_to "Send a Dialog", "http://www.facebook.com/dialog/send?app_id=989408694457545&link=http://www.nytimes.com/interactive/2015/04/15/travel/europe-favorite-streets.html&redirect_uri=http://localhost:3000/", class: "btn btn-default btn-lg"%>
    <!-- https://www.facebook.com/dialog/share?app_id=989408694457545&display=popup&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer -->
    <!-- <a href="https://www.facebook.com/dialog/share?app_id=989408694457545&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=http://localhost:3000/" target="_blank">
      Share on Facebook
    </a> -->
    <!-- <div id="shareBtn" class="btn btn-primary btn-large input-suffix share-btn btn-facebook">Share On Facebook</div> -->


    <%#= link_to image_tag('/images/FaceBookIcon.png'), 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>

    <!-- <hr class="intro-divider"> -->
    <!-- <ul class="list-inline intro-social-buttons">
        <li>
            <a href="https://twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
            <a href="https://github.com/  " class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
        </li>
    </ul> -->
<!-- </div> -->

<!-- <script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: 'https://developers.facebook.com/docs/',
  }, function(response){});
}
</script> -->


<!-- <div id="friends">
  <p><%#= link_to "Invite your Facebook Friends", "#", :id => "invite_fb_friends" %></p>

  <div id="fb-root"></div>

  <script src= "http://connect.facebook.net/en_us/all.js"></script>

  <script>
    $(function(){

      $("a#invite_fb_friends").click(function(){
        FB.init({
        appId: '989408694457545',
        status: true,
        cookie: false,
        // xfbml: true
        });

      FB.ui({method: 'apprequests',

      });
    });
  </script>

  <#% end %>
</div> -->
