<div class="stuff"></div>
<div class="chatboxinput">
  <form action="/msg" method="POST">
  <%#= form_for([@conversation, @message], url: {controller: 'home', action: 'msg'}, method: :post, :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
    <textarea name="msg"></textarea>

    <div class="chat-form-btns">    
      <button>Send</button>
    </div>

  <%# end %>
  </form>

</div>

<script>
  jQuery(function($) {
    //if ($('.stuff').length > 0 ) {
    MessageBus.start();
    MessageBus.callbackInterval = 500;
    MessageBus.subscribe('/private/'+$('#current-user').attr('data-user_id'), function(data) {
      console.log(data); 
      var div = $('.stuff');
      $('<div>').text(data.msg + '- from ' + data.from).appendTo(div);
      $('textarea').val(''); 
    });
    //}
    $('form').on('submit', function(e) {
      e.preventDefault();
      var form = $(this);
      $.ajax('/msg', 
        { dataType: 'json',
          method: 'POST', 
          data: {msg: $('textarea').val(), rid: 8 },
          complete: function(xhr) {
            console.log(xhr.status);
            //MessageBus.publish('/private', function(data) { 
            //  console.log(data); 
            //}); 
          }
        }); 
    });
  });
</script>
