<% Item.where(approved: true).order(created_at: :desc).each do |item| %>
  <% if item.shared? %>
    <div class="feed-item2">
      <div class="row">
        <div class="col-xs-2">
          <% if item.item_attachments.present? %>
          <%= image_tag item.item_attachments.first.image_url %>
          <% else %>
          <%= image_tag "missing", style: 'width: 157px; height: 80px;' %>
          <% end %>
        </div>
        <div class="col-xs-4 text-left">
          <span class="item-name2"><%= item.name %></span>
          <br>
          <%= item.user.full_name %><br/>
          <b>Original price:</b>
          $<%= item.original_price  %>
        </div>
        <% if item.price_status == "1" %>
          <div class="col-xs-6">
              <h5>FREE</h5>
          </div>
        <% else %>
          <div class="col-xs-3">
              <br>
              <b>Potential earnings:</b>
          </div>
        <% end %>
        <div class="col-xs-3">
          <% unless item.price_status == "1" %>
            <% unless item.weekly_price.present? || item.monthly_price.present? %>
              <br>
            <% end %>
            <b>Daily:</b>
            $<%= item.price %>
            <% if item.weekly_price.present? %>
              <br>
              <b>Weekly:</b>
              $<%= item.weekly_price %>
            <% end %>
            <% if item.monthly_price.present? %>
              <br>
              <b>Monthly:</b>
              $<%= item.monthly_price %>
            <% end %>
          <% end %>
        </div>
     </div>
     <div class="row rowDivder">
      </div>
    </div>
<% end %>
<% end %>
