<div class="row">
  <form class="" action="#" method="post">
    <div class="col-xs-12">
      <label for="">Confirmation number</label> <br>

      <input type="text" name="confirmation" value="" id="confirmation" placeholder="Confirmation number", style="width: 60%; height:40px;">
    </div>
    <div class="col-xs-12">
      <label for="">Notes</label> <br>
      <textarea name="description" id="description" rows="8" cols="40"></textarea>
    </div>
    <div class="col-xs-12">
      <input type="submit" value="Submit" id="claim-submit">
    </div>
  </form>
</div>
