<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1>About us</h1>
    </div>
    <div class="col-xs-12">
      <p>
        ShareCity is a company with a vision to innovate the way people use, share and rent items. We want to bring the community together and we believe that some of the items that you are not currently using could be of better use to others. Some of us might enjoy sharing items for free while others could be making a few bucks on the side by renting their items for a fee. With ShareCity, you can access what your friends have to share. You can also borrow/rent items from your friends, neighbours, and community.
      </p>
    </div>
  </div>
</div>
