.col-xs-12#div-header
  .row
    .col-xs-4.col-sm-3
      %p DATE
    .col-xs-4.col-sm-3
      %p Item name
    .col-xs-4.col-sm-3
      %p User
    .col-xs-4.col-sm-3
      %p Approved
- @items.each_with_index do |t, i|
  .col-xs-12#div-trans{class: "alternate-color-#{i % 2}"}
    .row
      .col-xs-3
        %p
          = t.created_at.strftime("%B %d, %Y - %H:%M")
      .col-xs-3
        %p
          = link_to "#{t.name}", item_path(t)
      .col-xs-3
        %p
          = link_to "#{t.user.full_name}", user_path(t.user)
      .col-xs-3
        -# %p#neg
        %span.label.label-danger.approveItem-btn{id: "#{t.id}"}
          = t.approved
