<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="<%= asset_path( 'logo.png' ) %>", class="displayed-con1" />
      <h3 id="h3-career">Careers</h3>
      <hr>
    </div>
  </div>
  <div class="row"><br>
    <div class="col-xs-12">
      <div class="col-xs-9">
        <h3 id="tit-font">Social Media Marketing Intern</h3>
        <h4>Canada, Vancouver</h4>
      </div>
      <div class="col-xs-2">
        <a href="#" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target=".bs-example-modal-lg">View job</a>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Social Media Marketing Intern</h3>
                <h5><strong>Canada, Vancouver</strong></h5>
                <h5>Unpaid, Internship (experience)</h5>
                <h5>ShareCity Inc (Tech Startup)</h5>
              </div>
              <div class="modal-body">
                <p>
                  <strong>ShareCity</strong> is an innovative tech platform with <br>mission to improve the way individuals share/rent things in their community. We believe that  all of us has a more than one item at home that could be shared or rented out. For this reason, after 5 months of coding, we created an innovative platform to bring the idea to the community. We want to grow, scale, and position us as a leader in the sharing economy space.
                </p>
                <p>
                  Currently, we are looking for all the help we can get and we are looking to bring university  students who are interested to work and get some experience in the tech startup field.
                </p>
                <p>
                  We are looking for high energy, intelligent, detail oriented Social Media Interns to help us build and manage social media channels. Our Social Media Intern will work with the CMO and CEO to develop social media strategy and campaigns including, content calendars, analytics, and engagement for ShareCity’s social media platforms.This is a unpaid internship and can be credit-based with a time commitment of 12-15 hours per week.
                </p>
                <p>
                  You’ll get to…
                </p>
                <p>
                  work on social media platforms for and assist on other social marketing projects.
                </p>
                <p>
                  Deliver based on quarterly goals metrics
                </p>
                <p>
                  Communicate with marketing director to establish social media strategy based on traction goals
                </p>
                <p>
                  Learn and utilize social media publishing and monitoring tool.
                </p>
                <p>
                  Develop and track social media campaigns <br> Manage day to day engagement on social channels
                </p>
                <p>
                  You’ll do it using… <br>Your knowledge of social media channels such as Twitter, Facebook, Instagram, Hootsuite and Pinterest
                </p>
                <p>
                  Strategic thinking
                </p>
                <p>
                  Incredible attention to detail and knack for organization, supporting business strategy
                </p>
                <p>
                  Ability to see what needs to be done and initiative to do it without being asked
                </p>
                <p>
                  Strong verbal and written communication skills
                </p>
                <p>
                  Ability to work in a fast paced, startup environment
                </p>
                <p>
                  You’ll be supported by… <br>Engaged and passionate leaders
                </p>
                <p>
                  You’ll fit in by… <br>Thinking like an entrepreneur <br>Communicating with honesty, candor, and respect <br>Being resourceful and creative
                </p>
                <p>
                  You’ll love it because… <br>You will be able to drive content and contribute to strategy <br>You will collaborate with other brilliant minds <br>You will drastically expand your experience
                </p>
                <p>
                  This internship has the potential to become a full-time, permanent role in case we secure funding in the future.
                </p>
                <p>
                  If you're interested in this position, please send an email with your resume and cover letter to <br> <a href="mailto:avibooluck@sharecity.net">avibooluck@sharecity.net</a> and we will be happy to talk.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-9">
        <h3 id="tit-font">Content Writer Intern</h3>
        <h4>Canada, Vancouver</h4>
      </div>
      <div class="col-xs-2">
        <a href="#" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target=".bs-example-modal-lg2">View job</a>
        <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Content Writer Intern</h3>
                <h5><strong>Canada, Vancouver</strong></h5>
                <h5>Unpaid, Internship (experience)</h5>
                <h5>ShareCity Inc (Tech Startup)</h5>
              </div>
              <div class="modal-body">
                <p>
                  <strong>ShareCity</strong> is an innovative tech platform with <br>mission to improve the way individuals share/rent things in their community. We believe that  all of us has a more than one item at home that could be shared or rented out. For this reason, after 5 months of coding, we created an innovative platform to bring the idea to the community. We want to grow, scale, and position us as a leader in the sharing economy space.
                </p>
                <p>
                  Currently, we are looking for all the help we can get and we are looking to bring university  students who are interested to work and get some experience in the tech startup field.
                </p>
                <h4>OVERALL DESCRIPTION</h4>
                <p>
                  ShareCity Inc is seeking a content writer to contribute to the overall marketing efforts of the company across multiple platforms and formats to drive engagement and client retention via effective content creation for the company’s blogs. This includes conducting deep research in the various fields of the sharing economy and writing marketing content that can be used for inbound lead generation. Responsibilities also include review and editing of content written by other team members. This is an unpaid internship and can be credit-based with a time commitment of 15 hours per week.
                </p>
                <h4>JOB RESPONSIBILITIES</h4>
                <p>
                  Generate content initiatives in all forms to attract, acquire and engage a clearly defined and understood target audience.<br>Be an incredible writer (and copywriter) with a surgical attention to detail. Prepare case studies, white papers, newsletters and infographics, and he/she will make sure that all of the content, especially in the company website and social media, aligns perfectly with the company’s marketing strategies.<br>Research, prepare and present written and verbal reports about the knowledge and user experience and analytics of ShareCity <br>Prepare daily and weekly blogs to increase the traffic on the company website <br>Prepare case studies, white papers, newsletters and infographics, and develop web content <br>Build and manage ShareCity’s content calendar and online initiatives <br>Collaborate with the marketing team and make sure that all of the content aligns with the overall marketing strategies
                </p>
                <h4>QUALIFICATIONS</h4>
                <p>
                  Some sort of experience of content writing,  especially in creating compelling messages for different target audiences
                </p>
                <p>
                  Knowledge or want to get experience in SEO
                </p>
                <p>
                  Want to have experience or some sort of experience with all major social media platforms. Mailchimp, Wordpress and Adobe Photoshop are a plus.
                </p>
                <p>
                  Strong communication skills (both oral and written) and capable of working effectively within a team <br>Have a good understanding of the marketing principles and excellent project management skills <br>An ambitious and hardworking team player, who is results driven and has a natural competitiveness <br>Demonstrated success working in fast-paced, dynamic and deadline oriented environment <br>Entrepreneurial traits , bright, articulate and able to challenge management to think beyond conventional wisdom within the current business paradigm <br>Must have demonstrated ability to be a strategic thinker <br>Have an interest in technology and the sharing economy <br>Computer skills required (Word, Excel, Outlook, and PowerPoint). <br>Some sort Experience working with blog publishing platforms such as WordPress. If not will be willing to learn.
                </p>
                <p>
                  Startup experience is a plus.
                </p>
                <p>
                  If you're interested in this position, please send an email with your resume and cover letter to <br> <a href="mailto:avibooluck@sharecity.net">avibooluck@sharecity.net</a> and we will be happy to talk.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-9">
        <h3 id="tit-font">Email marketing Intern</h3>
        <h4>Canada, Vancouver</h4>
      </div>
      <div class="col-xs-2">
        <a href="#" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target=".bs-example-modal-lg3">View job</a>
        <div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Email marketing Intern</h3>
                <h5><strong>Canada, Vancouver</strong></h5>
                <h5>Unpaid, Internship (experience)</h5>
                <h5>ShareCity Inc (Tech Startup)</h5>
              </div>
              <div class="modal-body">
                <p>
                  <strong>ShareCity</strong> is an innovative tech platform with <br>mission to improve the way individuals share/rent things in their community. We believe that  all of us has a more than one item at home that could be shared or rented out. For this reason, after 5 months of coding, we created an innovative platform to bring the idea to the community. We want to grow, scale, and position us as a leader in the sharing economy space.
                </p>
                <p>
                  Currently, we are looking for all the help we can get and we are looking to bring university  students who are interested to work and get some experience in the tech startup field.
                </p>
                <p>
                  You want to learn or apply email marketing channel to grow a station and work in quantitatively and qualitatively attaining the company’s traction goals.
                </p>
                <p>
                  What You'll Do:
                </p>
                <p>
                  Develop email marketing strategies and campaigns that engage users across the globe.
                </p>
                <p>
                  Use different campaigns from MailChimp for engaging, finding customers and revenue marketing
                </p>
                <p>
                  Find leads for from online communities such as Reddit, HARO and using online communities to grow the email list (leads)
                </p>
                <p>
                  Set-up and deploy complex automated communications within ExactTarget and SendGrid
                </p>
                <p>
                  Ensure email messaging is 100% accessible to everyone on both web and mobile.
                </p>
                <p>
                  Manage schedule of deployment to optimize user response and actively manage email lists.
                </p>
                <p>
                  Generate, analyze, and interpret data for email campaigns.
                </p>
                <p>
                  Work closely with our business development teams for strategic campaigns.
                </p>
                <p>
                  Build structures, process, and guidance for local marketing teams operating in cities around the world.
                </p>
                <p>
                  What You'll Need:
                </p>
                <p>
                  Experience or just want to get experience creating and launching email campaigns using MailChimp, ExactTarget, Responsys, CheetahMail, Campaign Monitor, or similar platform.
                </p>
                <p>
                  Creating and sending large-scale email campaigns.
                </p>
                <p>
                  Familiarity with CRM or some other form or database management.
                </p>
                <p>
                  Designing emails and sending A/B testing.
                </p>
                <p>
                  Ability to balance an intense attention to detail with swift execution.
                </p>
                <p>
                  A self-starting attitude—ready to seize opportunities to make an impact without needing to be told.
                </p>
                <p>
                  If you're interested in this position, please send an email with your resume and cover letter to <br> <a href="mailto:avibooluck@sharecity.net">avibooluck@sharecity.net</a> and we will be happy to talk.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-9">
        <h3 id="tit-font">SEO Intern</h3>
        <h4>Canada, Vancouver</h4>
      </div>
      <div class="col-xs-2">
        <a href="#" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target=".bs-example-modal-lg4">View job</a>
        <div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Email marketing Intern</h3>
                <h5><strong>Canada, Vancouver</strong></h5>
                <h5>Unpaid, Internship (experience)</h5>
                <h5>ShareCity Inc (Tech Startup)</h5>
              </div>
              <div class="modal-body">
                <p>
                  <strong>ShareCity</strong> is an innovative tech platform with <br>mission to improve the way individuals share/rent things in their community. We believe that  all of us has a more than one item at home that could be shared or rented out. For this reason, after 5 months of coding, we created an innovative platform to bring the idea to the community. We want to grow, scale, and position us as a leader in the sharing economy space.
                </p>
                <p>
                  Currently, we are looking for all the help we can get and we are looking to bring university  students who are interested to work and get some experience in the tech startup field.
                </p>
                <p>
                  You are willing to learn or apply SEO channel to grow a station and work in quantitatively and qualitatively attaining the company’s traction goals.
                </p>
                <h4>Who are you...</h4>
                <p>
                  A willingness to learn and grow in a thriving environment
                </p>
                <p>
                  A passion for the sharing economy
                </p>
                <p>
                  Excitement in joining a startup company
                </p>
                <p>
                  Professional communication skills
                </p>
                <p>
                  A positive attitude and willingness to contribute ideas to the team
                </p>
                <p>
                  Understanding of basic SEO practices a plus
                </p>
                <p>
                  Knowledge or willing to learn of web analytics and keyword tools
                </p>
                <h4>Requirements</h4>
                <p>
                  Broad keyword analysis and the selection of brand and longtail keyword combination using Google keyword explorer, Google trend and open site explorer
                </p>
                <p>
                  Reviews key metrics across the full website to access the effectiveness of SEO strategy
                </p>
                <p>
                  Competitive site analysis to increase the effectiveness of on-page optimization
                </p>
                <p>
                  Deliver monthly progress reports and stay up-to-date with the latest trends and changes with SEO and major search engines
                </p>
                <p>
                  Optimization of on page information including page content, meta tags, h tags, alt tags
                </p>
                <p>
                  Internal linking strategies to disperse value throughout the whole site
                </p>
                <p>
                  Submission of sites to Google and Bing Webmaster Tools
                </p>
                <p>
                  May engage in inbound and outbound link placement
                </p>
                <p>
                  May verify and optimize business and local listings for top search engines (e.g., Google, Bing, Yahoo!). Manage and improve organic search performance and goal-setting based on clickthrough rates, traffic, and conversions
                </p>
                <p>
                  Collaborate with content marketing and blog contributors to create high-quality content around important, relevant terms
                </p>
                <p>
                  Startup experience is a plus.
                </p>
                <p>
                  If you're interested in this position, please send an email with your resume and cover letter to <br> <a href="mailto:avibooluck@sharecity.net">avibooluck@sharecity.net</a> and we will be happy to talk.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
