<section id="valid-code-section">
  <div class="row">
    <div class="col-xs-12 text-center" style="padding-top: 50px;">
      <h1>You have a valid code</h1>
      <h4>Click to Start using the Beta version</h4>
      <h5 id="betaBtn"><%= link_to "ShareCity Beta", home_path %></h5>
    </div>
  </div>
</section>
