<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-6">
      <div class="intro-msg">
        <img src="<%= asset_path( 'logo.png' ) %>", class="displayed-con" />
        <div class="well confirm" align="center">
          <h4>Thanks For Signing Up!</h4>
          <p>Please check your email and click <strong>Active Account</strong> in the message we just sent to your Email.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
