<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>FAQ</h1>
    </div>
    <div class="col-xs-12">
      <h4>How does ShareCity payment system works?</h4>
      <p>
        ShareCity payment system is designed to make transferring of money between all parties simple and reliable. Here is how it works:
      </p>
      <ol>
        <li style="list-style-position: inside;">Renter meets owner physically to obtain the item. Both parties have to check-in on the app once the owner gives the item to the renter. At this time a deposit + rental fee will be charged to ShareCity.</li>
        <li style="list-style-position: inside;">When the item is returned physically, both parties have to check-out on the app and the deposit will be returned to the renter and rental fee is paid to the owner.</li>
      </ol>
      <p>
        ShareCity will receive 15% for each item being rented on the platform
      </p>
      <br>
      <h4>How do I determine the price for an item I want to rent out?</h4>
      <p>
        The price for an item being rented out is determined by the owner. The owner must provide a reasonable price for the item based on its value. The renter has every right to research the value of the item before requesting it.
      </p>
      <br>
      <h4>Does ShareCity provide insurance for an item?</h4>
      <p>
        ShareCity is in the midst of getting insurance for the items posted on the platform. At this time we do not provide any insurance, but we are working on this matter.
      </p>
      <br>
      <h4>What happens when an item is broken/ stolen?</h4>
      <p>
        In the case of a damaged item being returned to the owner, the renter is responsible to reimburse the owner for the full value of the item. ShareCity will work with both parties to determine the value of the item and ShareCity will transfer the funds for the item from the renter to the owner.
      </p>
      <p>
        In the case of a stolen item the renter is 100% responsible to reimburse the owner. ShareCity does not condone any theft and the renter will be charged the full amount of the item and reported to police.
      </p>
      <br>
      <h4>How do reviews work?</h4>
      <p>
        All reviews on ShareCity are written by the renter of the item. The owner is not able to edit or change the review and it will be listed on their item page. The reviews must be under 300 words and will be published 48 hours after the renter has returned the item.
      </p>
    </div>
  </div>
</div>
