
  <div id="wrap">
  	<div id="header">
  		<div id="logo">
  			<div id="lang">
          <img src="<%= asset_path( 'logo.png' ) %>", class="displayed" />
          <img src="<%= asset_path( 'divider.png' ) %>", class="displayed1" />
          <h3 id="tit-font2">Share for free or rent for a fee</h3>
  			</div>
  		</div>
  	</div>
  	<div id="main">
  		<div id="content">
        <%= video_tag "animation.mp4", size: "640x360", controls: true, autobuffer: true, class:"landing-video video-js", type: "video/mp4", poster: "thum2.png" %>
  		</div>
  	</div>
  </div>
  <div id="footer">
  	<div class="desktop" id="foot">
      <div class="container">
                <h4 class="h4Foot1"><strong>SIGN UP NOW</strong> for the beta release <img src="<%= asset_path( 'arrow.png' ) %>", id="im" /></h4>
                <a href="/auth/facebook"><img src="<%= asset_path( 'facebook.png' ) %>", class="sp" /></a>
                <a href="/auth/google_oauth2"><img src="<%= asset_path( 'google.png' ) %>", class="sp" /></a>
                <a href="<%= new_user_path %>"><img src="<%= asset_path( 'mail.png' ) %>", class="sp" /></a>
      </div>
  	</div>
    <div class="mobile" id="foot">
  		<div id="col-xs-12">
        <h4 id="h4Foot"><strong>SIGN UP NOW</strong> for the beta release</h4>
  		</div>
  		<div style="text-align: center;" id="col-xs-12">
        <a href="/auth/facebook"><img src="<%= asset_path( 'facebook.png' ) %>", class="socialIc" /></a>
        <a href="/auth/google_oauth2"><img src="<%= asset_path( 'google.png' ) %>", class="socialIc" /></a>
        <a href="<%= new_user_path %>"><img src="<%= asset_path( 'mail.png' ) %>", class="socialIc" /></a>
  		</div>
  	</div>
  </div>
