<div class="wrapper-main">
  <div class="col-xs-12">
    <h1 style="color: #5d5d5d; padding-left: 65px;">No items were found in the platform</h1>
  </div>
  <div class="col-xs-12">
    <h5 id="shareAn"><%= link_to "Request an item now", requested_items_path1 %></h5>
  </div>
</div>
