<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>ShareCity</a>
        </li>
        <li>
          <% if current_user %>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in", new_session_path %>
          <% end %>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
</nav>

<header class="intro-header">
  <img src="<%= asset_path( 'logo.png' ) %>", class="displayedMain" />
  <div class="section-heading">
      <h1 id="shareIt">Share it for free or rent it for a fee!</h1>
      <!-- <p class="text-muted">Check out what you can do with this platform!</p> -->
      <hr>
  </div>
  <a href="#landing-page-section" class="btn btn-dark1 btn-lg">Find Out More</a>
</header>

<section id="landing-page-section">
  <div class="row-signup">
    <div class="col-xs-offset-3 col-xs-2 text-center" style="">
      <!-- <a href="/auth/facebook"><i class="fa fa-facebook-square fa-3x socialIc2 soFb" aria-hidden="true"></i></a> -->
      <a href="/auth/facebook" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
        <i class="fa fa-facebook fa-2x"></i>
        <span class="hidden-xs"></span>
      </a>
    </div>
    <div class="col-xs-2 text-center">
      <!-- <a href="/auth/google_oauth2"><i class="fa fa-google-plus-square fa-3x socialIc2 soFb" aria-hidden="true"></i></a> -->
      <a href="/auth/google_oauth2" class="btn btn-lg btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
        <i class="fa fa-google-plus fa-2x"></i>
        <span class="hidden-xs"></span>
      </a>
    </div>
    <div class="col-xs-2 text-center" style="">
      <!-- <a href="<%= new_user_path %>"><i class="fa fa-envelope fa-3x socialIc2 soFb" aria-hidden="true"></i></a> -->
      <a href="<%= new_user_path %>" class="btn btn-lg btn-block kpx_btn-vk" data-toggle="tooltip" data-placement="top" title="VKontakte">
        <i class="fa fa-envelope fa-2x"></i>
        <span class="hidden-xs"></span>
      </a>
    </div>
  </div>
</section>
<section id="features" class="features">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Share it for free or rent it for a fee!</h2>
                    <p class="text-muted">Check out what you can do with this platform!</p>
                    <hr>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <div class="row bg-gre">
                                  <div class="col-xs-12">
                                    <div class="intro-msg2">
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <div class="col-xs-12 landingFeed" id="item-post-feed-live">
                                            <% Item.all.order(created_at: :desc).each do |item| %>
                                            <div class="feed-item2">
                                              <div class="row">
                                                <div class="col-xs-2">
                                                  <%= image_tag item.user.image, class:"circle", style: "height:65px; width:65px;" %>
                                                </div>
                                                <div class="col-xs-10">
                                                  <div class="col-xs-12" id="landing-info">
                                                    <div style="text-align:left; padding-left: 0;" class="col-xs-8">
                                                      <%= item.user.first_name.capitalize %> <%= item.user.last_name[0].capitalize %> <strong>posted</strong> an Item
                                                    </div>
                                                    <div class="col-xs-4" id="info-landing">
                                                      <i class="fa fa-clock-o" aria-hidden="true"></i><%= (Date.current - item.created_at.to_date).to_i %>d
                                                    </div>
                                                  </div>
                                                <div class="col-xs-12" style="text-align: left;" id="landing-info">
                                                  <%= tags(item) %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row rowDivder">
                                            </div>
                                          </div>
                                          <% end %>
                                          <% Reservation.where('status = ?', 'approved-owner').each do |reservation| %>
                                          <%# if item.shared? %>
                                          <div class="feed-item2">
                                            <div class="row">
                                              <div class="col-xs-2">
                                                <%= image_tag reservation.item.user.image, class:"circle", style: "height:65px; width:65px;" %>
                                              </div>
                                              <div class="col-xs-10">
                                                <div class="col-xs-12" id="shared-info">
                                                  <div style="text-align:left;padding-left:0;" class="col-xs-8">
                                                    <%= reservation.item.user.first_name.capitalize %> <%= reservation.item.user.last_name[0].capitalize %> <strong>shared</strong>  an item with <%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name[0].capitalize %>
                                                  </div>
                                                  <div class="col-xs-4" id="info-shared">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i><%= (Date.current - reservation.item.created_at.to_date).to_i %>d
                                                  </div>
                                                </div>
                                                <div class="col-xs-12" style="text-align: left;" id="shared-info">
                                                  <%= tags(reservation.item) %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row rowDivder">
                                            </div>
                                          </div>
                                          <% end %>
                                          <% Reservation.where('status = ?', 'requested').each do |reservation| %>
                                          <div class="feed-item2">
                                            <div class="row">
                                              <div class="col-xs-2">
                                                <%= image_tag reservation.item.user.image, class:"circle", style: "height:65px; width:65px;" %>
                                              </div>
                                              <div class="col-xs-10">
                                                <div class="col-xs-12" id="requested-info">
                                                  <div style="text-align:left;padding-left:0;" class="col-xs-8">
                                                    <%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name[0].capitalize %> <strong>requested</strong> an item from <%= reservation.item.user.first_name.capitalize %>
                                                  </div>
                                                  <div class="col-xs-4" id="info-requested">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i><%= (Date.current - reservation.item.created_at.to_date).to_i %>d
                                                  </div>
                                                </div>
                                                <div class="col-xs-12" style="text-align: left;" id="requested-info">
                                                  <%= tags(reservation.item) %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row rowDivder">
                                            </div>
                                          </div>
                                          <%# end %>
                                          <% end %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-rss text-primary"></i>
                                <h3>Live feed</h3>
                                <p class="text-muted">With ShareCity’s live feed, you can see and find out what your friends and community members are actively sharing/renting!</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-commenting text-primary"></i>
                                <h3>Messaging service</h3>
                                <p class="text-muted">Talk directly and privately to any user on ShareCity with our messaging service.!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-users text-primary"></i>
                                <h3>Any Item request</h3>
                                <p class="text-muted">If you don’t find an item on our platform, don’t be discouraged. With our new item request feature on ShareCity!</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-cc-stripe text-primary"></i>
                                <h3>Stripe payment</h3>
                                <p class="text-muted">For every rental, we work directly with Stripe where it directly transfers the money to your bank account!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<script type="text/javascript">

$( document ).ready(function() {

  scaleVideoContainer();

  initBannerVideoSize('.video-container .poster img');
  initBannerVideoSize('.video-container .filter');
  initBannerVideoSize('.video-container video');

  $(window).on('resize', function() {
      scaleVideoContainer();
      scaleBannerVideoSize('.video-container .poster img');
      scaleBannerVideoSize('.video-container .filter');
      scaleBannerVideoSize('.video-container video');
  });

});

function scaleVideoContainer() {

  var height = $(window).height() + 5;
  var unitHeight = parseInt(height) + 'px';
  $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

  $(element).each(function(){
      $(this).data('height', $(this).height());
      $(this).data('width', $(this).width());
  });

  scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

  var windowWidth = $(window).width(),
  windowHeight = $(window).height() + 5,
  videoWidth,
  videoHeight;

  console.log(windowHeight);

  $(element).each(function(){
      var videoAspectRatio = $(this).data('height')/$(this).data('width');

      $(this).width(windowWidth);

      if(windowWidth < 1000){
          videoHeight = windowHeight;
          videoWidth = videoHeight / videoAspectRatio;
          $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

          $(this).width(videoWidth).height(videoHeight);
      }

      $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

  });
}

var div = $('.landingFeed');
setInterval(function(){
    var pos = div.scrollTop();
    div.scrollTop(pos + 2);
}, 200)



// Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=\\#]:not([href=\\#],[data-toggle],[data-target],[data-slide])').click(function() {
          //  a[href*=\\#]:not([href=\\#]
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);


</script>
