<section id="landing-page-section">
  <div class="row">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
        <source src="<%= asset_path( 'In-And-Out.mp4' ) %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="<%= asset_path( 'In-And-Out.webm' ) %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <img src="<%= asset_path( 'In-And-Out.jpg' ) %>" alt="">
      </div>
      <img src="<%= asset_path( 'logo.png' ) %>", class="displayedMain" />
      <div class="container">
        <h1 class="main-caption">
        <!-- <span class="video-caption" data-show-on="0" style="color: #fff;">Share it for free or rent it for a fee!</span> -->
      </h1><a href="http://sharecity.net/" class="btn btn-primary btn-md text-l invert-color hidden-xs">Live Feed</a>
      </div>
      <a href="#stepsContainer" class="go-to-section js-scroll-to active"></a>
    </div>
  </div>
  <div class="row row-signup">
    <div class="col-xs-4 text-center" style="">
      <a href="/auth/facebook"><i class="fa fa-facebook-square fa-3x socialIc2 soFb" aria-hidden="true"></i><h1 class="soTit">Facebook</h1></a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="/auth/google_oauth2"><i class="fa fa-google-plus-square fa-3x socialIc2 soFb" aria-hidden="true"></i><h1 class="soTit">Google+</h1></a>
    </div>
    <div class="col-xs-4 text-center" style="">
      <a href="<%= new_user_path %>"><i class="fa fa-envelope fa-3x socialIc2 soFb" aria-hidden="true"></i><h1 class="soTit">Email</h1></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="intro-msg2">
        <div class="row">
          <div class="col-xs-4">
            <h3>Share it for free or rent it for a fee!</h3>
          </div>
          <div class="col-xs-8">
            <div class="col-xs-12 landingFeed" id="item-post-feed-live">
              <% Item.all.order(created_at: :desc).each do |item| %>
              <%# if item.shared? %>
              <div class="feed-item2">
                <div class="row">
                  <div class="col-xs-2">
                    <%= image_tag item.user.image, class:"circle", style: "height:65px; width:65px;" %>
                  </div>
                  <div class="col-xs-10">
                    <div class="col-xs-12" id="landing-info">
                      <div style="text-align:left; padding-left: 0;" class="col-xs-9">
                        <%= item.user.first_name.capitalize %> <%= item.user.last_name[0].capitalize %> <strong>posted</strong> an Item
                        <!-- <span class="item-name"><%= link_to item.name, item_path(item) %></span> -->
                      </div>
                      <div class="col-xs-3" id="info-landing">
                        <i class="fa fa-clock-o" aria-hidden="true"></i><%= (Date.current - item.created_at.to_date).to_i %>d
                      </div>
                    </div>
                    <!-- <div class="col-xs-12" style="text-align: left;" id="landing-info">
                    <%#= item.desc %>
                  </div> -->
                  <div class="col-xs-12" style="text-align: left;" id="landing-info">
                    <%= tags(item) %>
                  </div>
                </div>
              </div>
              <div class="row rowDivder">
              </div>
            </div>
            <%# end %>
            <% end %>
            <% Reservation.where('status = ?', 'approved-owner').each do |reservation| %>
            <%# if item.shared? %>
            <div class="feed-item2">
              <div class="row">
                <div class="col-xs-2">
                  <%= image_tag reservation.item.user.image, class:"circle", style: "height:65px; width:65px;" %>
                </div>
                <div class="col-xs-10">
                  <div class="col-xs-12" id="shared-info">
                    <div style="text-align:left;padding-left:0;" class="col-xs-9">
                      <%= reservation.item.user.first_name.capitalize %> <%= reservation.item.user.last_name[0].capitalize %> <strong>shared</strong>  an item with <%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name[0].capitalize %>
                    </div>
                    <div class="col-xs-3" id="info-shared">
                      <i class="fa fa-clock-o" aria-hidden="true"></i><%= (Date.current - reservation.item.created_at.to_date).to_i %>d
                    </div>
                  </div>
                  <div class="col-xs-12" style="text-align: left;" id="shared-info">
                    <%= tags(reservation.item) %>
                  </div>
                </div>
              </div>
              <div class="row rowDivder">
              </div>
            </div>
            <% end %>
            <% Reservation.where('status = ?', 'requested').each do |reservation| %>
            <div class="feed-item2">
              <div class="row">
                <div class="col-xs-2">
                  <%= image_tag reservation.item.user.image, class:"circle", style: "height:65px; width:65px;" %>
                </div>
                <div class="col-xs-10">
                  <div class="col-xs-12" id="requested-info">
                    <div style="text-align:left;padding-left:0;" class="col-xs-9">
                      <%= reservation.user.first_name.capitalize %> <%= reservation.user.last_name[0].capitalize %> <strong>requested</strong> an item from <%= reservation.item.user.first_name.capitalize %>
                    </div>
                    <div class="col-xs-3" id="info-requested">
                      <i class="fa fa-clock-o" aria-hidden="true"></i><%= (Date.current - reservation.item.created_at.to_date).to_i %>d
                    </div>
                  </div>
                  <div class="col-xs-12" style="text-align: left;" id="requested-info">
                    <%= tags(reservation.item) %>
                  </div>
                </div>
              </div>
              <div class="row rowDivder">
              </div>
            </div>
            <%# end %>
            <% end %>
            </div>
          </div>
        </div>
        <!-- <img src="<%= asset_path( 'divider.png' ) %>", class="displayed1" /> -->
        <!-- <div class="container">
        <div class="row mobile">
        <div class="col-xs-4" id="icons-mobile">
        <a href="/auth/facebook"><i class="fa fa-facebook-square fa-3x socialIc2 soFb" aria-hidden="true"></i>Facebook</a>
      </div>
      <div class="col-xs-4" id="icons-mobile">
      <a href="/auth/google_oauth2"><i class="fa fa-google-plus-square fa-3x socialIc2 soFb" aria-hidden="true"></i>Google+</a>
    </div>
    <div class="col-xs-4" id="icons-mobile">
    <a href="<%= new_user_path %>"><i class="fa fa-envelope fa-3x socialIc2 soFb" aria-hidden="true"></i>Email</a>
  </div>
</div>
</div> -->
      </div>
    </div>
  </div>
</section>



<script type="text/javascript">

$( document ).ready(function() {

  scaleVideoContainer();

  initBannerVideoSize('.video-container .poster img');
  initBannerVideoSize('.video-container .filter');
  initBannerVideoSize('.video-container video');

  $(window).on('resize', function() {
      scaleVideoContainer();
      scaleBannerVideoSize('.video-container .poster img');
      scaleBannerVideoSize('.video-container .filter');
      scaleBannerVideoSize('.video-container video');
  });

});

function scaleVideoContainer() {

  var height = $(window).height() + 5;
  var unitHeight = parseInt(height) + 'px';
  $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

  $(element).each(function(){
      $(this).data('height', $(this).height());
      $(this).data('width', $(this).width());
  });

  scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

  var windowWidth = $(window).width(),
  windowHeight = $(window).height() + 5,
  videoWidth,
  videoHeight;

  console.log(windowHeight);

  $(element).each(function(){
      var videoAspectRatio = $(this).data('height')/$(this).data('width');

      $(this).width(windowWidth);

      if(windowWidth < 1000){
          videoHeight = windowHeight;
          videoWidth = videoHeight / videoAspectRatio;
          $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

          $(this).width(videoWidth).height(videoHeight);
      }

      $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

  });
}

var div = $('.landingFeed');
setInterval(function(){
    var pos = div.scrollTop();
    div.scrollTop(pos + 2);
}, 200)
</script>
