<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    </head>
    <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
      <style media="screen">
        .emailLogo {
          text-align: center;
          margin-bottom: 25px;
        }
        .emailInvite {
          height: 47px;
          width: 87%;
          background-color: #2baadf;
          color: #fff;
          text-align: center;
          margin: 0 auto;
          font-size: 17px;
          font-weight: 700;
          padding-top: 18px;
        }
        .img_preview {
          width: 31%
        }
        .emailWrapper {
          margin: 0 auto;
          width: 81%;
        }
        .emailSocial {
          width: 6%;
          margin: 30px 17px 30px 17px;
        }
        .emailSocialDiv {
          text-align: center;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
          .emailInvite {
            width: 85%;
            font-size: 12px;
          }
          .img_preview {
            width: 40%
          }
          .emailWrapper {
            width: 95%;
          }
          .emailSocial {
            width: 6%;
            margin: 30px 1px 30px 1px;
          }
        }
      </style>
        <div style="padding: 30px 0 50px;">
            <div class="emailLogo" style="text-align: center;">
                <%#= image_tag(attachments['logo.png'].url, :class => "img_preview", :style => "width: 40%") %>
                <img src="/assets/logo.png" alt="" style="display: block; margin: auto" />
            </div>
            <div style="background-color: #deebf7;border-top: 16px solid #4472c4;padding-top: 30px;">
              <div style="width: 80%; background-color: #fff; margin: auto; padding: 30px 10px;">
                <h1 style="text-align: left;padding-bottom: 45px; margin:0;font-weight: 600;">Respond to Eirk's Enquiry regarding th eitme below:</h1>

                <!-- <%#= image_tag "http://sharecity.net/#{@reservation.item.item_attachment}" %> -->
                <!-- <%#=  image_tag "http://sharecity.net/assets/item_attachment/image/#{@itemAttachmentId}/kayak.jpg" %> -->
                <%#= image_tag @itemAttachment.image.file.file %>
                <!-- <img src="http://sharecity.net/assets/logo.png" alt="" style="display: block; margin: auto;width: 40%;margin-bottom: 15px;" /> -->
                <div style="text-align:center;">
                  <% if current_user.provider == "facebook" %>
                  <%= image_tag "//graph.facebook.com/#{current_user.uid}/picture?type=large"%>
                  <% elsif current_user.provider == "google_oauth2" %>
                  <img style="width: 150px;height: 150px;max-width: 150px;max-height: 150px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 6px solid #f7f7f7;margin-bottom: 15px;"alt="" src="<%= current_user.image%>">
                  <% else %>
                  <img style="width: 150px;height: 150px;max-width: 150px;max-height: 150px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;border: 6px solid #f7f7f7;margin-bottom: 15px;"alt="" src="<%= current_user.avatar%>">
                  <% end %>
                  <div style="display: inline-block; text-align: left;">
                    <h3><strong>Erik</strong></h3>
                    <h4 style="margin: 0">Vancouver, Canada</h4>
                    <h4 style="">ShareCity member since 2015</h4>
                  </div>
                </div>
                <div style="padding:10px; background-color: #d6dce5; width: 80%; margin: 0 auto;">
                  <h2>Get ready for this booking</h2>
                  <ol start="padding-left: 21px;">
                    <li>Confirm that the person knows how to get your item(s)'s location.</li>
                    <li>PLease make sure that the item is clean and operating normally.</li>
                  </ol>
                </div>
                <div style="padding: 45px 0; text-align:center;">
                  <div style="width: 50%; background-color:#5b9bd5; margin: auto;border: 3px solid #4472c4;padding: 15px;font-size: 20px;color: #fff;margin-bottom: 30px;">
                    Accept / Reject request
                  </div>
                </div>
                <div style="text-align:center;padding: 30px 0;">
                  <a href="#" style="text-decoration: none;font-size: 27px">Vist Help Center</a> | <a href="#" style="text-decoration: none;font-size: 27px">Contact ShareCity</a>
                  <br>
                  <br>
                  <%= link_to 'https://www.facebook.com/sharecityhq', style: "text-decoration: none;" do %>
                    <%= image_tag '/assets/facebook1.png', style: 'margin: auto 3px;width: 60px;' %>
                  <% end %>
                  <%= link_to 'https://plus.google.com/110204199144119708599' do %>
                    <%= image_tag '/assets/googleplus.png', style: 'margin: auto 3px;width: 60px;' %>
                  <% end %>
                  <%= link_to 'https://www.linkedin.com/company/sharecity' do %>
                    <%= image_tag '/assets/linkedin1.png', style: 'margin: auto 3px;width: 60px;' %>
                  <% end %>
                  <%= link_to 'https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw' do %>
                    <%= image_tag '/assets/youtube.png', style: 'margin: auto 3px;width: 60px;' %>
                  <% end %>
                  <%= link_to 'https://www.instagram.com/sharecityhq' do %>
                    <%= image_tag '/assets/instagram1.png', style: 'margin: auto 3px;width: 60px;' %>
                  <% end %>
                  <%= link_to 'https://twitter.com/ShareCityhq' do %>
                    <%= image_tag '/assets/twitter1.png', style: 'margin: auto 3px;width: 60px;' %>
                  <% end %>
                </div>
              </div>
              <p style="color: #a5999c;font-size: 19px;line-height: 25px;padding: 20px 9px;">
                We hope you found this message to be useful. If you'd rather to not receive future emails of this sort from sharecity.net at xxx@gmail.com, please opt-out here.
              </p>
            </div>
        </div>
    </body>
</html>
