<div class="container">
  <div class="row">
      <div class="inner">
          <h3 id="in-welcome"><strong>Thank you for signing up as our VIP user!</strong></h3> <br>
          <!-- <p id="in-welcome"><strong>"Stay tuned for the beta code to access the platform.” </strong></p> <br> <br> -->
          <a href="https://www.facebook.com/sharecityHQ" target="_blank"><img src="<%= asset_path( 'fb.png' ) %>", class="so-im" /></a>
          <a href="https://plus.google.com/110204199144119708599" target="_blank"><img src="<%= asset_path( 'googleplus.png' ) %>", class="so-im" /></a>
          <a href="https://www.linkedin.com/company/sharecity" target="_blank"><img src="<%= asset_path( 'linkedin.png' ) %>", class="so-im" /></a>
          <a href="https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw" target="_blank"><img src="<%= asset_path( 'youtube.png' ) %>", class="so-im" /></a>
          <a href="https://www.instagram.com/sharecityhq" target="_blank"><img src="<%= asset_path( 'instagram.png' ) %>", class="so-im" /></a>
          <a href="https://twitter.com/ShareCityhq" target="_blank"><img src="<%= asset_path( 'twitter.png' ) %>", class="so-im" /></a> <br> <br>
          <h3 id="in-betacode">Beta testing code: </h3> <br>
          <%= form_for User.new, :url => {:controller => :users, action: :code_update}, :html => { :method => 'patch' } do |f| %>
          <div class="col-xs-12 col-sm-offset-3 col-sm-3">
            <%= f.text_field :code, class: "test" %>
          </div>
          <div class="col-xs-12 col-sm-3">
            <%= f.submit "Submit Code", class:"btn btn-primary btn-lg round", data: { disable_with: "submitting" } %>
          </div>
          <!-- <button type="button" class="btn btn-primary btn-lg round">Submit Code</button> -->
          <% end %>
          <br>
          <br>
          <p id="in-welcome"><strong>You don't have a beta code? <span><a href="https://docs.google.com/forms/d/e/1FAIpQLSe__3bc9Sgg5VpQSY6A7SeUe6txUsSJnBB4xCzyQrQwKk8xlQ/viewform" target='_blank'>Request now</a></span> </strong></p>

      </div>
  </div>
</div>
