<section id="contactUs-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 contact-12">
        <div class="row">
          <div class="col-xs-6 contact-6">
            <h3 class="text-center">Send us an email</h3>
            <div class="row">
              <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
              <div class="col-xs-6 contact-inputs">
                <div class="">
                  <%= f.input :name, :required => true, label: false, placeholder: "What's your name?" %>
                </div>
              </div>
              <div class="col-xs-6 contact-inputs">
                <div class="">
                  <%= f.input :email, :required => true, label: false, placeholder: "Where can we email you back?" %>
                </div>
              </div>
              <div class="col-xs-12 contact-inputs">
                <div class="">
                  <%= f.input :message, :as => :text, :required => true, label: false, placeholder: "What's on your mind?" %>
                </div>
              </div>
              <div class= "hidden">
                <%= f.input :nickname, :hint => 'Leave this field blank!' %>
              </div>
              <div>
              </br>
              <%#= f.button :submit, 'Send message', :class=> "green-btn" %>
              <%= f.submit 'SEND IT', class: 'color-btn green-btn' %>
            </div>
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
