<% if @checkingInReq.any? %>
  <% @checkingInReq.each do |res| %>
    <div class="feed-item">
      <%= link_to 'Check-In', item_reservation_path(res.item, res, {checkedin_requester: 'yes'}), class: 'btn btn-success reqBtn checkIn-requester', id: "#{res.id}", method: :patch %><h4>fdfdfd</h4>
    </div>
  <% end %>
<% else %>
  <h4>No rented items available for check in </h4>
<% end %>
