<% if @checkingOutOwn.any? %>
  <% @checkingOutOwn.each do |res| %>
    <% if res.item.user == current_user %>
      <div class="feed-item">
        <table class="table table-striped">
            <tr>
              <th class=""></th>
              <th class="">Confirmation #</th>
              <th class="">Item</th>
              <th class="">Owner</th>
              <th class="">Requester</th>
            </tr>
            <tr>
              <td class=""><%= link_to 'Check-Out', item_reservation_path(res.item, res, {checkedout_owner: 'yes'}), class: 'btn btn-danger reqBtn checkOut-owner', id: "#{res.id}", method: :patch %></td>
              
              <% transaction = Transaction.where(reservation_id: res) %>
              <td class=""><%= transaction.any? ? transaction.first.confirmation_id : 'n/a' %></td>
              <td class=""></td>
              <td class="">You</td>
              <td class=""><%= link_to res.user.first_name.capitalize, user_path(res.user) %></td>
            </tr>
        </table>
      </div>
    <% end %>
  <% end %>
<% end %>
