<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th class=""></th>
      <th class="">Confirmation #</th>
      <th class="">Item</th>
      <th class="">Owner</th>
      <th class="">Requester</th>
      <th class="">Check-List</th>
    </tr>
    <% if @checkingOutReq.any? %>
    <% @checkingOutReq.each do |res| %>
    <tr>
      <td class=""><%= link_to 'Check-Out', item_reservation_path(res.item, res, {checkedout_requester: 'yes'}), class: 'btn btn-danger reqBtn checkOut-requester', id: "#{res.id}", method: :patch %></td>
      <td class=""><%= Transaction.where(reservation_id: res)[0].confirmation_id %></td>
      <td class=""><%= link_to "#{res.item.name[0..3]}" %></td>
      <td class=""><%= link_to res.item.user.first_name.capitalize, user_path(res.item.user) %></td>
      <td class="">You</td>
      <td class=""><%= res.item.desc %></td>
    </tr>
    <% end %>
    <% end %>
    <% if @checkingOutOwn.any? %>
    <% @checkingOutOwn.each do |res| %>
    <% if res.item.user == current_user %>
    <tr>
      <td class=""><%= link_to 'Check-Out', item_reservation_path(res.item, res, {checkedout_owner: 'yes'}), class: 'btn btn-danger reqBtn checkOut-owner', id: "#{res.id}", method: :patch %></td>
      <td class=""><%= Transaction.where(reservation_id: res)[0].confirmation_id %></td>
      <td class=""><%= link_to "#{res.item.name[0..3]}" %></td>
      <td class="">You</td>
      <td class=""><%= link_to res.user.first_name.capitalize, user_path(res.user) %></td>
      <td class=""><%= res.item.desc %></td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
  </table>
</div>
