<% if @checkingOutReq.any? %>
  <% @checkingOutReq.each do |res| %>
    <div class="feed-item">
      <table class="table table-striped">
          <tr>
            <th class=""></th>
            <th class="">Confirmation #</th>
            <th class="">Item</th>
            <th class="">Owner</th>
            <th class="">Requester</th>
          </tr>
          <tr>
            <td class=""><%= link_to 'Check-Out', item_reservation_path(res.item, res, {checkedout_requester: 'yes'}), class: 'btn btn-danger reqBtn checkOut-requester', id: "#{res.id}", method: :patch %></td>
            <td class=""><%= Transaction.where(reservation_id: res)[0].confirmation_id %></td>
            <td class=""></td>
            <td class=""><%= link_to res.item.user.first_name.capitalize, user_path(res.item.user) %></td>
            <td class="">You</td>
          </tr>
      </table>
    </div>
  <% end %>
<% else %>
  <!-- <h4>No rented items available for check in </h4> -->
<% end %>
