<% if @checkingInOwn.any? %>
  <% @checkingInOwn.each do |res| %>
    <% if res.item.user == current_user %>
      <div class="feed-item">
        <%= link_to 'Check-In', item_reservation_path(res.item, res, {checkedin_owner: 'yes'}), class: 'btn btn-success reqBtn checkIn-owner', id: "#{res.id}", method: :patch %>
      </div>
    <% end %>
  <% end %>
<% end %>
<!-- <h3>No items available for check in </h3> -->
