<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th class=""></th>
      <th class="">Confirmation #</th>
      <th class="">Item</th>
      <th class="">Owner</th>
      <th class="">Requester</th>
      <th class="">Check-List</th>
    </tr>
    <% if @checkingInOwn.any? %>
    <% @checkingInOwn.each do |res| %>
    <% if res.item.user == current_user %>
    <tr>
      <td class=""><%= link_to 'Check-In', item_reservation_path(res.item, res, {checkedin_owner: 'yes'}), class: 'btn btn-success reqBtn checkIn-owner', id: "#{res.id}", method: :patch %></td>
      <% transaction = Transaction.where(reservation_id: res) %>
      <td class=""><%= transaction.any? ? transaction.first.confirmation_id : 'n/a' %></td>
      <td class=""><%= link_to res.item.name, item_path(res.item) %></td>
      <td class="">You</td>
      <td class=""><%= link_to res.user.first_name.capitalize, user_path(res.user) %></td>
      <td class=""><%= res.item.desc %></td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
    <% if @checkingInReq.any? %>
    <% @checkingInReq.each do |res| %>
    <tr>
      <td class=""><%= link_to 'Check-In', item_reservation_path(res.item, res, {checkedin_requester: 'yes'}), class: 'btn btn-success reqBtn checkIn-requester', id: "#{res.id}", method: :patch %></td>
      <% transaction = Transaction.where(reservation_id: res) %>
      <td class=""><%= transaction.any? ? transaction.first.confirmation_id : 'n/a' %></td>
      <td class=""><%= link_to res.item.name, item_path(res.item) %></td>
      <td class=""><%= link_to res.item.user.first_name.capitalize, user_path(res.item.user) %></td>
      <td class="">You</td>
      <td class=""><%= res.item.desc %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
