<div class="row">
  <div class="col-xs-12">
    <div class="row">
    <% if @claims.empty? %>
      <div class="col-xs-12">
        No existing claims
      </div>
    <% else %>
        <div class="col-xs-6">
          <p>Claim #</p>
        </div>
        <div class="col-xs-6">
          <p>Status</p>
        </div>
      </div>
      <% @claims.each do |claim| %>
      <div class="row">
        <div class="col-xs-6">
          <%= claim.claim_num %>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-success btn-sm"><%= claim.status %></button>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
