<%= form_for([@item, @item.reservations.new], :html=> {:id => 'new_reservation_mobile'}, remote: true) do |f| %>
	<div class="row">
		<div class="col-xs-6">
			<label>Check In</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control', id: "startDate" %> <i class="fa fa-calendar-plus-o"></i>
		</div>
		<div class="col-xs-6">
			<label>Check Out</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'End Date', class: 'form-control', id: "endDate", disabled: 'true' %> <i class="fa fa-calendar-minus-o"></i>
      <!-- , disabled: 'true' -->
		</div>
	</div>

	<%= f.hidden_field :item_id, value: @item.id %>
	<%= f.hidden_field :price, value: @item.price %>
	<%= f.hidden_field :total, id: 'reservation_totalMobile' %>
	<%= f.hidden_field :unavailable_dates, value: @item.unavailable_dates %>


	<h4><span id="messageMobile"></span></h4>

	<div id="previewMobile" style="display: none">
		<table class="reservation-table" >
			<tbody>
				<tr>
					<td>Day(s)</td>
					<td><span id="reservation_daysMobile"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td>$<span id="reservation_sumMobile"></span></td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>

	<%= f.submit "Request", id: "btn_bookMobile", class: "btn btn-primary wide", disabled: 'true' %>

<% end %>

<script>

	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}
	// function available(date) {
  // 	dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
  // 	console.log(dmy+' : '+($.inArray(dmy, availableDates)));
	//   if ($.inArray(dmy, availableDates) != -1) {
	//     return [true, "","Available"];
	//   } else {
	//     return [false,"","unAvailable"];
	//   }
	// }

	$(function() {

		unavailableDates = [];
		// availableDates = [];

		$.ajax({
			url: '/preloadDates',
			data: {'item_id': <%= @item.id %>},
			dataType: 'json',
			success: function(data) {
				console.log(data);

				$.each(data.items, function(arrID, data) {
					d = new Date(data.date);
					console.log();
					dateConverted = (d.getDate() +1) + '-' + ((d.getMonth() + 1)) + '-' +  d.getFullYear()
					unavailableDates.push(dateConverted);
					console.log(dateConverted);
				});
			}
		});

		$.ajax({
			url: '/preload',
			data: {'item_id': <%= @item.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data.reservations, function(arrID, data) {
					for(var d = new Date(data.start_date); d <= new Date(data.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}
				});
				console.log(unavailableDates);


				// unavailableDates.push();
				// console.log(data);

				$('#startDate').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
            console.log("hi");
						$('#endDate').datepicker("option", "minDate", selected);
						$('#endDate').attr('disabled', false);

						var start_date = $('#startDate').datepicker('getDate');
						var end_date = $('#endDate').datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'item_id': <%= @item.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {

									$('#messageMobile').text("This date range is not available.");
									$('#previewMobile').hide();
									$('#btn_bookMobile').attr('disabled', true);

								} else {

									$('#previewMobile').show();
									$('#btn_bookMobile').attr('disabled', false);

									var total = days * <%= @item.price %>
									$('#reservation_daysMobile').text(days);
									$('#reservation_sumMobile').text(total);
									$('#reservation_totalMobile').val(total);
								}
							}
						});
					}
				});

				$('#endDate').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#startDate').datepicker("option", "maxDate", selected);

						var start_date = $('#startDate').datepicker('getDate');
						var end_date = $('#endDate').datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'item_id': <%= @item.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {
								if (data.conflict) {

									$('#messageMobile').text("This date range is not available.");
									$('#previewMobile').hide();
									$('#btn_bookMobile').attr('disabled', true);

								} else {

									$('#previewMobile').show();
									$('#btn_bookMobile').attr('disabled', false);

									var total = days * <%= @item.price %>
									$('#reservation_daysMobile').text(days);
									$('#reservation_sumMobile').text(total);
									$('#reservation_totalMobile').val(total);
								}
							}
						});

					}
				});
			}
		});

	});
</script>
