<%= form_for([@item, @item.reservations.new], remote: true) do |f| %>
	<div class="row">
		<div class="col-md-6">
			<label>Check In</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Start Date', class: 'form-control' %> <i class="fa fa-calendar-plus-o"></i>
		</div>
		<div class="col-md-6">
			<label>Check Out</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'End Date', class: 'form-control', disabled: 'true' %> <i class="fa fa-calendar-minus-o"></i>
      <!-- , disabled: 'true' -->
		</div>
	</div>


	<%= f.hidden_field :item_id, value: @item.id %>
	<%= f.hidden_field :item_owner_id, value: @item.user.id %>
	<%= f.hidden_field :price, value: @item.price %>
  <%= f.hidden_field :damage_deposit, value: @item.damage_deposit %>
	<%= f.hidden_field :total, id: 'reservation_total' %>
	<%= f.hidden_field :unavailable_dates, value: @item.unavailable_dates %>


	<h4><span id="message"></span></h4>

	<div id="preview" style="display: none">
		<table class="reservation-table" >
			<tbody>
				<tr>
					<td>Day(s)</td>
					<td><span id="reservation_days"></span></td>
				</tr>
				<tr>
					<td>Damage Deposit - If item is broken or not returned</td>
					<td>$<span id="damage_deposit"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td>$<span id="reservation_sum"></span></td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>

	<%= f.submit "Request", id: "btn_book", class: "btn btn-primary wide", disabled: 'true' %>

<% end %>

<script>

	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}
	// function available(date) {
  // 	dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
  // 	console.log(dmy+' : '+($.inArray(dmy, availableDates)));
	//   if ($.inArray(dmy, availableDates) != -1) {
	//     return [true, "","Available"];
	//   } else {
	//     return [false,"","unAvailable"];
	//   }
	// }

	$(function() {

		unavailableDates = [];
		// availableDates = [];

		$.ajax({
			url: '/preloadDates',
			data: {'item_id': <%= @item.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data.items, function(arrID, data) {
					d = new Date(data.date);
					dateConverted = (d.getDate() +1) + '-' + ((d.getMonth() + 1)) + '-' +  d.getFullYear()
					unavailableDates.push(dateConverted);
					// console.log(dateConverted);
				});
			}
		});

		$.ajax({
			url: '/preload',
			data: {'item_id': <%= @item.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data.reservations, function(arrID, data) {
					for(var d = new Date(data.start_date); d <= new Date(data.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}
				});
				console.log(unavailableDates);


				// unavailableDates.push();
				// console.log(data);

				$('#reservation_start_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_end_date').datepicker("option", "minDate", selected);
						$('#reservation_end_date').attr('disabled', false);

						var start_date = $('#reservation_start_date').datepicker('getDate');
						var end_date = $('#reservation_end_date').datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'item_id': <%= @item.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {

									$('#message').text("This date range is not available.");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);

								} else {

									$('#preview').show();
									$('#btn_book').attr('disabled', false);

									// var total = (days * <%= @item.price %>) + <%= @item.damage_deposit %>
									<% if @item.price_status == "1" %>
										<% @itemPrice = 0 %>
									<% else %>
										<% @itemPrice = @item.price  %>
									<% end %>

									var total = (days * <%= @itemPrice %>)
									$('#reservation_days').text(days);
									$('#damage_deposit').text(<%= @item.damage_deposit %>);
									$('#reservation_sum').text(total);
									$('#reservation_total').val(total);
								}
							}
						});
					}
				});

				$('#reservation_end_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_start_date').datepicker("option", "maxDate", selected);

						var start_date = $('#reservation_start_date').datepicker('getDate');
						var end_date = $('#reservation_end_date').datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'item_id': <%= @item.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {
								console.log(data);
								if (data.conflict || data.unavailableDates_conflict) {

									$('#message').text("This date range is not available.");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);

								} else {

									$('#preview').show();
									$('#btn_book').attr('disabled', false);

									// var total = (days * <%= @item.price %>) + <%= @item.damage_deposit %>
									<% if @item.price_status == "1" %>
										<% @itemPrice = 0 %>
									<% else %>
										<% @itemPrice = @item.price  %>
									<% end %>

									<% if @item.weekly_price == nil %>
										<% @weeklyPrice = 0 %>
									<% else %>
										<% @weeklyPrice = @item.weekly_price %>
									<% end %>

									<% if @item.weekly_price == nil %>
									<% @monthlyPrice = 0 %>
									<% else %>
										<% @monthlyPrice = @item.monthly_price %>
									<% end %>

									if (days == 7) {
										var total = (<%= @weeklyPrice %>)
									} else if (days == 14) {
										var total = (<%= @weeklyPrice %> * 2)
									} else if (days == 21) {
										var total = (<%= @weeklyPrice %> * 3)
									} else if (days > 7 & days < 30 & days != 14 & days != 21) {
										var num_of_days_after_week = days - 7
										var total = (<%= @weeklyPrice %> + (num_of_days_after_week * <%= @itemPrice %>))
									} else if (days >= 30) {
										var num_of_days_after_month = days - 30
										var total = (<%= @monthlyPrice %> + (num_of_days_after_month * <%= @itemPrice %>))
									} else {
										var total = (days * <%= @itemPrice %>)
									}
									$('#reservation_days').text(days);
									$('#damage_deposit').text(<%= @item.damage_deposit %>);
									$('#reservation_sum').text(total);
									$('#reservation_total').val(total);
								}
							}
						});

					}
				});
			}
		});

	});
</script>
