<div class="row">
    <div class="col-xs-6">
      <p>Confirmation #</p>
    </div>
    <div class="col-xs-6">
      <p>Amount</p>
    </div>
    <% @complete.each do |com| %>
      <div class="col-xs-6">
        <%= com.get_transaction.confirmation_id %>
      </div>
      <div class="col-xs-6">
        <%= number_to_currency(com.get_transaction.amount) %>
      </div>
    <% end %>
</div>
