<%#= link_to "Click for Approve" %>
<%#= link_to "Click for Approve", item_reservation_path(reservation:{status: "approved"}), method: :put %>
<%#= link_to("Click for Approve", item_reservation_path(@reservation, :status => "approved"), :method => :put, :confirm => "Are you sure?")%>
<%#= link_to 'Click for Approve', item_reservation_path(@reservation, reservation: {status: "approved"}), method: :put %>

<%= link_to "Click to Approve", class: "btn-success" %>
<%= link_to "Click to Reject", class: "btn-danger" %>
<br>
<br>
<br>
<%# form_for @reservation, :method => :put do |f| %>
  <%#= f.hidden_field :status, :value => "approved" %>
  <%#= f.submit "Approve" %>
<%# end %>
