<section id="reservations-page-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <h3 id="h3-reservation">My Reservations</h3>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn claimItem" data-toggle="modal" data-target="#claimModal">Claim</button>
        <!-- Modal -->
        <div id="claimModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send a Claim</h4>
              </div>
              <div class="modal-body">
                <%= render partial: 'pages/new_claim' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-9">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Check-In</h3>
            </div>
            <div class="panel-body checkin">
              <%#= Transaction.group(:user_id).sum(:payout) %>
              <%#= Transaction.sum(:payout, :group => :customer_id) %>
              <%= render 'checkin' %>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Check-Out</h3>
            </div>
            <div class="panel-body checkout">
              <%= render 'checkout' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Previous Requests</h3>
              </div>
              <div class="panel-body">
                <%= render 'previous' %>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Claims</h3>
              </div>
              <div class="panel-body">
                <%= render 'claims' %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
