
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-12">
        <%=raw tag_links(item.all_tags)%>
        <%#= raw @tags %>
        <%# @tags.each do |tag| %>
          <li><%#= tag.name %></li>
        <%# end %>
      </div>
    </div>
  </div>
</div>
