
<div class="container">
  <div class="row">
    <% @tagged_items.each do |item| %>
      <div class="col-xs-12 col-sm-4 noPadding">
        <div class="ds">
          <% if item.item_attachments.present? %>
          <%= image_tag item.item_attachments.first.image_url, class: 'indItm' %>
          <% else %>
          <%= image_tag "missing", class: 'indItm' %>
          <% end %>
          <div class="itemPrice">
            <% if item.price.present? %>
            $<%= item.price %>
            <% else %>
            N/A
            <% end %>
          </div>
          <%= image_tag item.user.image, class: "circle itemOwner", style: 'box-shadow: 1px 2px 6px 1px rgb(221, 221, 221);width: 50px; height: 50px;' %>
        </div>
        <h3 class="itemName"><%= link_to item.name, controller: "items", action: "show", id: item.id%></h3>
        <%= rating_for item, 'visual_effects', stars: 5, enable_half: true%>
      </div>
    <% end %>
  </div>
  </div>
</div>
