<div class="row" id="ee">
  <%= form_for @requested_item do |request| %>
  <div class="col-xs-6">
    <%= request.label :name %>
    <%= request.text_field :name %>
  </div>
  <div class="col-xs-6">
    <%= request.label :location %>
    <%= request.text_field :location %>
  </div>
  <div class="col-xs-12">
    <br>
    <%= request.submit 'Edit', class: 'color-btn green-btn'%>
  </div>
<% end %>
</div>
