  <div class="row">
    <%= form_for @requested_item do |request| %>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <%= request.text_field :name, label: false, placeholder: "Item Name" %>
        </div>
        <div class="col-xs-6">
          <%= request.text_field :location, label: false, placeholder: "Item location" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <%= request.text_field :from_date, label: false, placeholder: "Start date" %>
        </div>
        <div class="col-xs-6">
          <%= request.text_field :to_date, label: false, placeholder: "end Date" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <%= request.text_field :description, label: false, placeholder: "Description" %>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <%= request.submit 'submit', class: 'btn btn-primary', id: 'request-btn'%>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  <% end %>
  </div>
