<% @requested_items.each do |request| %>
<div class="activity col-xs-12">
  <div class="row">
    <div style="padding-left: 8px;" class="col-xs-2">
      <img src="<%= request.user.image || request.user.avatar %>" alt="..." class="imgActi">
    </div>
    <div style="padding-left: 0;" class="col-xs-10">
      <div class="col-xs-12 col-sm-8">
        <h4 style="display: inline-block;font-size:15px;"><%= link_to request.user.full_name.capitalize, user_path(request.user) %></h4>
        <h4 style="display: inline-block; color:#b9b9b9;font-size:15px;">requested a</h4>
        <h4 style="display: inline-block;font-size:15px;"><%= request.name.capitalize[0..6] %><br></h4>
      </div>
      <div style="text-align: right;padding-top: 11px;" class="hidden-xs col-sm-3">
        <%= (Date.current - request.created_at.to_date).to_i %>d ago
      </div>
    </div>
    <div style="padding-left: 0;" class="col-xs-10">
      <div class="col-xs-6">
        <i style="color: #6eb35a;" class="fa fa-map-marker" aria-hidden="true"></i> <%= request.location %>
      </div>
      <div style="text-align: center;" class="col-xs-6">
        <button type="button" class="btn btn-secondary detailBtn">Details</button>
        <% if request.user == current_user %>
        <div class="editBtnRequest">
          <%= link_to "Edit", edit_requested_item_path(request)%>
          <%#= link_to "Edit", "#editModal", "data-toggle": "modal"%>
          <%#= link_to "edit", edit_requested_item_path(request), class: "btn btn-mini", remote: true, "#editModal", "data-toggle": "modal" %>
          <!-- <a data-toggle="modal" data-target="#editModal" data-remote="<%= edit_requested_item_path(request) %> #ee">Edit</a> -->
        </div>
        <div class="deleteBtnRequest">
          <%= link_to "Delete", requested_item_path(request), method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>

        <!-- Modal -->
        <div id="editModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit a request</h4>
              </div>
              <div class="modal-body">
                <%= render 'edit' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <% end %>
      </div>
    </div>
    <!-- <div tyle="padding-left: 0;" class="col-xs-10">
    <%#= social_share_button_tag("Hey check out, im renting my #{request.name} on sharecity", :image => "http://localhost:3000/uploads/item_attachment/image/12/Cowboy_girl.jpg", desc: "The summary of page", via: "ShareCityhq") %>
    </div> -->
    <div class="col-xs-12 detailsCol">
      Start date: <%= request.from_date.strftime('%B %d, %Y') %>
      <br>
      End Date: <%= request.to_date.strftime('%B %d, %Y') %>
      <br>
      description: <%= request.description %>
    </div>
  </div>
</div>
<% end %>


<script type="text/javascript">
$(document).ready(function() {
  $(".detailBtn").click(function() {
    if ($(this).text() == "Details") {
      $('.detailsCol').show();
      $(this).text("Close")
    } else {
      $('.detailsCol').hide();
      $(this).text("Details")
    }
  });
});
</script>
