<section id="requested-items-section">
  <div class="wrapper-main">
    <div class="col-xs-12 col-sm-6">
      <h1 style="color: #5d5d5d; padding-left: 65px;">Items requested</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn reqItem" data-toggle="modal" data-target="#myModalRequest">Request an item now</button>
    </div>
    <br><br><br>
    <div style="margin-top: 40px;" class="col-xs-12">
      <div class="col-xs-6 col-sm-3 btnPub">
        <h3 class="h3PF active1">Community</h3>
      </div>
      <div class="col-xs-6 col-sm-3 btnFol">
        <h3 class="h3PF active2">Followers</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8" id="acti-main12">
      <div class="wrapperStream divPub">
        <% if @requested_items.length > 0 %>
          <%= render 'public' %>
        <% end %>
      </div>
      <div class="wrapperStream divFol">
        <% if @requested_items.length > 0 %>
          <%= render 'followers' %>
        <% end %>
      </div>
    </div>
    <div class="hidden-xs col-xs-4">
      <div class="theblogwidgets" style="">
        <div>
          <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Ffacebook.com%2Fsharecityhq&width=270&colorscheme=light&show_faces=true&border_color=white&connections=9&stream=false&header=false&height=270" scrolling="no" frameborder="0" scrolling="no" style="border: white; overflow: hidden; height: 270px;color:000;"></iframe>
        </div>
      </div>
    </div>
    <div class="hidden-xs col-xs-4">
      <a class="twitter-timeline" data-height="317" data-theme="dark" data-link-color="#4692b4" href="https://twitter.com/ShareCityHQ">Tweets by ShareCityHQ</a>
      <!-- <a class="twitter-timeline" href="https://twitter.com/ShareCityHQ">Tweets by ShareCityHQ</a> -->
    </div>
  </div>
  <!-- Modal -->
  <div id="myModalRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Request a new item</h4>
        </div>
        <div class="modal-body">
          <%= render 'new' %>
        </div>
      </div>

    </div>
  </div>
</section>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript">
  $('.btnFol').on('click', function() {
    $('.divPub').hide();
    $('.divFol').show();
    $('.active2').css('color', '#337ab7');
    $('.active1').css('color', '#bababa');
  });
  $('.btnPub').on('click', function() {
    $('.divFol').hide();
    $('.divPub').show();
    $('.active1').css('color', '#337ab7');
    $('.active2').css('color', '#bababa');
  });
</script>
