<%= form_for @billing, html: {id: "payment-form"}, remote: true do |f| %>
<span class="payment-errors"></span>
<div class="currUsId hidden" id= "<%= current_user.id %>"></div>
<div class="usrIdStatus hidden" id= ""></div>

<div class="form-row">
  <label>
    <span>Card Number</span>
    <input type="text" size="20" data-stripe="number" value="">
  </label>
</div>

<div class="form-row">
  <label>
    <span>Expiration (MM/YY)</span>
    <input type="text" size="2" data-stripe="exp_month" value="12">
  </label>
  <span> / </span>
  <input type="text" size="4" data-stripe="exp_year" value="2019">
</div>

<div class="form-row">
  <label>
    <span>CVC</span>
    <input type="text" size="4" data-stripe="cvc" value="123">
  </label>
</div>

<div class="col-xs-6">
    <div class="field">
        <%= f.label :address %><br/>
        <%= f.text_field :address, autofocus: true, placeholder: 'Billing Address', class: "", data: {stripe: 'address_line1'} %>
    </div>
    <div class="field">
        <%= f.label :city %><br/>
        <%= f.text_field :city, autofocus: true, placeholder: 'City', class: "", data: {stripe: 'address_city' }%>
    </div>
    <div class="field">
        <%= f.label :country %><br/>
        <%= f.text_field :country, autofocus: true, placeholder: 'Country', class: "", data: {stripe: 'address_country' }%>

    </div>
    <div class="field">
        <%= f.label :postal_code %><br/>
        <%= f.text_field :postal_code, autofocus: true, placeholder: 'Postal Code', class: "", data: {stripe: 'address_zip'} %>
    </div>
</div>

<input type="submit" class="submit" value="Submit Payment" id="submitBill">
<% end %>




<!-- Credit card form -->
<!-- <div class="container"> -->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expMonth">EXPIRATION DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Start Subscription</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
<!-- </div> -->


<!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->
<!--
<script type="text/javascript">

  Stripe.setPublishableKey('pk_test_0FyvCsUfknPbVr9RVgBR8Vui');

  $(function() {
    var $form = $('#payment-form');
    $('#submitBill').on('click', function(event) {
      event.preventDefault();
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    var add = $('#billing_address').val();
    var cit = $('#billing_city').val();
    var cou = $('#billing_country').val();
    var pos = $('#billing_postal_code').val();
    var usr_id = parseInt($('.currUsId')[0].id)
    var strToke = $('input[name=stripeToken]').val();

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));
      $.ajax({
        type: "POST",
        data: {addressJ: add, cityJ: cit, countryJ: cou, postalJ: pos, usrId: usr_id, sTokenJ: token},
        url: 'billings/',
        success: function(res){
          console.log(res.status);
          $('#myModalBilling').modal('hide');
        }
      });

      // Submit the form:
      // $form.get(0).submit();
    }
  };

</script> -->
