<% @allItems.each do |item| %>
  <% item.reservations.accepted.each do |res| %>
    <% if item.user == current_user %>
      <div class="feed-item" id="accepted-request-<%= res.id %>">
          <strong><%= username(res.user).capitalize %></strong> you accepted a request for <strong><%= link_to res.item.name, item_path(res.item) %></strong>
          <%= link_to 'Cancel', item_reservation_path(item, res, {status: 'cancelled-owner'}), 'data-status' => 'cancelled-owner', class: 'btn btn-danger ; reqBtn', id: "btn_cancel", method: :patch, :remote => true %>
          <div class="it hidden" id= "<%= res.item_id %>"></div>
          <div class="re hidden" id= "<%= res.id %>"></div>
      </div>
    <% end %>
  <% end %>
<% end %>
