<% @allItems.each do |item| %>
  <% item.reservations.accepted.each do |res| %>
    <% if res.user == current_user %>
      <div class="feed-item" id="accepted-request-<%= res.id %>">
          <strong><%= username(res.user).capitalize %></strong> confirm your request for <strong><%= link_to res.item.name, item_path(res.item) %></strong>
            <%#= link_to 'Pay', item_reservation_path(item, res, {status: 'paid'}), class: 'btn btn-success reqBtn', id: "btn_pay", method: :patch, :remote => true, 'data-toggle': 'tooltip', 'data-placement': 'top', title: "Note: You will be charged 24 hours before your pick up date" %>
            <%= link_to 'Details', '#', class: 'btn btn-success reqBtn btn_pay' %>
            <%= link_to 'Cancel', item_reservation_path(item, res, {status: 'cancelled'}), 'data-status' => 'cancelled', class: 'btn btn-danger cancelBtn reqBtn', id: "btn_cancel", method: :patch, :remote => true %>
          <div class="it hidden" data-resItemId= "<%= res.item_id %>"></div>
          <div class="re hidden" data-resId= "<%= res.id %>"></div>
          <!-- Modal -->
          <div id="modalPayment-<%= res.id %>" class="modal fade modalPayment" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Payment details</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="alert alert-success"></div>
                  </div>
                  <div class="row resInfo">
                    <div class="col-xs-12 info1">
                      <table class="table table-hover table-bordered">
                        <tbody>
                          <tr>
                            <td>Check in</td>
                            <td><%= res.start_date.strftime("%B %d %Y") %></td>
                          </tr>
                          <tr>
                            <td>Check out</td>
                            <td><%= res.end_date.strftime("%B %d %Y") %></td>
                          </tr>
                          <tr>
                            <td>Days</td>
                            <td><%= (res.end_date.to_date - res.start_date.to_date).to_i %></td>
                          </tr>
                          <tr>
                            <td>Amount due</td>
                            <td>$<%= res.total %></td>
                          </tr>
                          <% unless res.user.customer_id == nil || res.item.price_status == "1" %>
                          <tr>
                            <td>Existing Card</td>
                            <td>************</td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <!-- <h4>Amount due: $<%= res.total %></h4> -->
                      <!-- <h4><%= res.start_date.strftime("%B %d %Y") %> to <%= res.end_date.strftime("%B %d %Y") %></h4> -->
                    </div>
                    <div class="col-xs-12">
                      <%# user = Stripe::Customer.retrieve(res.user.customer_id) %>
                      <% if res.user.customer_id != nil && res.item.price_status == "0" %>
                        <a class="btn btn-success payNow" href="#" id="<%= res.id %>">Pay</a>
                        <a class="btn btn-success editCard" href="#">Edit payment method</a>
                      <% elsif res.item.price_status == "1" %>
                        <a class="btn btn-success payNow" href="#" id="<%= res.id %>">Book</a>
                      <% else %>
                        <a class="btn btn-success addCard" href="#">Add Card</a>
                      <% end %>
                    </div>
                  </div>
                  <div class="row  ccForm hidden">
                    <div class="col-xs-12">
                      <%= form_for Billing.new, html: {id: "new-payment-form"} do |f| %>
                        <div class="row">
                          <!-- <span class="payment-errors"></span> -->
                          <!-- <div class="currUsId hidden" id= "<%#= current_user.id %>"></div> -->
                          <div class="col-xs-6">
                            <div class="col-xs-12">
                              <div class="field">
                                <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Name on Card</label>
                                <input type="text" name="cardholderName" size="20" id="cardholderName">
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class="field">
                                <%= f.label :address %><br/>
                                <%= f.text_field :address, autofocus: true, placeholder: 'Billing Address', class: "", data: {stripe: 'address_line1'} %>
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class="row">
                                <div class="col-xs-6">
                                  <div class="field">
                                      <%= f.label :city %><br/>
                                      <%= f.text_field :city, autofocus: true, placeholder: 'City', class: "", data: {stripe: 'address_city' }%>
                                  </div>
                                </div>
                                <div class="col-xs-6">
                                  <div class="field">
                                      <%= f.label :address_state %><br/>
                                      <%= f.text_field :address_state, autofocus: true, placeholder: 'State/Province', class: "", data: {stripe: 'address_state' }%>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class="row">
                                <div class="col-xs-6">
                                  <div class="field">
                                    <%= f.label :country %><br/>
                                    <%= f.text_field :country, autofocus: true, placeholder: 'Country', class: "", data: {stripe: 'address_country' }%>
                                  </div>
                                </div>
                                <div class="col-xs-6">
                                  <div class="field">
                                    <%= f.label :postal_code %><br/>
                                    <%= f.text_field :postal_code, autofocus: true, placeholder: 'Postal Code', class: "", data: {stripe: 'address_zip'} %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div class="col-xs-12">
                              <div class="field">
                                <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Card Number</label>
                                <input type="text" size="20" data-stripe="number" id="cardNum">
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class="field">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Expires On</label>
                                  </div>
                                  <div class="col-xs-6">
                                    <select class="" name="creditCard-month" data-stripe="exp_month" id="cardMonth">
                                      <option>MM</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                      <option value="9">9</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                    </select>
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" size="4" data-stripe="exp_year" value="" placeholder="YYYY" id="cardYear">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class="row">
                                <div class="col-xs-6">
                                  <label style="display: block; padding-top: 9px; padding-bottom: 8px;">CVC</label>
                                  <input type="text" size="4" data-stripe="cvc" value="" id="cardCvc">
                                </div>
                                <!-- <div class="col-xs-6">
                                  <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Currency</label>
                                  <select class="" name="currency" id="currency">
                                    <option></option>
                                    <option value="cad">Canadian Dollar</option>
                                    <option value="usd">United States Dollar</option>
                                  </select>
                                </div> -->
                              </div>
                            </div>
                            <div class="col-xs-12">
                              <div class="row sp-btn">
                                <div class="col-xs-12">
                                  <input type="submit" class="btn btn-success submit" value="Add Card" id="submitBill" class="btn">
                                  <!-- <a class="btn btn-success createCard" href="#">Add Card</a> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="col-xs-6">
                    <%= image_tag "powered_by_stripe", class: "stripeImg" %>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<!-- <div data-id="<%= current_user.id %>" class="currUsId hidden"></div> -->
<!-- <div class="resId hidden" id= ""></div> -->


<script type="text/javascript">
Stripe.setPublishableKey('pk_test_0FyvCsUfknPbVr9RVgBR8Vui');

$(function() {
  var $form = $('#new-payment-form');

  $form.submit(function (event) {

    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);

    // Request a token from Stripe:
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
  });
});


function stripeResponseHandler(status, response) {
  // Grab the form:
  var $form = $('#new-payment-form');
  var address = $form.find('#billing_address').val();
  var city = $form.find('#billing_city').val();
  var country = $form.find('#billing_country').val();
  var postal = $form.find('#billing_postal_code').val();
  var pro_st = $form.find('#billing_address_state').val();
  var currency = $form.find('#currency').val();


  if (response.error) { // Problem!

    // Show the errors on the form:
    $form.find('.payment-errors').text(response.error.message);
    $form.find('.submit').prop('disabled', false); // Re-enable submission

  } else { // Token was created!

    // Get the token ID:
    var token = response.id;

    // Insert the token ID into the form so it gets submitted to the server:
    $form.append($('<input type="hidden" name="stripeToken">').val(token));
    // Submit the form:
    // $form.get(0).submit();

    $.ajax({
      type: 'POST',
      url: '/billings',
      data: {stripeToken: token, address: address, city: city, country: country, postal: postal, pro_st: pro_st},
      success: function(xhr) {
        console.log(xhr);
        if (xhr.status == true) {
          $('.ccForm').addClass('hidden');
          $('.resInfo').show();
          $('.modal-body').find('.alert-success').show().text(xhr.message);
          $('.addCard').hide();
          $('.resInfo').append('<a class="btn btn-success payNow" href="#">Pay</a>');
          // $('.resInfo').find('.info1').append('<h4>You existing Credit Card: ************' + response.last4 + ' </h4><a class="btn btn-success payNow" href="#">Pay</a>')
          $('.resInfo').find('.table').find('tbody').append('<tr><td>Existing Card</td><td>**********2344</td></tr>');
        }
      }
    });

  }
};

$('.payNow').on('click', function() {
  var reservationId = $(this)[0].id;
  $.ajax({
    type: 'PUT',
    // url: '/charge',
    url: "/reservations/" + reservationId + "/updateWithPay",
    // data: {reservation_id: reservationId},
    success: function(xhr) {
      console.log(xhr);
      // if (xhr.status == true) {
      // }
    }
  });
});
</script>
