<script>

$(function() {

	datesArray = [];

	$('#item-calendar-mobile').multiDatesPicker({
		dateFormat: 'yy-mm-dd',
		minDate: 0,
		maxDate: '3m',
		numberOfMonths: [3,1],
		// beforeShowDay: unavailable,
		onSelect: function(dateText, inst) {
				// alert(dateText)
				console.log(datesArray);
				var checkArray = $.inArray(dateText, datesArray);
				console.log(checkArray);
				if (checkArray === -1) {
					datesArray.push(dateText);
					$('#item_unavailable_dates_attributes_0_date').val(datesArray);
				} else {
					datesArray.splice(checkArray, 1);
					$('#item_unavailable_dates_attributes_0_date').val(datesArray);
					// var index = datesArray.indexOf(dateText);
				}
				console.log(datesArray);
		}
	});


});
$(function() {
// $.getJSON("http://localhost:3000/tags/index", function(json){
$.getJSON("http://www.sharecity.net/tags/index", function(json){
    myjson = json;
});
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#tagsMobile" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 3,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            myjson, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( "," );
          return false;
        }
      });
  });
  </script>

<%= form_for(@item, multipart: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<!-- <div class="multistep-form-mobile step-active-mobile">
	</div> -->

  <div class="multistep-form-mobile step-active-mobile">
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, placeholder: 'Item Name' %>
    </div>
    <div class="field">
      <%= f.label "Postal / Zip code" %><br/>
      <%= f.text_field :postal_code, placeholder: 'Item"s Postal Code'%>
    </div>
    <div class="field">
      <!-- <%#= f.label :qty %><br/> -->
      <%#= f.select :qty, options_for_select(1..10) %>
  </div>
  <div class="field">
    <!-- <%#= f.label :desc %><br/> -->
    <%= f.text_area :desc, placeholder: 'Item Description', rows: 5 %>
  </div>
</div>


<div class="multistep-form-mobile step-closed-mobile">
  <div class="field">
    <%= f.label :price_status %>
    <br>
    For a fee
    <%= f.check_box :price_status,{:id=> 'abcd'}, 0, 1 %>
  </div>
  <div id="price_details-mobile" style="display:none;">
    <div class="col-md-4">
      <%= f.text_field :price, placeholder: 'Daily Price' %>
    </div>
    <!-- <div class="col-md-4">
      <%#= f.text_field :weekly_price, placeholder: 'Weekly Price' %>
    </div>
    <div class="col-md-4">
      <%#= f.text_field :monthly_price, placeholder: 'Monthly Price' %>
    </div> -->
		<%= f.hidden_field :qty, value: '1' %>
  </div>
  <div class="field">
  </div>

  <div class='form-group'>
    <%#= f.label :share_with, 'Sharing status' %><br/>
    <!-- You can share this item in Public or Private (only your followers)<br/> -->
    <%= f.hidden_field :sharing, value: '0' %>
    <!-- <ol id="multistep-selectable">
      <li class="ui-widget-content" value="0">Public</li>
      <li class="ui-widget-content" value="1">Private</li>
    </ol> -->
  </div>
</div>

<div class="multistep-form-mobile step-closed-mobile">
  <div class="field">
      <div class="field">
        <%= f.fields_for :unavailable_dates do |p| %>
	     <%= p.text_field :date, readonly: 'true', placeholder: 'Pick unavailabe Dates', class: 'form-control' %> <i class="fa fa-calendar-plus-o"></i>
	<% end %>
          <div id="item-calendar-mobile">

          </div>
      </div>
  </div>
</div>

<div class="multistep-form-mobile step-closed-mobile">
  <div class="field">
    <%= f.fields_for :item_attachments do |p| %>
      <div class="field">
        <%#= p.label :image, 'Item Photo' %>
        Add images of your item. You can always come back later and add more.<br/>
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Upload Photos
        </label>
        <%= p.file_field :image, id:"file-upload", :multiple => true, name: "item_attachments[image][]" %>
        <!-- <input id="file-upload" type="file"/> -->
        </div>
      <% end %>
    </div>
		<!-- <div class="col-xs-12"> -->
			<div class="col-xs-6">
				<img id="img_prev0m" width=300 height=200 src="#" alt="your image" class="img-thumbnail-mobile hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev1m" width=300 height=200 src="#" alt="your image" class="img-thumbnail-mobile hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev2m" width=300 height=200 src="#" alt="your image" class="img-thumbnail-mobile hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev3m" width=300 height=200 src="#" alt="your image" class="img-thumbnail-mobile hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev4m" width=300 height=200 src="#" alt="your image" class="img-thumbnail-mobile hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev5m" width=300 height=200 src="#" alt="your image" class="img-thumbnail-mobile hidden"/>
			</div>
		<!-- </div> -->

  </div>

      <%#= f.autocomplete_field :all_tags, autocomplete_tag_name_items_path, 'data-delimiter' => ',', :multiple => true %>
      <%#= f.input :all_tags, as: :autocomplete, url: autocomplete_tag_name_items_path %>
  <div class="multistep-form-mobile step-closed-mobile">
    <div class="large-10 large-centered columns">
      <%= f.label :tag, 'Item Tags' %><br>
      Add tags to your items, so people can easily find your item.<br/>
      <%= f.text_field :all_tags, :id=>"tagsMobile", placeholder: 'ex. Bike, Block', data: { autocomplete_source: tags_index_path} %>
    </div>
    <br>
  </div>

	<div class="multistep-form-mobile step-closed-mobile">
	  <div class="col-xs-12">
			<div class="orderTerms">
        <input type="checkbox" id="terms-mobile" value="1" onclick="#">
            <h4 id="h4-terms">I have read and agree to the following</h4>
						<%= link_to "Terms and Conditions", "#terms-modal-mobile", :id => "TermsCo", "data-toggle" => "modal" %>
						<!-- Modal -->
						<div id="terms-modal-mobile" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Terms and Conditions</h4>
						      </div>
						      <div class="modal-body">
										<%= render 'terms' %>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>

						  </div>
						</div>
      </div>
	  </div>
	</div>

  <div class="row actions multistep-form-mobile">
		<div class="col-xs-12">
			<div class="col-xs-6">
				<button type="button" class="color-btn gray-btn step-form-btn" id="step-form-prev-mobile">Back</button>
			</div>
			<div class="col-xs-6 text-right">
				<button type="button" class="color-btn green-btn step-form-btn" id="step-form-next-mobile">Next</button>
				<%= f.submit 'List item', class: 'color-btn green-btn', id: 'step-form-submit-mobile' %>
			</div>
		</div>
  </div>
<% end %>

<script type="text/javascript">
	$(function() {
		function readURL(input) {
			if (input.files && input.files[0]) {
				console.log(input.files[0]);
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#img_prev0m').removeClass('hidden');
					$('#img_prev0m').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
			if (input.files && input.files[0] && input.files[1]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev1m').removeClass('hidden');
					$('#img_prev1m').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[1]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev2m').removeClass('hidden');
					$('#img_prev2m').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[2]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2] && input.files[3]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev3m').removeClass('hidden');
					$('#img_prev3m').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[3]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2] && input.files[3] && input.files[4]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev4m').removeClass('hidden');
					$('#img_prev4m').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[4]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2] && input.files[3] && input.files[4] && input.files[5]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev5m').removeClass('hidden');
					$('#img_prev5m').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[5]);
			}
		}

		$("#file-upload").change(function(){
			readURL(this);
		});
	});

  var checkbox = document.getElementById('abcd');
  var details_div = document.getElementById('price_details-mobile');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };

	$(function() {
  $('input#step-form-submit-mobile').attr('disabled', 'disabled');
    $('#terms-mobile').click(function() {
        if ($(this).is(':checked')) {
          $('input#step-form-submit-mobile').removeAttr('disabled');
        } else {
          $('input#step-form-submit-mobile').attr('disabled', 'disabled');
        }
    });
	});
</script>
