<script>

function unavailable(date) {
	dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
	return [$.inArray(dmy, unavailableDates) == -1];
}

$(function() {

	unavailableDates = [];

	$.ajax({
		url: '/preloadDates',
		data: {'item_id': <%= @item.id %>},
		dataType: 'json',
		success: function(data) {
			console.log(data);

			$.each(data.items, function(arrID, data) {
				d = data.date;
				// dateConverted = d.getDate() + '-' + ((d.getMonth() + 1)) + '-' +  d.getFullYear()
        // console.log(d);
				unavailableDates.push(d);
			});
			console.log(unavailableDates);

			datesArray = [];

			$('#item-calendar').multiDatesPicker({
				dateFormat: 'yy-mm-dd',
				minDate: 0,
				maxDate: '3m',
				numberOfMonths: 3,
				// beforeShowDay: unavailable,
				onSelect: function(dateText, inst) {
						// alert(dateText)
						console.log(datesArray);
						var checkArray = $.inArray(dateText, datesArray);
						console.log(checkArray);
						if (checkArray === -1) {
							datesArray.push(dateText);
							$('#item_unavailable_dates_attributes_date').val(datesArray);
						} else {
							datesArray.splice(checkArray, 1);
							$('#item_unavailable_dates_attributes_date').val(datesArray);
							// var index = datesArray.indexOf(dateText);
						}
						// console.log(datesArray);
				}
			});
		}
	});



});
$(function() {
// $.getJSON("http://localhost:3000/tags/index", function(json){
$.getJSON("http://www.sharecity.net/tags/index", function(json){
    myjson = json;
});
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 3,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            myjson, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( "," );
          return false;
        }
      });
  });
	$(document).ready(function() {
		$(".img_d").click(function(event) {
			event.preventDefault();
			// event.stopPropagation();
			var img_id = $(this)[0].id;
			$.ajax({
				type: "DELETE",
				data: {imgId: img_id},
				url: "/item_attachments/" + img_id,
				success: function(res){
					console.log(res.status);
					if (res.status == true) {
						$('.img-'+ res.id).css('opacity', '0.2');
						$('.imgDelete-'+ res.id).css('display', 'none');
					}
				}
			});
		});
	});
  </script>


<%= form_for(@item, multipart: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="multistep-form step-active">
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, placeholder: 'Item Name' %>
    </div>
    <div class="field">
      <%= f.label :Item_location %><br/>
      <%= f.text_field :postal_code, placeholder: 'Postal Code'%>
    </div>
    <div class="field">
      <%= f.label :qty %><br/>
      <%= f.select :qty, options_for_select(1..10) %>
  </div>
  <div class="field">
    <%= f.label :desc %><br/>
    <%= f.text_area :desc, placeholder: 'Item Description', rows: 5 %>
  </div>
</div>


<div class="multistep-form step-closed">
  <div class="field">
    <%= f.label :price_status %>
    <br>
    For a fee
    <%= f.check_box :price_status,{}, 0, 1 %>
  </div>
  <div id="price_details" class="field row" style="display:none;">
    <div class="col-md-4">
      <%= f.text_field :price, placeholder: 'Daily Price' %>
    </div>
		<div class="col-md-4">
      <%= f.text_field :weekly_price, placeholder: 'Weekly Price' %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :monthly_price, placeholder: 'Monthly Price' %>
    </div>
  </div>
  <div class="field row">
    <%= f.label :damage_deposit, 'Damage Deposit' %><br/>
    <%= f.number_field :damage_deposit %>
  </div>

    <!-- <div class="col-md-4">
      <%#= f.text_field :weekly_price, placeholder: 'Weekly Price' %>
    </div>
    <div class="col-md-4">
      <%#= f.text_field :monthly_price, placeholder: 'Monthly Price' %>
    </div>
  </div>
  <div class="field">
  </div> -->

  <div class='form-group'>
    <%#= f.label :share_with, 'Sharing status' %><br/>
    <!-- You can share this item in Public or Private (only your followers)<br/> -->
    <%= f.hidden_field :sharing, value: '0' %>
    <!-- <ol id="multistep-selectable">
      <li class="ui-widget-content" value="0">Public</li>
      <li class="ui-widget-content" value="1">Private</li>
    </ol> -->
  </div>
</div>

<div class="multistep-form step-closed">
  <div class="field">
      <div class="field">
        <%= f.fields_for :unavailable_dates do |p| %>
	        <%= p.text_field :date, readonly: 'true', placeholder: 'Pick unavailabe Dates', class: 'form-control' %> <i class="fa fa-calendar-plus-o"></i>
	      <% end %>
        <div id="item-calendar">
        </div>
          <div class="editHidden">
		  <input readonly="readonly" placeholder="Pick unavailabe Dates" class="form-control" type="hidden" name="item[unavailable_dates_attributes]" id="item_unavailable_dates_attributes_date">
          </div>
      </div>
  </div>
</div>

<div class="multistep-form step-closed">
  <div class="field">
    <%= f.fields_for :item_attachments do |p| %>
      <div class="field">
        <%= p.label :image, 'Item Photo' %><br/>
        Add images of your item. You can always come back later and add more.<br/>
        <%= p.file_field :image, :multiple => true, name: "item_attachments[image][]" %>
        </div>
      <% end %>
    </div>
		<div class="field">
			<h1>Listing Item Attachments</h1>
				<% @item_attach.each do |p| %>
					<%= image_tag p.image_url, style: 'width: 300px', class: "img-#{p.id}"  %>
					<%= link_to 'Delete', item_attachment_path(p), id: p.id, class: "img_d imgDelete-#{p.id}" %>
				<% end %>
		</div>
  </div>

      <%#= f.autocomplete_field :all_tags, autocomplete_tag_name_items_path, 'data-delimiter' => ',', :multiple => true %>
      <%#= f.input :all_tags, as: :autocomplete, url: autocomplete_tag_name_items_path %>
  <div class="multistep-form step-closed">
    <div class="large-10 large-centered columns">
      <%= f.label :tag, 'Item Tags' %><br>
      Add tags to your items, so people can easily find your item.<br/>
      <%= f.text_field :all_tags, :id=>"tags", placeholder: 'ex. Bike, Block', data: { autocomplete_source: tags_index_path} %>
    </div>
    <br>
  </div>

  <div class="row actions multistep-form">
    <div class="col-md-6">
      <button type="button" class="color-btn gray-btn step-form-btn" id="step-form-prev">Back</button>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="color-btn green-btn step-form-btn" id="step-form-next">Next</button>
      <%= f.submit 'List item', class: 'color-btn green-btn', id: 'step-form-submit' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var checkbox = document.getElementById('item_price_status');
  var details_div = document.getElementById('price_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>

      <%#= simple_form_for @item, html: { class: "form-horizontal", :multipart => true } do |f| %>
        <%#= f.input :name, :required => true, hint: "Write the item's name" %>
        <%#= f.input :qty, collection: 1..10, include_blank: true %>
        <%#= f.input :desc, hint: "Write a brief description about the item " %>
        <%#= f.input :price, :required => true %>
        <%#= f.simple_fields_for :item_attachments do |i| %>
          <%#= i.file_field :image, :multiple => true, name: "item_attachments[image][]" %>
        <%# end %>
        <%#= f.input :image %>
        <!-- <div class="form-group">
          <%#= f.submit class: "btn btn-primary", data: {disable_with: "saving.."} %>
        </div> -->
      <%# end %>
