<script>

$(function() {
  // $('#item_unavailable_dates_attributes_0_date').multiDatesPicker();
	// $('.item-calendar').multiDatesPicker()
	// .bind(
	// 		'dateSelected',
	// 		function(e, selectedDate, $td)
	// 		{
	// 			// $('#date1').val(selectedDate.asString());
	// 			$('#item_unavailable_dates_attributes_0_date').dpSetSelected(selectedDate.asString());
	// 			// $('#item_unavailable_dates_attributes_0_date').val(selectedDate.asString());
	// 		}
	// 		);

	var checkbox = document.getElementById('item_price_status');
  var details_div = document.getElementById('price_details');
  checkbox.onchange = function() {
     if(this.checked) {
			 details_div.style['display'] = 'none';
     } else {
			 details_div.style['display'] = 'block';
     }
  };

	datesArray = [];

	$('#item-calendar').multiDatesPicker({
		dateFormat: 'yy-mm-dd',
		minDate: 0,
		maxDate: '3m',
		numberOfMonths: 3,
		// beforeShowDay: unavailable,
		onSelect: function(dateText, inst) {
				// alert(dateText)
				console.log(datesArray);
				var checkArray = $.inArray(dateText, datesArray);
				console.log(checkArray);
				if (checkArray === -1) {
					datesArray.push(dateText);
					$('#item_unavailable_dates_attributes_0_date').val(datesArray);
				} else {
					datesArray.splice(checkArray, 1);
					$('#item_unavailable_dates_attributes_0_date').val(datesArray);
					// var index = datesArray.indexOf(dateText);
				}
				console.log(datesArray);
		}
	});

	$("#item_price").change(function(){
     if(parseInt(this.value) < 3){
        // alert("price has to be at least 3");
				$('#step-form-next').attr('disabled', 'disabled');
				$('#error_price').show();
	    } else {
	    	$('#step-form-next').removeAttr('disabled');
				$('#error_price').hide();
	    }
	})


});

$(function() {
// $.getJSON("http://localhost:3000/tags/index", function(json){
$.getJSON("http://www.sharecity.net/tags/index", function(json){
    myjson = json;
});
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 3,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            myjson, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( "," );
          return false;
        }
      });
  });
  </script>


<%= form_for(@item, multipart: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="multistep-form step-active">
		<div class="row">
			<div class="col-xs-6">
				<%= f.label :name %><br/>
				<%= f.text_field :name, placeholder: 'Item Name' %>
			</div>
			<div class="col-xs-6">
				<%= f.label :original_price %><br/>
				<%= f.text_field :original_price, placeholder: "Item's original price" %>
			</div>
		</div>
    <div class="row">
			<div class="col-xs-12">
				<%= f.label "Postal / Zip code" %><br/>
				<%= f.text_field :postal_code, placeholder: 'Postal Code'%>
			</div>
    </div>
    <!-- <div class="field">
      <%#= f.label :qty %><br/>
      <%#= f.select :qty, options_for_select(1..10) %>
    </div> -->
  	<div class="row">
			<div class="col-xs-12">
				<%= f.label "Item Description" %><br/>
				<%= f.text_area :desc, placeholder: 'Item Description', rows: 5 %>
			</div>
  	</div>
	</div>


<div class="multistep-form step-closed">
  <div class="field">
    <%= f.label :price_status %>
    <br>
    For a free
    <%= f.check_box :price_status,{}, 1, 0 %>
  </div>
	<div class="row field" id="price_details">
		<div class="col-md-12">
			<div class="col-md-4" style="padding-left:0;">
				<%= f.label :price, 'Price' %><br/>
	      <%= f.text_field :price, placeholder: 'Daily Price' %>
				<span id="error_price">Price has to be at least $3</span>
	    </div>
			<div class="col-md-4">
				<%= f.label :weekly_price, 'Weekly Price' %><br/>
	      <%= f.text_field :weekly_price, placeholder: 'Weekly Price' %>
	    </div>
	    <div class="col-md-4">
				<%= f.label :monthly_price, 'Monthly Price' %><br/>
	      <%= f.text_field :monthly_price, placeholder: 'Monthly Price' %>
	    </div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4" style="padding-left:0;">
		    <%= f.label :damage_deposit, 'Damage Deposit' %><br/>
		    <%= f.number_field :damage_deposit %>
		  </div>
		</div>
	</div>
  <!-- <div id="price_details" class="field row">
    <div class="col-md-4" style="width: 33%;padding-left:0;">
      <%#= f.text_field :price, placeholder: 'Daily Price' %>
    </div>
		<div class="field row">
	    <%#= f.label :damage_deposit, 'Damage Deposit' %><br/>
	    <%#= f.number_field :damage_deposit %>
	  </div>
  </div> -->

  <div class='form-group'>
    <%#= f.label :share_with, 'Sharing status' %><br/>
    <!-- You can share this item in Public or Private (only your followers)<br/> -->
    <%= f.hidden_field :sharing, value: '0' %>
    <!-- <ol id="multistep-selectable">
      <li class="ui-widget-content" value="0">Public</li>
      <li class="ui-widget-content" value="1">Private</li>
    </ol> -->
  </div>
</div>

<div class="multistep-form step-closed">
  <div class="field">
      <div class="field">
				<h3>For the next three months, pick dates that doesnt work for you</h1>
        <%= f.fields_for :unavailable_dates do |p| %>
	        <%= p.text_field :date, readonly: 'true', placeholder: 'Pick unavailabe Dates', class: 'form-control' %> <i class="fa fa-calendar-plus-o"></i>
	      <% end %>
        <div id="item-calendar"></div>
      </div>
  </div>
</div>

<div class="multistep-form step-closed">
  <div class="field">
    <%= f.fields_for :item_attachments do |p| %>
      <div class="field">
        <%= p.label :image, 'Item Photos' %><br/>
        Add images of your item. You can always come back later and add more.<br/>
        <%= p.file_field :image, :multiple => true, name: "item_attachments[image][]"%>
        <%= p.hidden_field :image_cache %>
        </div>
      <% end %>
    </div>
		<div class="col-xs-12">
			<div class="col-xs-6">
				<img id="img_prev0" width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev1" width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden"/>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6">
				<img id="img_prev2" width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev3" width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden"/>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6">
				<img id="img_prev4" width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden"/>
			</div>
			<div class="col-xs-6">
				<img id="img_prev5" width=300 height=200 src="#" alt="your image" class="img-thumbnail hidden"/>
			</div>
		</div>

  </div>

      <%#= f.autocomplete_field :all_tags, autocomplete_tag_name_items_path, 'data-delimiter' => ',', :multiple => true %>
      <%#= f.input :all_tags, as: :autocomplete, url: autocomplete_tag_name_items_path %>
  <div class="multistep-form step-closed">
    <div class="large-10 large-centered columns">
      <%= f.label :tag, 'Item Tags' %><br>
      Add tags to your items, so people can easily find your item.<br/>
      <%= f.text_field :all_tags, :id=>"tags", placeholder: 'ex. Bike, Block', data: { autocomplete_source: tags_index_path} %>
    </div>
    <br>
  </div>

	<div class="multistep-form step-closed">
	  <div class="col-xs-6">
			<div class="orderTerms">
        <input type="checkbox" id="terms" value="1" onclick="">
            <h4 id="h4-terms">I have read and agree to the following</h4>
						<%= link_to "Terms and Conditions", "#terms-modal", :id => "TermsCo", "data-toggle" => "modal" %>
						<!-- Modal -->
						<div id="terms-modal" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Terms and Conditions</h4>
						      </div>
						      <div class="modal-body">
										<%= render 'terms' %>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>

						  </div>
						</div>
      </div>
	  </div>
	</div>

  <div class="row actions multistep-form">
		<div class="col-xs-12">
			<div class="col-md-6">
				<button type="button" class="color-btn gray-btn step-form-btn" id="step-form-prev">Back</button>
			</div>
			<div class="col-md-6 text-right">
				<button type="button" class="color-btn green-btn step-form-btn" id="step-form-next">Next</button>
				<%= f.submit 'List item', class: 'color-btn green-btn', id: 'step-form-submit' %>
			</div>
		</div>
  </div>
<% end %>

      <%#= simple_form_for @item, html: { class: "form-horizontal", :multipart => true } do |f| %>
        <%#= f.input :name, :required => true, hint: "Write the item's name" %>
        <%#= f.input :qty, collection: 1..10, include_blank: true %>
        <%#= f.input :desc, hint: "Write a brief description about the item " %>
        <%#= f.input :price, :required => true %>
        <%#= f.simple_fields_for :item_attachments do |i| %>
          <%#= i.file_field :image, :multiple => true, name: "item_attachments[image][]" %>
        <%# end %>
        <%#= f.input :image %>
        <!-- <div class="form-group">
          <%#= f.submit class: "btn btn-primary", data: {disable_with: "saving.."} %>
        </div> -->
      <%# end %>

<script type="text/javascript">
	$(function() {
		function readURL(input) {
			if (input.files && input.files[0]) {
				console.log(input.files[0]);
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#img_prev0').removeClass('hidden');
					$('#img_prev0').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
			if (input.files && input.files[0] && input.files[1]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev1').removeClass('hidden');
					$('#img_prev1').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[1]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev2').removeClass('hidden');
					$('#img_prev2').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[2]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2] && input.files[3]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev3').removeClass('hidden');
					$('#img_prev3').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[3]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2] && input.files[3] && input.files[4]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev4').removeClass('hidden');
					$('#img_prev4').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[4]);
			}
			if (input.files && input.files[0] && input.files[1] && input.files[2] && input.files[3] && input.files[4] && input.files[5]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#img_prev5').removeClass('hidden');
					$('#img_prev5').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[5]);
			}
		}

		$("#item_item_attachments_attributes_0_image").change(function(){
			readURL(this);
		});
	});



	$(function() {
  $('input#step-form-submit').attr('disabled', 'disabled');
    $('#terms').click(function() {
        if ($(this).is(':checked')) {
          $('input#step-form-submit').removeAttr('disabled');
        } else {
          $('input#step-form-submit').attr('disabled', 'disabled');
        }
    });
	});

</script>
