
    <% current_user.items.each do |d| %>
      <div class="", style="float:left;margin-right: 15px;margin-left: 12px;margin-bottom: 10px;">
        <% if d.item_attachments.present? %>
        <%= image_tag d.item_attachments.first.image_url, style: 'box-shadow: 1px 2px 6px 1px rgb(221, 221, 221);width: 30px; height:30px;', class: 'circle' %>
        <% else %>
        <%= image_tag "missing", style: 'box-shadow: 1px 2px 6px 1px rgb(221, 221, 221);width: 30px; height: 30px;', class: 'circle' %>
        <% end %>
          <br>
          <%= link_to d.name[0..4], item_path(d) %>
      </div>
    <% end %>
<%#= paginate @items %>
