<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Price
    </th>
  </tr>
    <% @items.each do |item| %>
      <%# unless item.sharing == '1' && !current_user.following?(item.user) %>
    <tr>
      <td>
        <!-- <br>
        <%# item.item_attachments.each do |p| %>
          <%#= image_tag p.image_url, :style => "width: 100px; height: 100px;"  %>
        <%# end %>
        <br>
        <br> -->
        <%= link_to item.name, controller: "items", action: "show", id: item.id%>
      </td>
      <td>
        <%= pricetag(item) %>
      </td>
    </tr>
    <%# end %>
    <% end %>
</table>
