<% if @pending.any? %>
  <% @pending.each do |res| %>
    <div class="feed-item" id="your-requests-<%= res.id %>">
      You requested <strong><%= link_to res.item.name, item_path(res.item) %></strong> from <%= link_to res.item.user.full_name, user_path(res.item.user) %>
      <%= link_to 'Cancel', item_reservation_path(res.item, res, {status: 'cancelled-requester'}), remote: true, 'data-status' => 'cancelled-request', class: 'btn btn-danger cancelBtn reqBtn', method: :patch %>
    </div>
  <% end %>
<% end %>

<%# @items.each do |item| %>
  <%# item.reservations.pending.each do |res| %>
    <!-- <div class="feed-item"> -->
      <!-- <strong><%#= username(res.user).capitalize %></strong> requested an <strong><%#= link_to 'Item', item_path(res.item) %></strong> for <%#= res.start_date.strftime('%B %d') %> to <%#= res.end_date.strftime('%B %d, %Y') %> -->
      <%#= link_to 'Accept', item_reservation_path(item, res, {status: 'approved'}), class: 'btn btn-success reqBtn', method: :patch %>
      <%#= link_to 'Reject', item_reservation_path(item, res, {status: 'rejected'}), class: 'btn btn-danger reqBtn', method: :patch %>
    <!-- </div> -->
  <%# end %>
<%# end %>
