<% @items.each do |item| %>
  <% item.reservations.pending.each do |res| %>
    <div class="feed-item" id="request-item-<%= res.id %>">
      <strong><%= link_to username(res.user).capitalize, user_path(res.user) %></strong> requested <strong><%= link_to res.item.name, item_path(res.item) %></strong>
      <%= link_to 'Click for details', "#", class: 'btn btn-success reqBtn', id: res.id %>
      <%#= link_to 'Reject', "#", class: 'btn btn-danger reqBtn owner-reject-btn', id: res.id, 'data-status': 'rejected-owner' %>
      <!-- Modal -->
      <div id="<%= res.id %>" class="modal fade modalAccept-<%= res.id %> modalAcc" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Request Pending details</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <!-- <div class="alert alert-success"></div> -->
              </div>
              <div class="row resInfo">
                <div class="col-xs-12 info1">
                  <table class="table table-hover table-bordered">
                    <tbody>
                      <tr>
                        <td>Check in</td>
                        <td><%= res.start_date.strftime("%B %d %Y") %></td>
                      </tr>
                      <tr>
                        <td>Check out</td>
                        <td><%= res.end_date.strftime("%B %d %Y") %></td>
                      </tr>
                      <tr>
                        <td>Days</td>
                        <td><%= (res.end_date.to_date - res.start_date.to_date).to_i %></td>
                      </tr>
                      <tr>
                        <td>You will earn</td>
                        <td>$<%= res.total %> - ShareCity fees(15%) = $<%= (res.total.to_i) - ((res.total.to_i)*(0.15)) %></td>
                      </tr>
                      <tr>
                        <td>Requester</td>
                        <td><%= res.user.full_name %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-xs-12">
                  <% usr = res.item_owner_id %>
                  <% if User.where(id: usr)[0].customer_id != nil || res.item.price_status == "1" %>
                    <%= link_to 'Accept', item_reservation_path(item, res), class: 'btn btn-success reqBtn owner-accept-btn', id: res.id, 'data-status': 'approved-owner' %>
                    <%= link_to 'Reject', item_reservation_path(item, res), class: 'btn btn-danger reqBtn owner-reject-btn', id: res.id, 'data-status': 'rejected-owner' %>
                  <% else %>
                    <%= link_to 'Accept', item_reservation_path(item, res), class: 'btn btn-success reqBtn', disabled: true %>
                    <%= link_to 'Reject', item_reservation_path(item, res), class: 'btn btn-danger reqBtn owner-reject-btn', id: res.id, 'data-status': 'rejected-owner' %>
                    <div class="col-xs-4" id="stripeImg">
                      <a href="/auth/stripe_connect?stripe_user[email]=<%= current_user.email %>&stripe_user[url]=http://sharecity.net/users/<%= current_user.id %>&stripe_user[business_name]=ShareCity&stripe_user[first_name]=<%= current_user.first_name %>&stripe_user[last_name]=<%= current_user.last_name %>&stripe_user[business_type]=sole_prop&stripe_user[physical_product]=true"><img class="stripeCo" src="/assets/blue-on-light-b97267f03e002d67bf29c5efef5c5364c771a0c3bde885284ecafc5356ce2ea4.png" alt="Blue on light b97267f03e002d67bf29c5efef5c5364c771a0c3bde885284ecafc5356ce2ea4"></a>
                      <%#= link_to image_tag('blue-on-light', class: "stripeCo"), auth_stripe_connect_path %>
                    </div>
                    <br>
                    <div class="col-xs-12">
                      Before you accepting or rejecting the request and the renter paying for your item, you need to first create your stripe account in order to receive the payment. Please do so here.
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="row">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
