<% @items.each do |item| %>
  <% if status == 'accepted' %>
    <% reservations = item.reservations.accepted %>
  <% else %>
    <% reservations = item.reservations.rejected %>
  <% end %>

  <% reservations.each do |res| %>
    <div class="feed-item">
      <strong><%= res.user.name %></strong> requested <strong><%= link_to res.item.name, item_path(res.item) %></strong> for <%= res.start_date.strftime('%B %d, %Y') %> to <%= res.end_date.strftime('%B %d, %Y') %>
    </div>
  <% end %>
<% end %>
