
<div class="row social">
  <div class="col-xs-12">
    <h1>Welcome to ShareCity.</h1>
  </div>
  <div class="col-xs-12">
    <div class="terms">
      <h4>1. Accepting these Terms</h4>
      <p>This document and the other documents that we reference below make up our house rules,
         or what we officially call our Terms of Use (the “Terms” for short). The Terms are a
         legally binding contract between you and ShareCity .</p>
        <br>
      <p>
        This contract sets out your rights and responsibilities when you use the services provided by
         ShareCity (we’ll refer to our website, mobile apps and other services as our “Services”), so
         please read it carefully. By using any of our Services (even just browsing our website), you’re
         agreeing to the Terms. If you don’t agree with the Terms, you may not use our Services. You with us? Great, read on!
        <br>
      </p>
      <h4>2. Your Privacy</h4>
      <p>We know your personal information is important to you, so it’s important to us. Our Privacy Policy details how your information
         is used when you use our Services, and it’s also a part of our Terms.</p>
        <br>
      <h4>3. Your Account with ShareCity</h4>
      <p>You’ll need to create an account with ShareCity to use some of our Services. Here are a few rules about accounts with ShareCity:</p>
        <br>
        <div class="col-xs-12">
          <ol type="A">
            <li> You must be 19 or older to use our Services. Otherwise, you may only use our Services under the supervision of a parent or legal guardian.</li>
            <li>Be honest with us. Provide accurate information about yourself. It’s not OK to use false information or impersonate another person or company through your account.</li>
            <li>Choose a nice username. A username that is offensive, vulgar, or infringes someone’s intellectual property rights violates the terms.</li>
            <li>You are responsible for your account. You’re solely responsible for any activity on your account. If you’re sharing an account with other people, then the person whose billing information is on the account will ultimately be responsible for all activity. If you’re registering as a business entity, you personally guarantee that you have the authority to agree to the Terms on behalf of the business. Also, your accounts are not transferable.</li>
            <li>Protect your password. As we mentioned above, you’re solely responsible for any activity on your account, so it’s important to keep your account password secure.</li>
            <li>Let’s be clear about our relationship. These terms don’t create any agency, partnership, joint venture, employment or franchisee relationship between you and ShareCity.</li>
          </ol>
        </div>
      <br>
      <h4>4. Your Content</h4>
      <p>Content that you post using our Services is your content (so let’s refer to it as “Your Content”).
        We don’t make any claim to it. That includes anything you post using our Services
        (like usernames, product names, profile pictures, listing photos, listing descriptions, reviews, comments, videos, etc.).</p>
        <br>
      <div class="col-xs-12">
        <ol type="A">
          <li>Responsibility for Your Content. You understand that you are solely responsible for Your Content. You represent that you have all necessary rights to Your Content and that you’re not infringing or violating any third party’s rights by posting it.</li>
          <li>Permission to Use Your Content. By posting Your Content through our Services, you grant ShareCity a license to use it. We don’t claim any ownership to Your Content, but we have your permission to use it to help ShareCity function and grow. That way, we won’t infringe any rights you have in Your Content and we can help promote your stuff.</li>
          <li>Rights You Grant ShareCity. (Here’s the legalese version of the last section). By posting Your Content, you grant ShareCity a non-exclusive, worldwide, royalty-free, irrevocable, sub-licensable, perpetual license to use, display, edit, modify, reproduce, distribute, store, and prepare derivative works of Your Content to provide the Services and to promote ShareCity, your ShareCity shop, or the Services in general, in any formats and through any channels, including across any ShareCity Services or third-party website or advertising medium.</li>
          <li>Inappropriate, False or Misleading Content. This should be common sense, but there are certain types of content we don’t want posted on ShareCity’s Services (for legal reasons or otherwise). You agree that you will not post any content that is abusive, threatening, defamatory, obscene, vulgar or otherwise offensive or in violation of any part of our Terms. You also agree not to post any content that is false and misleading or uses the Services in a manner that is fraudulent or deceptive.</li>
        </ol>
      </div>
      <h4>5. Your Use of Our Services</h4>
        <div class="col-xs-12">
          <ol type="A">
            <li>Don’t Use Our Services to Break the Law. You agree that you will not violate any laws in connection with your use of the Services. This includes any local, provincial, federal and international laws that may apply to you. For example, you may not rent out anything that violates any laws, and don’t commit fraud, theft or any other crimes against ShareCity, another ShareCity user or a third party.</li>
            <li>Pay Your Bills. You are responsible for paying all fees that you owe to ShareCity. You are also solely responsible for collecting and/or paying any applicable taxes for any rental sales you make through our Services.</li>
            <li>Don’t Steal Our Stuff. You agree not to “crawl,” “scrape,” or “spider” any page of the Services or to reverse engineer or attempt to obtain the source code of the Services.</li>
            <li>Don’t Try to Harm Our Systems. You agree not to interfere with or try to disrupt our Services, for example by distributing a virus or other harmful computer code.</li>
            <li>Share Your Ideas. We love your suggestions and ideas! They can help us improve your experience and our Services. Any unsolicited ideas or other materials you submit to ShareCity (not including Your Content or items you rent out through our Services) are considered non-confidential and non-proprietary to you. You grant us a non-exclusive, worldwide, royalty-free, irrevocable, sub-licensable, perpetual license to use and publish those ideas and materials for any purpose, without compensation to you.</li>
            <li>Talk to Us Online. ShareCity will provide you with certain legal information in writing. By using our Services, you’re agreeing to receive information from us. We can send you information electronically (by email, etc.) instead of mailing you paper copies (it’s better for the environment), and your electronic agreement is the same as your signature on paper.</li>
          </ol>
        </div>
        <br>
      <h4>6. Termination</h4>
      <p>Termination by You - We hate to see you go, but you may terminate your account with ShareCity at any time from your account settings.
         Terminating your account will not affect the availability of some of Your Content that you posted through the Services prior to termination.
          Oh, and you’ll still have to pay any outstanding bills.
      </p>
      <p>
        Termination by ShareCity - We may terminate or suspend your account (and any related accounts) and your access to the Services at any time, for any reason, and without advance notice. If we do so, it’s important to understand that you don’t have a contractual or legal right to continue to use our Services, for example, to rent or post items for rent on our website or mobile apps. ShareCity may refuse service to anyone, at any time, for any reason.
If you or ShareCity terminate your account, you may lose any information associated with your account, including Your Content.
      </p>
      <p>
        We May Discontinue the Services. ShareCity reserves the right to change, suspend or discontinue any of the Services at any time, for any reason. We will not be liable to you for the effect that any changes to the Services may have on you, including your income or your ability to generate revenue through the Services.
Survival. The Terms will remain in effect even after your access to the Service is terminated, or your use of the Service ends.
      </p>
      <h4>7. Payment Processing</h4>
      <p>
        ShareCity payment system is integrated with Stripe and it is designed to make transferring of money between all parties simple, secure and reliable. Here is how it works:
      </p>
      <div class="col-xs-12">
        <ol type="A">
          <li>Renter meets owner physically to obtain the item. Both parties have to check-in on the app once the owner gives the item to the renter. At this time deposit + rental fee will be charged to ShareCity. Sharecity will then deposit the rental fee to the owners account.</li>
          <li>When the item is returned physically, both parties have to check-out on the app and the deposit will be paid back to the renter 24hrs after the item is returned.</li>
          <li>ShareCity holds the deposit for 24hrs in case there is a dispute.</li>
        </ol>
      </div>
      <h4>8. Warranties and Limitation of Liability (or the Things You Can’t Sue Us For)</h4>
      <p>
        Items You Rent. You understand that ShareCity does not manufacture, store or inspect any of the items rented through our Services.
         We provide the venue; the items in our marketplace are posted and rented by independent vendors, so ShareCity can't and does not
         make any warranties about their quality, safety or even their legality. Any legal claim related to an item you purchase must be brought
         directly against the vendor of the item. You release ShareCity from any claims related to items sold through our Services, including for
         defective items, misrepresentations by vendors or items that caused physical injury.
      </p>
      <p>
        Content You Access. You may come across materials that you find offensive or inappropriate while using our Services. We make no representations
         concerning any content posted by users through the Services. ShareCity is not responsible for the accuracy, legality or decency of content posted
          by users that you accessed through the Services. You release us from all liability relating to that content.
      </p>
      <p>
        People You Interact With. You can use the Services to interact with other individuals, either online or in person. However, you understand that we do
        not screen users of our Services, and you release us from all liability relating to your interactions with other users. Please be careful and exercise
        caution and good judgment in all interactions with others, especially if you are meeting someone in person.
      </p>
      <p>
        Third-Party Services. Our Services may contain links to third-party websites or services that we don’t own or control
         (for example, links to Facebook, Twitter and Pinterest). You may also need to use a third party’s product or service in
          order to use some of our Services (like a compatible mobile device to use our mobile apps). When you access these third-party
           services, you do so at your own risk. The third parties may require you to accept their own terms of use. ShareCity is not a party
            to those agreements; they are solely between you and the third party.
      </p>
    </div>
  </div>
</div>
