<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h2>Edit Item</h2>

        <div class="row item-card multistep-form-nav">
          <div class="col-xs-2 col-xs-offset-1 orange-text">
            <i class="fa fa-info-circle"></i> Item Details
          </div>

          <div class="col-xs-2  inactive-text">
            <i class="fa fa-dollar"></i> Pricing
          </div>

          <div class="col-xs-2  inactive-text">
            <i class="fa fa-dollar"></i> Calendar
          </div>

          <div class="col-xs-2  inactive-text">
            <i class="fa fa-picture-o"></i> Photos
          </div>

          <div class="col-xs-2  inactive-text">
            <i class="fa fa-tag"></i> Tags
          </div>

        </div>
        <div class="item-card">
          <%= render "formEdit" %>
        </div>
    </div>
  </div>
</div>
