<i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>

<h3 id="h2Congrats">Congrats! Your Item is Successfully added to the platform</h3>

<% item = @item %>
<h3 id="h3Share">Share your item in social media</h3>
<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=www.sharecity.net/items/" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a> -->
<%#= link_to "Share on Facebook", 'https://www.facebook.com/sharer/sharer.php?u=www.sharecity.net/'+item_path(@item), :target => :blank, class:"btn btn-facebook" %> <br>
<%= link_to(
      content_tag(
        :i,
        nil,
        class: 'fa fa-facebook'
      ) +
      "Share Item on Facebook",
      'https://www.facebook.com/sharer/sharer.php?u=www.sharecity.net/'+item_path(@item),
      :target => :blank,
      class: "btn btn-info btn-facebook",
      id: "shareBtn"
    )
%> <br>

<!-- <div id="shareBtn" class="btn btn-primary btn-large input-suffix share-btn btn-facebook">Share On Facebook</div> -->
<div id="new-shared-item" data-iid="<%= @item.id %>" data-item="<%= @item.name %>"
data-desc="<%= @item.desc %>" data-tags="<%= @item.tags.pluck(:name) %>", data-price="<%= @item.price %>"
data-owner="<%= @item.user.first_name.capitalize %>" data-owner2="<%= @item.user.last_name[0].capitalize %>" data-share="<%= @item.sharing %>"
data-oid="<%= @item.user_id %>" data-img="<%= @item.item_attachments.first.image_url %>" data-imgOwner="<%= @item.user.image %>"
data-followers="<%= current_user.followers.pluck(:id).join(',') %>"></div>

<%= link_to 'Item Preview', item_path(@item) %>


<!-- <script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: 'https://developers.facebook.com/docs/',
  }, function(response){});
}
</script> -->
