<div class="container desktop">
    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="newItemm">New Item</h2> -->

            <div class="row item-card multistep-form-nav">
                <div style="font-size:15px" class="col-xs-2 col-sm-2 orange-text">
                    <i class="fa fa-info-circle"></i>
                    Item Details
                </div>

                <div style="font-size:15px" class="col-xs-2 col-sm-2 inactive-text">
                    <i class="fa fa-dollar"></i>
                    Pricing
                </div>

                <div style="font-size:15px" class="col-xs-2 col-sm-2 inactive-text">
                    <i class="fa fa-dollar"></i>
                    Calendar
                </div>

                <div style="font-size:15px" class="col-xs-2 col-sm-2 inactive-text">
                    <i class="fa fa-picture-o"></i>
                    Photos
                </div>

                <div style="font-size:15px" class="col-xs-2 col-sm-2 inactive-text">
                    <i class="fa fa-tag"></i>
                    Tags
                </div>

                <div style="font-size:15px" class="col-xs-2 col-sm-2 inactive-text">
                    <i class="fa fa-check-circle-o"></i>
                    Complete
                </div>

            </div>
            <div class="item-card">
                <%= render "form" %>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modalStripeMessage" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stripe Connection</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <p>Dear <%= current_user.first_name.capitalize %></p>
            <p>please select existing stripe account or connect a new stripe account to be used for receiving renting funds. You can always come back and create your stripe account.</p>
          </div>
          <div class="col-xs-12">
            <%# if current_user.stripe_uid == nil %>
            <div class="col-md-4" id="stripeImg">
              <%= link_to image_tag('blue-on-light'), auth_stripe_connect_path %>
            </div>
            <%# end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container mobile">
    <div class="newItemWrapper">

        <div class="row">
            <div class="col-lg-12">
                <!--<h2 class="newItem">Share an Item</h2>-->

                <div class="row">
                    <!-- <div class="col-xs-6"> -->
                    <!-- <div class="orange-text-mobile cusTi">
                        <h2 id="h2Cus">
                            Share an Item with ShareCity
                        </h2>
                    </div> -->
                    <div class="orange-text-mobile titles">
                        <i class="fa fa-info-circle"></i>
                        Item Details
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-xs-6">
          <h3 class="lightGrey">Step 1</h3>
        </div> -->
                    <!-- </div>
        <div class="row"> -->
                    <div class="inactive-text-mobile titles">
                        <!-- <h4 class="lightGrey">Step 12</h4> -->
                        <i class="fa fa-dollar"></i>
                        Pricing
                    </div>
                    <!-- </div>
        <div class="col-xs-6">
        <h3 class="lightGrey">Step 1</h3>
      </div>
      <div class="row"> -->
                    <div class="inactive-text-mobile titles">
                        <!-- <h4 class="lightGrey">Step 3</h4> -->
                        <i class="fa fa-dollar"></i>
                        Calendar
                    </div>
                    <!-- </div>
      <div class="row"> -->
                    <div class="inactive-text-mobile titles">
                        <!-- <h4 class="lightGrey">Step 4</h4> -->
                        <i class="fa fa-picture-o"></i>
                        Photos
                    </div>
                    <!-- </div>
      <div class="row"> -->
                    <div class="inactive-text-mobile titles">
                        <!-- <h4 class="lightGrey">Step 5</h4> -->
                        <i class="fa fa-tag"></i>
                        Tags
                    </div>

                    <div class="inactive-text-mobile titles">
                        <!-- <h4 class="lightGrey">Step 5</h4> -->
                        <i class="fa fa-check-circle-o"></i>
                        Complete
                    </div>
                </div>
            </div>
            <div class="item-card-mobile">
                <%= render "formMobile" %>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
      type: 'GET',
      url: '/checkStripe',
      success: function(data) {
        if (data.message == false) {
          $('#modalStripeMessage').modal('show');
        }
      }
    });
  });
</script> -->
