<!-- Modal -->
<div class="modal fade" id="myModalBilling" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Payment Method</h4>
      </div>
      <div class="modal-body">

        <!-- <form class="" action="/billings" method="post" id="payment-form"> -->
          <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"> -->
          <div class="row">
            <div class="col-xs-12">
              <div class="col-xs-2">
                <%= image_tag "visa.png", class: "creditLogo1" %>
              </div>
              <div class="col-xs-2">
                <%= image_tag "mastercard.png", class: "creditLogo2" %>
              </div>
              <div class="col-xs-2">

              </div>
              <div class="col-xs-2">

              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-xs-12">

              <%= form_for Billing.new, html: {id: "payment-form"} do |f| %>
                <span class="payment-errors"></span>
                <div class="currUsId hidden" id= "<%= current_user.id %>"></div>
                <div class="usrIdStatus hidden" id= ""></div>

                <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Name on Card</label>
                <input type="text" name="cardholderName" size="20" id="cardholderName">

                <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Card Number</label>
                <input type="text" size="20" data-stripe="number" id="cardNum">

                <div class="col-xs-3">
                  <label style="display: block; padding-top: 9px; padding-bottom: 8px;">Expires On</label>
                    <select class="" name="creditCard-month" data-stripe="exp_month" id="cardMonth">
                      <option>MM</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                </div>

                <div class="col-xs-3">
                  <label style="display: block; padding-top: 9px; padding-bottom: 28px;"></label>
                  <input type="text" size="4" data-stripe="exp_year" value="" placeholder="YYYY" id="cardYear">
                </div>
                <div class="col-xs-3">
                  <label style="display: block; padding-top: 9px; padding-bottom: 8px;">CVC</label>
                  <input type="text" size="4" data-stripe="cvc" value="" id="cardCvc">
                </div>

                <div class="col-xs-12">
                  <div class="field">
                      <%= f.label :address %><br/>
                      <%= f.text_field :address, autofocus: true, placeholder: 'Billing Address', class: "", data: {stripe: 'address_line1'} %>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="field">
                      <%= f.label :city %><br/>
                      <%= f.text_field :city, autofocus: true, placeholder: 'City', class: "", data: {stripe: 'address_city' }%>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="field">
                      <%= f.label :country %><br/>
                      <%= f.text_field :country, autofocus: true, placeholder: 'Country', class: "", data: {stripe: 'address_country' }%>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="field">
                      <%= f.label :postal_code %><br/>
                      <%= f.text_field :postal_code, autofocus: true, placeholder: 'Postal Code', class: "", data: {stripe: 'address_zip'} %>
                  </div>
                </div>
            </div>
          </div> -->
        <!-- </form> -->
      </div>
      <!-- <div class="modal-footer">
        <div class="row">
          <div class="col-xs-3">
            <input type="submit" class="submit" value="Submit Payment" id="submitBill" class="btn">
            <% end %>
          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">Close</button>
          </div>
        </div>
      </div> -->
    </div>

  </div>
</div>
