<div class="container desktop">
    <div class="row">
        <div class="hidden-xs col-sm-6">
          <div class="itemLeftTop">
            <div class="col-xs-3">
              <!-- <img alt="" src="<%#= @item.user.avatar || @item.user.image%>" align="left" class="itemUserImg"> -->
              <% if @item.user.provider == "facebook" %>
                <%= image_tag "//graph.facebook.com/#{@item.user.uid}/picture?type=large", class: "itemUserImg"%>
              <% elsif @item.user.provider == "google_oauth2" %>
                <img alt="left" src="<%= @item.user.image%>" class="itemUserImg">
              <% else %>
                <img alt="left" src="<%= @item.user.avatar%>" class="itemUserImg">
              <% end %>
            </div>
            <div class="col-xs-5">
              <h3 class="itemUsrName" data-username="<%= @item.user.full_name %>" data-user_id="<%= @item.user_id %>">
                <%= link_to @item.user.full_name, user_path(@item.user) %></h3>
              <% if @item.user.location %>
                <h3 class="itemLoc"><i class="fa fa-map-marker"></i> <%= @item.user.location.capitalize %></h3>
              <% end %>
            </div>
            <% if @item.user == current_user %>
            <div class="col-xs-3">
              <div class="editBtn">
                <%= link_to "Edit Item", edit_item_path(@item) %>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="deleteBtn">
                <%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
            <% end %>
          </div>

          <div class="itemId hidden" id= "<%= @item.id %>"></div>
          <div class="currUsId hidden" id= "<%= current_user.id %>"></div>
          <div class="usrIdStatus hidden" id= ""></div>
          <div class="sharingStatus hidden" id= "<%= @item.sharing %>"></div>


          <div class="row item-card">
            <div class="col-xs-7">
              <div class="item-h2"><%= @item.name %></div>
            </div>
            <% if current_user %>
            <div style="text-align: right;" class="col-xs-5">
                <%= rating_for @item, "visual_effects", stars: 5, disable_after_rate: true, enable_half: true %>
            </div>
            <% end %>
            <div class="col-xs-12">
              <hr/>
            </div>
            <div class="col-xs-12">
              <div class="item-h3">About This Item</div>
              <p><%= @item.desc %></p>
            </div>
            <div class="col-xs-12">
              <div class="price_tag col-xs-3">
        			  <strong class="item-pricetag"><%= pricetag(@item) %></strong>
        			  <span class="pull-right">Daily</span>
              </div>
              <div class="price_tag col-xs-4">
                <strong class="item-pricetag"><%= pricetag(@item, 'weekly') %></strong>
                <span class="pull-right">Weekly</span>
              </div>
              <div class="price_tag col-xs-4">
                <strong class="item-pricetag"><%= pricetag(@item, 'monthly') %></strong>
                <span class="pull-right">Monthly</span>
              </div>
        		</div>
            <div class="col-xs-12">
              <div class="price_tag col-xs-3">
                <strong class="item-pricetag"><%= @item.damage_deposit %></strong>
                <span class="pull-right">Damage Deposit</span>
              </div>
            </div>
          </div>

          <% if @item.tags %>
            <div class="item-tags item-card"><%= tag_cloud(@item) %></div>
          <% end %>

          <% unless pending_request?(@item) || @item.user == current_user %>
            <div class="item-card">
              <%= render 'reservations/form' %>
            </div>
          <% else %>
            <% if pending_request?(@item) %>
              <div class="item-card">
                <p><strong>Waiting for a response  to your request from <%= @item.user.name %></strong></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="hidden-xs col-sm-6">
          <div>
            <div id="map" style='height: 300px;width:555px'></div>
          </div>
          <% if @item_attachments.any? %>
            <div id="item-slides">
              <% @item_attachments.each do |p| %>
                <%= image_tag p.image_url, style: 'width: 300px'  %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <h3 style="display: inline-block; padding-right: 14px;">Link</h3><button class="btn btn-danger" style="margin-bottom: 10px;" id="copy-btn">Copy</button>
        <!-- <input type="button" name="share_url" value="<%= request.original_url %>" id= "shareLink"> -->
        <textarea readonly name="name" rows="2" cols="30" id= "shareLink" style=""><%= request.original_url %></textarea>
      </div>
      <div class="col-xs-6">
        <h3 style="padding-bottom: 10px;">Share</h3>
        <%#= social_share_button_tag("Hey check out, im renting my #{@item.name} on sharecity") %>
        <%= social_share_button_tag("Hey check out, im renting my #{@item.name} on sharecity", :url => "#{request.original_url}", :image => "http://localhost:3000/uploads/item_attachment/image/12/Cowboy_girl.jpg", desc: "The summary of page", via: "ShareCityhq") %>
      </div>
    </div>
    <div class="row">
      <div class="item-card col-xs-12">
        <h3>Reviews</h3>
        <hr/>
        <div class="container">
          <div class="row">
            <div class="col-xs-5">
              <% ratings = Rate.where('rateable_id = ?', @item).pluck(:stars).map {|r| r.round } %>
              <% 5.downto(1).each do |rating| %>
                <div>
                  <span class="item-rate"><%= rating %></span>
                  <div class="rate-bar">
                    <div class="count-bar" style="width: <%= ratings.count(rating)/ratings.count.to_f * 100 %>%">_</div>
                  </div>
                  <span class="item-rate"><%= ratings.count(rating) %></span>
                </div>
              <% end %>
            </div>
            <div class="col-xs-7">
              <%= render 'reviews/form' if @bookedAndChecked %>
            </div>
          </div>

          <div>
            <%= render 'reviews/list' %>
            <br>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container mobile">
  <div class="row">
        <% if @item_attachments.any? %>
            <%= image_tag @item_attachments.first.image_url, style: 'width: 100%; height: 100%;' %>
        <% end %>
  </div>
  <div style="background-color: #fff;" class="row">
    <div class="col-xs-12">
      <% if @item.user.provider == "facebook" %>
        <%= image_tag "//graph.facebook.com/#{@item.user.uid}/picture?type=large", class: "itemUserImg"%>
      <% elsif @item.user.provider == "google_oauth2" %>
        <img alt="left" src="<%= @item.user.image%>" class="itemUserImg">
      <% else %>
        <img alt="left" src="<%= @item.user.avatar%>" class="itemUserImg">
      <% end %>
    </div>
    <div class="col-xs-12">
     <h1 id="itemTit"><%= @item.name %></h1>
    </div>
    <div class="col-xs-12 pricesDiv">
      <span id="pricesSpan">Prices</span>
      <hr id="pricesHr">
    </div>
    <div class="col-xs-12 text-center">
    	<h4>Daily</h4>
      <% if @item.price == nil %>
        <h4 id="freeItem">FREE</h4>
      <% else %>
        <%= @item.price %>
      <% end %>
    </div>
    <!--
    <div class="col-xs-4 text-center">
       <h4>Weekly</h4>
       <%# if @item.price == nil %>
          <h4 id="freeItem">FREE</h4>
       <%# else %>
         <%#= @item.weekly_price %>
       <%# end %>
    </div>
    <div class="col-xs-4 text-center">
       <h4>Monthly</h4>
       <%# if @item.price == nil %>
         <h4 id="freeItem">FREE</h4>
       <%# else %>
         <%#= @item.monthly_price %>
       <%# end %>
    </div> -->
  </div>
  <div class="row">
    <h4 class="text-center"><span>About this Item</span></h4>
    <div class="col-xs-12">
      <p id="pItem" class="text-center">
        <span><%= @item.desc %></span>
      </p>
    </div>
    <h4 class="text-center"><span>Share</span></h4>
    <div class="col-xs-12 text-center">
      <%= social_share_button_tag("Hey check out, im renting my #{@item.name} on sharecity", :url => "#{request.original_url}", :image => "http://localhost:3000/uploads/item_attachment/image/12/Cowboy_girl.jpg", desc: "The summary of page", via: "ShareCityhq") %>
    </div>
    <div class="col-xs-12">
      <% unless pending_request?(@item) || @item.user == current_user %>
        <div class="item-card">
          <%= render 'reservations/formMobile' %>
        </div>
      <% else %>
        <% if pending_request?(@item) %>
          <div class="item-card">
            <p><strong>Waiting for a response  to your request from <%= @item.user.name %></strong></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr id="hrItem">
    </div>
    <div class="col-xs-12 text-center">
      <h4>Location</h4>
    </div>
    <div class="col-xs-12">
      <div id="mapMobile" style='width: 100%; height: 200px;'></div>
    </div>
    <div class="col-xs-12">
      <% if @item.tags %>
        <div class="item-tags item-card"><%= tag_cloud(@item) %></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="item-card col-xs-12">
      <h3>Reviews</h3>
      <hr/>
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <% ratings = Rate.where('rateable_id = ?', @item).pluck(:stars).map {|r| r.round } %>
            <% 5.downto(1).each do |rating| %>
              <div>
                <span class="item-rate"><%= rating %></span>
                <div class="rate-bar">
                  <div class="count-bar" style="width: <%= ratings.count(rating)/ratings.count.to_f * 100 %>%">_</div>
                </div>
                <span class="item-rate"><%= ratings.count(rating) %></span>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12">
            <%= render 'reviews/form' if @bookedAndChecked %>
          </div>
        </div>

        <div>
          <%= render 'reviews/list' %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

Stripe.setPublishableKey('pk_test_0FyvCsUfknPbVr9RVgBR8Vui');

$(function() {
  var $form = $('#payment-form');
  var $formMobile = $('#payment-form-mobile');

  $form.submit(function (event) {
    // event.preventDefault();
    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);

    // Request a token from Stripe:
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
  });

  $formMobile.submit(function (event) {
    // event.preventDefault();
    // Disable the submit button to prevent repeated clicks:
    $formMobile.find('.submit').prop('disabled', true);

    // Request a token from Stripe:
    Stripe.card.createToken($formMobile, stripeResponseHandlerMobile);

    // Prevent the form from being submitted:
    return false;
  });
});

// $(function() {
//   var $form = $('#payment-form-mobile');
//   $form.submit(function (event) {
//     // event.preventDefault();
//     // Disable the submit button to prevent repeated clicks:
//     $form.find('.submit').prop('disabled', true);
//
//     // Request a token from Stripe:
//     Stripe.card.createToken($form, stripeResponseHandlerMobile);
//
//     // Prevent the form from being submitted:
//     return false;
//   });
// });

function stripeResponseHandler(status, response) {

  var current_id = $('#current-user').attr('data-user_id');
  var item_owner = $('.itemUsrName').attr('data-username');

  // Grab the form:
  var $form = $('#payment-form');

  var add = $('#billing_address').val();
  var cit = $('#billing_city').val();
  var cou = $('#billing_country').val();
  var pos = $('#billing_postal_code').val();
  var usr_id = parseInt($('.currUsId')[0].id)

  if (response.error) { // Problem!

    // Show the errors on the form:
    $form.find('.payment-errors').text(response.error.message);
    $form.find('.submit').prop('disabled', false); // Re-enable submission

  } else { // Token was created!

    // Get the token ID:
    var token = response.id;

    // Insert the token ID into the form so it gets submitted to the server:
    $form.append($('<input type="hidden" name="stripeToken">').val(token));
    // $.ajax({
    //   type: "POST",
    //   data: {addressJ: add, cityJ: cit, countryJ: cou, postalJ: pos, usrId: usr_id, sTokenJ: token},
    //   url: '/billings/',
    //   success: function(res){
    //     console.log(res.status);
    //     $('#myModalBilling').modal('hide');
    //     $('.modal-backdrop').hide();
    //   }
    // }).done(function() {
    //   var startDate = $('#reservation_start_date').val();
    //   var endDate   = $('#reservation_end_date').val();
    //   var reqFeed = '/item-requests-feed';
    //   var reqReceived = '/received-item-requests/user-';
    //   var yourReqs = '/your-item-requests/user-';
    //   var item_id   = $('.itemId')[0].id
    //   var sharingStat   = $('.sharingStatus')[0].id
    //   $.ajax({
    //     type: "POST",
    //     data: {strDate: startDate, enDate: endDate, itemId: item_id, priceItem: 0, totalItem: 0, statusItem: "requested"},
    //     url: "/items/" + item_id + "/reservations/",
    //     success: function(res){
    //       console.log(res.status);
    //         $('#new_reservation').empty();
    //         $('#preview').empty();
    //         $('#btn_book').hide();
    //         $('#new_reservation').text('Your request has been sent');
    //         var followers = getFollowers( res.item.user );
    //         current_id = parseInt( current_id );
    //         var feedInfo = { requester: res.user.first_name, requester_id: res.user_id,
    //             item: res.item.name, item_id: res.item_id,
    //             start: reqDate(res.start_date), end: reqDate(res.end_date),
    //             owner: item_owner, owner_id: res.item.user_id }
    //         if (res.item.sharing === '0') {
    //           window.client.publish(reqFeed, feedInfo);
    //         }
    //         else {
    //           followers.forEach(function(f) {
    //             window.client.publish(reqFeed + '/' + f, feedInfo);
    //           });
    //         }
    //         window.client.publish(reqReceived + res.item.user_id,
    //           { requester: res.user.first_name, requester_id: res.user_id,
    //             item: res.item.name,
    //             item_id: res.item_id, res_id: res.id,
    //             start: reqDate(res.start_date), end: reqDate(res.end_date) });
    //         window.client.publish(yourReqs + current_id, feedInfo);
    //     }
    //   });
    // });
    // Submit the form:
    // $form.get(0).submit();
  }
};


function stripeResponseHandlerMobile(status, response) {
  // Grab the form:
  var $form = $('#payment-form-mobile');

  var add = $('.billing_address_mobile').val();
  var cit = $('.billing_city_mobile').val();
  var cou = $('.billing_country_mobile').val();
  var pos = $('.billing_postal_code_mobile').val();
  var usr_id = parseInt($('.currUsId')[0].id)

  if (response.error) { // Problem!

    // Show the errors on the form:
    $form.find('.payment-errors').text(response.error.message);
    $form.find('.submit').prop('disabled', false); // Re-enable submission

  } else { // Token was created!

    // Get the token ID:
    var token = response.id;

    // Insert the token ID into the form so it gets submitted to the server:
    $form.append($('<input type="hidden" name="stripeToken">').val(token));
    $.ajax({
      type: "POST",
      data: {addressJ: add, cityJ: cit, countryJ: cou, postalJ: pos, usrId: usr_id, sTokenJ: token},
      url: '/billings/',
      success: function(res){
        console.log(res.status);
        $('#myModalBillingMobile').modal('hide');
        $('.modal-backdrop').hide();
      }
    }).done(function() {
      var startDate = $('#startDate').val();
      var endDate   = $('#endDate').val();
      var reqFeed = '/item-requests-feed';
      var reqReceived = '/received-item-requests/user-';
      var yourReqs = '/your-item-requests/user-';
      var item_id   = $('.itemId')[0].id
      var sharingStat   = $('.sharingStatus')[0].id
      $.ajax({
        type: "POST",
        data: {strDate: startDate, enDate: endDate, itemId: item_id, priceItem: 0, totalItem: 0, statusItem: "requested"},
        url: "/items/" + item_id + "/reservations/",
        success: function(res){
          console.log(res.status);
            $('#new_reservation_mobile').empty();
            $('#previewMobile').empty();
            $('#btn_bookMobile').hide();
            $('#new_reservation_mobile').text('Your request has been sent');
            var followers = getFollowers( res.item.user );
            current_id = parseInt( current_id );
            var feedInfo = { requester: res.user.first_name, requester_id: res.user_id,
                item: res.item.name, item_id: res.item_id,
                start: reqDate(res.start_date), end: reqDate(res.end_date),
                owner: item_owner, owner_id: res.item.user_id }
            if (res.item.sharing === '0') {
              window.client.publish(reqFeed, feedInfo);
            }
            else {
              followers.forEach(function(f) {
                window.client.publish(reqFeed + '/' + f, feedInfo);
              });
            }
            window.client.publish(reqReceived + res.item.user_id,
              { requester: res.user.first_name, requester_id: res.user_id,
                item: res.item.name,
                item_id: res.item_id, res_id: res.id,
                start: reqDate(res.start_date), end: reqDate(res.end_date) });
            window.client.publish(yourReqs + current_id, feedInfo);
        }
      });
    });

    // Submit the form:
    // $form.get(0).submit();
  }
};

function getFollowers(user) {
  var followers = [];
  user.followers.forEach(function(f) {
    followers.push(f.id);
  });
  return followers;
}

function reqDate(date) {
  var months = ['January', 'February', 'March',
                'April', 'May', 'June', 'July',
                'August', 'September', 'October',
                'November', 'December']
  var d = date.split('-');
  var year = d[0];
  var month = months[ d[1] - 1 ];
  var day = d[2].split('T')[0];
  return month + ' ' + day + ', ' + year
}




// $('#myModalBilling').modal('hide')
// $('#myModalBillingMobile').modal('hide');

// usersIdsBilling = [];
//
// $.ajax('/billings/',
//   { dataType: 'json',
//     method: 'GET',
//     success: function(server_response){
//       console.log(server_response);
//       $.each(server_response.billings, function(arrID, server_response) {
//         d = server_response.user.id
//         usersIdsBilling.push(d);
//         console.log(server_response.user.id);
//       });
//     }
//   }).done(function() {
//     var usr_id = parseInt($('.currUsId')[0].id)
//     var checkArray = $.inArray(usr_id, usersIdsBilling);
//     if (checkArray === -1) {
//       var usrD = $('.usrIdStatus')[0]
//       usrD.id = 0;
//       console.log("This user has no billing info");
//     } else {
//       var usrD = $('.usrIdStatus')[0]
//       usrD.id = 1;
//       console.log("this user has billing info");
//     }
//   });

  // For Desktop
  // $('#btn_pay').on('click', function(e){
  //     var userStatus = $('.usrIdStatus')[0].id
  //     // 0 means no billings info - 1 means has billings
  //     if (userStatus == 0) {
  //       // debugger;
  //       e.preventDefault();
  //       $('#myModalBilling').modal('show');
  //     } else {
  //       var startDate = $('#reservation_start_date').val();
  //       var endDate   = $('#reservation_end_date').val();
  //       var item_id   = $('.itemId')[0].id
  //       var sharingStat   = $('.sharingStatus')[0].id
  //       $.ajax({
  //         type: "POST",
  //         data: {strDate: startDate, enDate: endDate, itemId: item_id, priceItem: 0, totalItem: 0, statusItem: "requested"},
  //         url: "/items/" + item_id + "/reservations/",
  //         success: function(res){
  //           console.log(res.status);
  //           // window.location = "http://www.sharecity.net";
  //           // $('#new_reservation').on('ajax:success', function(e, res) {
  //             // alert("dsdfdfdfd");
  //             $('#new_reservation').empty();
  //             $('#preview').empty();
  //             $('#btn_book').hide();
  //             $('#new_reservation').text('Your request has been sent');
  //             var followers = getFollowers( res.item.user );
  //             current_id = parseInt( current_id );
  //             var feedInfo = { requester: res.user.first_name, requester_id: res.user_id,
  //                 item: res.item.name, item_id: res.item_id,
  //                 start: reqDate(res.start_date), end: reqDate(res.end_date),
  //                 owner: item_owner, owner_id: res.item.user_id }
  //             if (res.item.sharing === '0') {
  //               window.client.publish(reqFeed, feedInfo);
  //             }
  //             else {
  //               followers.forEach(function(f) {
  //                 window.client.publish(reqFeed + '/' + f, feedInfo);
  //               });
  //             }
  //             window.client.publish(reqReceived + res.item.user_id,
  //               { requester: res.user.first_name, requester_id: res.user_id,
  //                 item: res.item.name,
  //                 item_id: res.item_id, res_id: res.id,
  //                 start: reqDate(res.start_date), end: reqDate(res.end_date) });
  //             window.client.publish(yourReqs + current_id, feedInfo);
  //           // });
  //
  //         }
  //       });
  //     }
  //   });


    // For Mobile
    $('#btn_bookMobile').on('click', function(e){
        var userStatus = $('.usrIdStatus')[0].id
        // 0 means no billings info - 1 means has billings
        if (userStatus === "0") {
          e.preventDefault();
          console.log("modal mobile");
          $('#myModalBillingMobile').modal('show');
        } else {
          var startDate = $('#startDate').val();
          var endDate   = $('#endDate').val();
          var item_id   = $('.itemId')[0].id
          var sharingStat   = $('.sharingStatus')[0].id

          $.ajax({
            type: "POST",
            data: {strDate: startDate, enDate: endDate, itemId: item_id, priceItem: 0, totalItem: 0, statusItem: "requested"},
            url: "/items/" + item_id + "/reservations/",
            success: function(res){
              console.log(res.status);
              // window.location = "http://www.sharecity.net";
              // $('#new_reservation').on('ajax:success', function(e, res) {
                // alert("dsdfdfdfd");
                $('#previewMobile').empty();
                $('#btn_bookMobile').hide();
                $('#new_reservation_mobile').empty();
                $('#new_reservation_mobile').text('Your request has been sent');
                var followers = getFollowers( res.item.user );
                current_id = parseInt( current_id );
                var feedInfo = { requester: res.user.first_name, requester_id: res.user_id,
                    item: res.item.name, item_id: res.item_id,
                    start: reqDate(res.start_date), end: reqDate(res.end_date),
                    owner: item_owner, owner_id: res.item.user_id }
                if (res.item.sharing === '0') {
                  window.client.publish(reqFeed, feedInfo);
                }
                else {
                  followers.forEach(function(f) {
                    window.client.publish(reqFeed + '/' + f, feedInfo);
                  });
                }
                window.client.publish(reqReceived + res.item.user_id,
                  { requester: res.user.first_name, requester_id: res.user_id,
                    item: res.item.name,
                    item_id: res.item_id, res_id: res.id,
                    start: reqDate(res.start_date), end: reqDate(res.end_date) });
                window.client.publish(yourReqs + current_id, feedInfo);
              // });

            }
          });
        }
      });



  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        disableDefaultUI: true
        // pass in other Google Maps API options here
      },
      internal: {
        id: 'map'
        // id: 'mapMobile'
      }
    },
    function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @item.latitude %>,
          "lng": <%= @item.longitude %>,
          // "picture": {
          //   "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          //   "width":  32,
          //   "height": 32
          // },
          "infowindow": "<%= @item.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    }
  );


  han = Gmaps.build('Google');
  han.buildMap({
      provider: {
        disableDefaultUI: true
        // pass in other Google Maps API options here
      },
      internal: {
        id: 'mapMobile'
      }
    },
    function(){
      markers = han.addMarkers([
        {
          "lat": <%= @item.latitude %>,
          "lng": <%= @item.longitude %>,
          "infowindow": "<%= @item.name %>"
        }
      ]);
      han.bounds.extendWith(markers);
      han.fitMapToBounds();
      han.getMap().setZoom(12);
    }
  );

</script>
