// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper-main {
  width: 75%;
  margin: 0 auto;
}
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  // height: 91px;
  height: auto;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}
/* Tooltip container */
.tooltip1 {
    position: relative !important;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.wrapperStream.divFol {
  display: none;
}

.imgActi {
  width: 65px;
  height: 65px;
}
.wrapperStream {
    background-color: #fff;
    width: 100%;
    margin: 15px 0 60px 0;
    overflow: auto;
    height: 554px;
}
a.viewItem {
    color: #f37a4e;
}

.h3PF {
  margin: 0;
  font-size: 30px;
  cursor: pointer;
  width: 100px;
  float: right;
  color: #bababa;
}

#shareAn {
  width: 282px;
  height: 66px;
  background-color: #f37a4e;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding-top: 23px;
  float: right;
  // margin-right: 49px;
  a {
    color: #fff;
  }
}

.btnPub, .btnFol {
  text-align: right;
}
