/*
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

 /*.dropdown-menu > li {
    display: inline-block;
    float:left;
}
.open > ul {
    display: inline-flex !important;
}*/

 body, html, .rowr{
     height:100%;
     padding:0;
     margin:0;
 }

 .mobile {
   display: none;
 }

 img.liveFeed {
     height: 16px !important;
     width: 21px;
     margin: 0;
 }

 img.stripeCo {
    width: 100% !important;
}

 #modalStripeMessage, .modalPayment, .modalAcc {
   .modal-header {background-color: #4692b4;border-radius: 4px;color: #fff;}
 }
 .modalPayment {
   .alert-success {display: none;}
   .modal-dialog {width: 55%;}
   .field {margin-bottom: 10px;}
   label {
     display: inline-block !important;
     padding-top: 0 !important;
     padding-bottom: 0 !important;
   }
   .sp-btn {
     padding-top: 35px;
     input, button {height: 50px; width: 100%;}
   }
   .modal-footer {
     button {height: 50px; width: 150px;}
   }
 }
 img.stripeImg {width: 50% !important; float: left;}

#nav-img {
  height: 40px;
  width: 40px;
  margin-top: 4px;
}
.dis-bk {
  overflow: hidden;
}
.dis-bk2 {
  opacity: .2;
}
.ui-helper-hidden-accessible { display:none; }


.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.wide {
  width: 100%;
}

.price_tag {
  background: #fff;
  color: #999;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 1px solid #ccc;
}

 .item-pricetag { color: #f57c4d; }

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.inline {
  display: inline-flex;
}

.well{
  background-color: #ffffff;
}

.well.confirm {
    margin: 0 auto;
    width: 60%;
    background-color: #d4ece6;
}


img.displayed-con {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.users.follow {
  padding: 0;
}

/*span.ui-state-default {
  background: red;
  color: white;
}*/

.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
}

.bs-example{
    margin-top: 0;
    background-color: white;
}



/* Footer */

ul#footerList li {
    display: inline;
    padding-right: 10px;
}
#footerList a {
  color: #8d8d8d;
  font-size: 14px;
}
.conUp {
  width: 100%;
}
.footerLower {
    background-color: #232323;
    color: #fff;
    height: 40px;
    padding-top: 10px;
}
.footerLower .fa {
  color:#3e3e3e;
}
.row.footerUpper {
    padding-bottom: 14px;
}
p.pLower {
    font-size: 14px;
    color: #8d8d8d;
}
