// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}


#contactUs-section {
  .contact-12 {background-color: #fff; padding: 15px;}
  .contact-6 {margin: 0 auto; float: none;}
  input, textarea {
    width: 100%;
    padding: 10px;
    height: 70px;
    border: 1px solid #cccccc;
    font-size: 18px;
  }
  textarea {height: auto; min-height: 200px;}
  .contact-inputs {
    div{padding: 5px;}
  }
  input.green-btn {
    color: #fff;
    width: inherit;
    height: inherit;
    float: right;
  }
}
