// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$chat-height: 610px;

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}

#delete_conv {
  float: right;
  padding-right: 10px;
}

.container-conv {
  margin-top: 18px;
  height: 650px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 3px #ccc;
}


.nav-conv {
  background-color: #f8f8f8;
}


.nav-conv > li > a {
  margin-right: 3px;
  border-radius: 0px 0px 0 0;
}


.nav-conv > li > a {
  padding: 10px 39px;
}
.tab-conv {
  border-right: 1px solid #f0f0f0;
  padding: 0;
  height: $chat-height;
  #conversations {
    height: $chat-height;
    overflow-y: auto;
  }
  #conversations-mobile {
    height: $chat-height;
    overflow-y: auto;
  }
}

.name {
    margin-top: 5px;
}

.badge{
  margin-top: 10px;
  background-color: #da7f68;
}

.col-conv {
  padding: 17px 0 0 48px;
  margin-left: 0px;
  a {
    font-size: 20px;
    color: black;
  }
}

.col-conv-mobile {
  padding: 17px 0 0 48px;
  margin-left: 0px;
  strong {
    font-size: 20px;
  }
  a {
    color: black;
  }
}

.all-messages {
  height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 32px;
}

.conv-recipient, .conv-sender {
  border-radius: 20px;
  color: #fff;
  padding: 3%;
  margin-bottom: 1%;
  &:before, &:after {
    position: absolute;
    content: '';
    border: 5px solid #fff;
  }
}

.conv-recipient { background: #4893b3;
  &:before {
    border-color: #4893b3 transparent transparent transparent;
    border-width: 15px 15px 0;
    right: 0px;
  }
  &:after {
    border-color: #fff transparent transparent transparent;
    border-width: 9px 2px 0;
    left: -9px;
  }
}
.conv-sender {
  background: #bbb;
  &:before {
    border-color: transparent #bbb transparent transparent;
    border-width: 0 15px 15px 0;
    left: 0px;
  }
  &:after {
    border-color: transparent #fff transparent transparent;
    border-width: 9px 2px 0;
    left: -9px;
  }
}


.msgImg {
  width: 50px;
  height:50px;
  display: block;
}

.item {
    margin-bottom: 20px;
}

.nav-tabs > li.active > a {
    color: #4893b3;
    border: 0px solid #ddd;
    font-size: 16px;
}
.nav-tabs {
    border-bottom: none;
}
