// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #e0e0e5;
  // background: url(bg.jpg);
}
/* Tooltip */
.btn_pay + .tooltip > .tooltip-inner {
    background-color: #3a3a3a;
    color: #FFFFFF;
    border: 1px solid #3a3a3a;
    padding: 15px;
    font-size: 15px;
}
.addI {margin-top: 9px;}

/* Tooltip on top */
.btn_pay + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #3a3a3a;
}
.container-1{
  // width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 450px;
  height: 50px;
  // background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}

.container-1 .icon{
  position: absolute;
  left: 32%;
  // top: 50%;
  // margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.fa-envelope{
  margin-top: 10px;
  margin-right: 11px;
  color: #307493;
}
.fa-envelope {
  color: #fff;
}

.circle {
  border-radius: 50%;
}

.navbar-bottom{
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: #EAE5E5;
}

.navbar-inverse .navbar-nav > li > a {
    color: #EAE5E5;
}

.topnav {
    font-size: 20px;
    margin-bottom: 0px;
    border-radius: 0 !important;
}

.twt-wrapper .about-bk-color{
  background-color: #4692b4;
  color: white;
  font-size: 20px;
  border-radius: 0;
}

.twt-wrapper .about-bk-color1{
  background-color: #fcfcfc;
  color: #686868;
  font-size: 20px;
}


.twt-wrapper .panel-body {
    max-height:150px;
    overflow:auto;
    padding-top: 0;
}

.twt-wrapper .about-size {
  max-height:572px !important;
  // height: 523px;
  overflow:auto;
}

.twt-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}
.twt-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.twt-wrapper {
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  .feed { margin: 2% auto; }
  .requested { border-radius: 0; margin: 2% auto;}
  .panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid #eee;
  }
  .feed-item {
    // border-bottom: 1px solid #ddd;
    // text-align: justify;
    margin: 2% auto;
    .item-name {font-size: 18px;}
    img { width: 60px; }
    .book-item {
      background: #fd6428;
      border-radius: 4px;
      padding: 4% 10%;
      margin-top: 2%;
      a { color: #fff; }
    }
    .accept-res, .reject-res {
      border-radius: 4px;
      color: #fff;
      padding: 0.5% 1%;
      margin: 0.5% auto;
      display: inline-block;
      a { color: #fff; }
    }
    .accept-res { background: green; }
    .reject-res { background: red; }
  }

}

.fa-envelope {
  margin-top: 5px;
  margin-right: 4px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 10px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 28px;
    text-align: center;
    color: #f8f8f8;
    background: url(12.jpeg) no-repeat center;
    // background: url(12.jpg) no-repeat center center;
    background-size: cover;
}
.intro-header2 {
    padding-top: 10px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 28px;
    text-align: center;
    color: #f8f8f8;
    // background: url(12.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-device-width:768px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
.rowInfo {
  background-color: #f7f7f7;
  height: 45px;
  border-bottom: 1px solid #ddd;
  padding-top: 14px;
  margin-top: 10px;
}
div.col-lg-5.bookDiv {
  text-align: right;
}
.feIm {
  width:60px;
  height: 60px;
}
.mm {
  // display: none;
}

// Home page media queries

// IPhone 5 landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  input#search {
	  width: 260px !important;
	}
  body {
   // background-color: #fff !important;
  }
	.icon {
 	  left: 11% !important;
	}
	.feedWr {
	  height: 211px;
	}
 	.feIm {
	 height:74px;
	 width: 74px !important;
	}
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .multistep-form-mobile input[type="text"], .multistep-form-mobile select, .multistep-form-mobile textarea {
    border: 1px solid #c4c4c4 !important;
    padding: 20px;
    border-radius: 4px;
    margin: 5px;
    width: 100%;
    font-size: 16px;
    // background-color: #fff5f2;
    border-color: #ffd1c4;
  }
  .wrapper {
    min-height: 74%;
    padding-bottom: 40px;
  }
  .multistep-form-mobile {
    margin: auto auto auto 14px !important;
    width: 90% !important;
   }
   .cusTi {
    font-size: 32px;
    text-align: left;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.43;
    color: #484848 !important;
   }
   #h2Cus {
    padding-left: 27px;
   }
   .titles{
    text-align: left !important;
    padding-left: 26px !important;
   }
   .navbar {
    margin-bottom:0;
    border: 0;
    img {
     margin-left:12px;

    }
   }
   .navbar-inverse {
    background-color: #4692b4;
   }
   .navbar-brand {
    color: #fff !important;
   }
   .intro-header {
     background: url(12.jpeg) no-repeat center;
     background-size: cover;
     min-height: 375px;
     padding-top:82px;
    //  margin-top: 51px;
     h3 {
      color: #fff !important;
      margin-bottom: 76px;
      font-size: 21px;
     }
   }
 .feedMobile, #requestedFeed, #requestedPending, #requestedReceived {
      padding: 0;
   }
   .twt-wrapper .about-size, .twt-wrapper .panel-body {
      height: auto;
      max-height: none !important;
      overflow: hidden;
      padding-bottom: 0;
   }
   .itemUserImg {
     width: 75px !important;
     height: 75px !important;
     margin: 30px auto 0;
     display: block;
   }
   .list-group-item.active, .list-group-item.active:hover {
     background-color: #4692b4;
     border-color: #4692b4;
   }
   .list-group-item {
     border: none;
   }
   input[type="file"] {
       display: none;
   }
   .msgImg {
    width: 30px !important;
    height: 30px !important;
  }
  .container-conv {
    margin-top: 0;
  }
  .col-conv {
    padding: 0;
    a {
      font-size: 15px;
    }
  }
  .badge {
    margin-top: 0;
    display: none;
  }
  .row-conv {
    padding-bottom: 0;
  }
  a.name-conv {
    font-size: 15px;
  }
  .conv-sender:before, .conv-recipient:before {
    border-color: transparent;
    border-width: 0;
  }
  .convNew {
   background: rgb(221, 221, 221);
   // border-left-color: rgb(72, 147, 179);
   // border: 2px solid green;
  }
  .item.conv-sender, .item.conv-recipient {
    width: 173px !important;
  }
  .listPadding {
    padding-left: 0;
    padding-right: 0;
  }
  .all-messages {
    height: 400px;
    margin-top: 36px;
  }
  .msg-render, .tab-conv #conversations, .tab-conv {
    height: 481px;
  }
  .container-conv {
    height: 525px;
  }
  .usrImgPadding {
    padding-left: 10px;
  }
  button#new-message-btn {
    top: auto !important;
    bottom: 522px;
    z-index: 40;
  }
  .ui.segment {
    height: 492px !important;
  }
  .ui.reply.form.field.field-conv.user-message {
    height: 80px;
  }
  .indItm {
    width: 100% !important;
  }
  .itemName, .star {
    padding-left: 10px;
  }
  .reviewImg {
    height: 55px;
    width: 55px;
  }
  .commentIt {
    padding-left: 16px;
  }
  .row.footerUpper {
    padding-bottom: 0 !important;
  }
  .footerLower {
    height: 67px !important;
  }
}

// Iphone 5 portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  #landing-info, #shared-info, #requested-info {
    font-size: 10.5px;
    #info-landing, #info-shared, #info-requested {padding-right: 0;}
  }
}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	input#search {
	  width: 310px !important;
	}
  .col-conv {
    padding: 0;
    a {
      font-size: 17px;
    }
  }
  body {
   // background-color: #fff !important;
  }
	.icon {
 	  left: 11% !important;
	}
	.feedWr {
	  height: 211px;
	}
 	.feIm {
	 height:70px;
	 width: 80px !important;
	}
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .multistep-form-mobile input[type="text"], .multistep-form-mobile select, .multistep-form-mobile textarea {
    border: 1px solid #c4c4c4 !important;
    padding: 20px;
    border-radius: 4px;
    margin: 5px;
    width: 100%;
    font-size: 16px;
    // background-color: #fff5f2;
    border-color: #ffd1c4;
  }
  .wrapper {
    min-height: 85%;
    padding-bottom: 40px;
  }
  .multistep-form-mobile {
    margin: auto auto auto 14px !important;
    width: 90% !important;
   }
   .cusTi {
    font-size: 32px;
    text-align: left;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.43;
    color: #484848 !important;
   }
   #h2Cus {
    padding-left: 27px;
   }
   .titles{
    text-align: left !important;
    padding-left: 26px !important;
   }
   .navbar {
    margin-bottom:0;
    border: 0;
    img {
     margin-left:12px;
    }
   }
   .navbar-inverse {
    // background-color: #4692b4;
   }
   .navbar-brand {
    // color: #4692b4 !important;
   }
   .intro-header {
     background: url(12.jpeg) no-repeat center;
     background-size: cover;
     min-height: 375px;
     padding-top:82px;
    //  margin-top: 51px;
     h3 {
      color: #fff !important;
      margin-bottom: 76px;
     }
   }
   .feedMobile, #requestedFeed, #requestedPending, #requestedReceived {
      padding: 0;
   }
   .twt-wrapper .about-size, .twt-wrapper .panel-body {
      height: auto;
      max-height: none !important;
      overflow: hidden;
      padding-bottom: 0;
   }
   .itemUserImg {
     width: 75px !important;
     height: 75px !important;
     margin: 30px auto 0;
     display: block;
   }
   .list-group-item.active, .list-group-item.active:hover {
     background-color: #4692b4;
     border-color: #4692b4;
   }
   input[type="file"] {
       display: none;
   }
   .row.footerUpper {
     padding-bottom: 0 !important;
   }
   p.pLower {
     font-size: 14px;
   }
   .footerLower {
     height: 67px !important;
   }
}
