// Place all the styles related to the invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.list-layout {
  li {
    margin: 0 auto;
    float: none;
    overflow: auto;
    max-height: 400px;
    background: #fff;
  }
}


#invite-section {
  .contact-12 {background-color: #fff; padding: 15px;}
  .contact-6 {margin: 0 auto; float: none;}
  input, textarea {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid #cccccc;
    font-size: 18px;
  }
  textarea {height: auto; min-height: 200px;}
  .contact-inputs {
    div{padding: 5px;}
  }
  input.green-btn {
    color: #fff;
    width: 100%;
    height: inherit;
    // float: right;
  }
  .xs5-btn {
    padding: 0;
  }
}
