// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #ff6e30;
$size: 30px;
#x { display:none; position:relative; z-index:200; float:right}

.theblogwidgets{
  height: 228px;
  // width: 245px;
  margin: 15px 0 0;
  z-index:  99999;
}

span#error_price {
  padding-left: 10px;
  color: red;
  display: none;
}
.twitter-timeline {
  margin: 60px 0 0;
  height: 373px;
  overflow: auto;
}
._2p3a {
    width: 270px !important;
}

.img-thumbnail {
  width: 270px;
  height: 180px;
}
.img-thumbnail-mobile {
  width: 100%;
  height: 130px;
}
.social-share-button {
  display: inline-block;
  .ssb-icon {
    background-size: $size $size !important;
    height: $size !important;
    width: $size !important;
  }
}
input#item_unavailable_dates_attributes_0_date {
    display: none;
}
.creditLogo1 {
  width: 100%;
  padding-top: 4px;
}
.creditLogo2 {
  width: 72%;
}
#cardholderName, #cardNum, #cardMonth, #currency {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}
#cardMonth, #cardYear, #cardCvc {
  width: 90%;
  height: 45px;
}
input#billing_address, input#billing_city, input#billing_postal_code, input#billing_country, input#billing_address_state {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}
input#submitBill {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #4692b4;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: #fff;
}
#closeBtn {
  float: left;
}
#shareLink {
    resize: none;
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
    background: #fff;
}
input#step-form-submit, input#step-form-submit-mobile {
  &:disabled {
    opacity: .6;
  }
}

.tags-cloud {
  margin-top: 16px;
  padding: 14px;
}

.newItem {
  color: #484848
}
.lightGrey {
  font-size: 14px;
  color: #bbb;
}

.top-pad {
  padding: 25px;
}
.glassy-bg{
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  background: white;
  border-radius: 4px;
  padding-bottom: 12px;
}

.mt{
  margin-top: 10px;
}
.mb{
  margin-bottom: 10px;
}

.pt{
  padding-top: 10px;
}
.pb{
  padding-bottom: 10px;
}

body .ui-autocomplete {
  /* font-family to all */
  background-color: white;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

body .ui-autocomplete .ui-menu-item .ui-corner-all {
   /* all <a> */
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
   /* selected <a> */
}

.item-h2 {
  font-size: 20px;
  line-height: 25px;
}
.item-h3 {
  font-size: 18px;
  line-height: 40px;
}

.orange-text { color: $orange; }
.orange-text-mobile { color: $orange; }

.item-rate {
  font-size: 16px;
  color: #888;
}

.rate-bar {
  width: 300px;
  max-height: 30px;
  background: #eee;
  display:inline-block;
  margin: 5px 0;

  .count-bar {
    height: 100%;
    background: $orange;
    color: $orange;
    font-size: 8px;
    display:inline-block;
  }
}

#item-slides { margin-top: 2%; }
/**
#item-slides,
.slidesjs-container
{ height: 300px !important;
}
**/

img.slidesjs-slide {
  left: 0 !important;
}
.slidesjs-pagination { text-align: center; }

.slidesjs-pagination-item {
  display: inline-block;
  background: #555;
  width: 10px;
  height: 10px;
  overflow: hidden;
  margin: 5px;
  border-radius: 100%;
  text-align: center;
  a { color: #555; }
}

.item-tags {
  a {
    color: #fff;
    background: #4493b4;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.color-btn {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: none;
  text-align: center;
}
.gray-btn { background: #999; }
.green-btn { background: #72cf76;}

.item-card, .item-card-mobile {
  background: #fff;
  line-height: 18px;
  color: #555;
  padding: 20px 10px;
  margin: 3% 0;
  box-shadow: 0 5px 5px #ddd;
}
.item-card-mobile {;
  box-shadow: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
label.custom-file-upload {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 138px 30px 0;
}

.multistep-form {
  margin: auto;
  width: 70%;
  label {
    color: $orange;
    font-size: 16px;
  }

  input[type="text"], input[type="number"], select {
    border: 1px solid #ccc;
    padding: 10px;
    // border-bottom: 1px solid #ccc;
    border-radius: none;
    margin: 5px;
    width: 100%;
    font-size: 16px;
  }
  #stripeImg {padding-top: 31px;}
  // input[type="number"] { width: 31%; }
  input[type="checkbox"],
  textarea {
    border: 1px solid #ccc;
    border-radius: none;
  }
  textarea { width: 100%; padding: 10px; font-size: 16px;}
}

.multistep-form-mobile {
  margin: auto;
  width: 70%;
  label {
    color: $orange;
    font-size: 16px;
  }

  input[type="text"], select {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: none;
    margin: 5px;
    width: 100%;
    font-size: 16px;
  }
  input[type="checkbox"],
  textarea {
    border: 1px solid #ccc;
    border-radius: none;
  }
  textarea { width: 100%; }
}

#multistep-selectable {
  li {
    list-style-type: none;
    display: inline-block;
    border: none;
    padding: 1%;
    &:hover { cursor: pointer; }
  }
  .ui-selected {
    background: $orange;
    color: #fff;
    border-radius: 5px;
  }
}
.inactive-text-mobile {
  display: none;
}

div#item-calendar-mobile {
  .ui-datepicker-multi .ui-datepicker-group {
    float: none;
  }
}

.multistep-form-nav {
  font-size: 18px;
  text-align: center;
}
div#map {
  margin-top: 24px;
  width: 456px;
  border: 9px solid #fff;
}

.itemUserImg {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  border: 5px solid #fff;
}
.fa.fa-check-circle.fa-5x {
  margin: 61px 0px 0px;
  display: block;
  text-align: center;
  color: #6eb35a;
  font-size: 100px;
}
#h2Congrats {
  color: #6eb35a;
  text-align: center;
}
#h3Share {
  text-align: center;
}
.itemLeftTop {
  height: 135px;
  margin-top: 35px;
}
.itemUsrName {
  color: #4e4e4e;
  a {
    color: #4e4e4e;
    text-decoration: none;
  }
}
.itemLoc {
  color: #a1a1a1;
}
.editBtn, .deleteBtn {
  background-color: #6eb35a;
  height: 40px;
  width: 105px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 11px;
  margin-top: 24px;
  border-radius: 8px;
  a {
    color: #fff;
  }
}
.deleteBtn {
  background-color: #d9534f;
}
.titles {
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
}
input#item_unavailable_dates_attributes_0_date {
    // display: none;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a{
    color: black;
    background: #ff6e30;
}
.itemPrice {
  min-width: 80px;
  background: rgba(45,45,45,0.9);
  width: 80px;
  height: 30px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
  position: relative;
  bottom: 44px;
}
img.circle.itemOwner {
    position: relative;
    bottom: 65px;
    left: 240px;
}
.ds {
  height: 210px;
  margin-top: 30px;
}
.itemName {
  margin-bottom: 0;
  margin-top: 0;
  a {
    color: inherit;
  }
}




// home page mobile btns

.btnsMain {
  padding-top: 48px;
  a:hover, a:focus {
    text-decoration: none !important;
  }
}

.semi-transparent-button {
  display: inline;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 6px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  // letter-spacing: 1px;
  font-size: .7em;
  transition: all 0.3s ease-out;
}
.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}
.semi-transparent:focus {
  outline: none;
}
.with-border {
  border: 1px solid #fff;
  margin-left: 4px;
}


#itemTit {
  font-size: 22px;
  text-align: center;
}
.pItem {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}
#hrItem {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #dce0e0;
}
.pricesDiv {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
}
#pricesSpan {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}
#pricesHr {
  margin: -18px auto 10px;
  width: 100%;
}
#freeItem {
  text-align: center;
  font-size: 15px;
  color: red;
}
#startDate, #endDate {
 font-size: 16px;
}
.navbar-inverse.side-collapse {
 z-index: 100;
}
.indItm {
  box-shadow: 1px 2px 6px 1px rgb(221, 221, 221);
  width: 300px;
  height: 200px;
}






// Media Query for iPad landscape
@media only screen
and (min-device-width : 820px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

// Media Query for iPad portrait
@media only screen
and (min-device-width : 570px)
and (max-device-width : 768px)
and (orientation : portrait) {

}

// Media Query for Iphone
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .wrapper-main {width: 85%;}
  div#acti-main12 {padding: 0 !important;}

  section#activities_section {
    #shareAn {width: 100%;height: 53px !important;font-size: 19px !important;padding-top: 17px;}
    h1 {padding-left: 0 !important;font-size: 29px;}
    h3.h3PF {font-size: 20px;float: none;}
    h4 {font-size: 12px !important;}
    .btnPub, .btnFol {text-align: center;}
    .imgActi {
      width: 48px;
      height: 48px;
    }
  }
  section#requested-items-section {
    .reqItem {width: 100% !important;height: 53px !important;font-size: 19px !important}
    h1 {padding-left: 0 !important; font-size: 29px;}
    h3.h3PF {font-size: 20px;}
    h4 {font-size: 12px !important;}
    .btnPub, .btnFol {text-align: center;}
    .imgActi {
      width: 48px;
      height: 48px;
    }
  }
}

// Media Query for iPhone landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}
