// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$chat-height: 610px;

.form-conv,
.hidden-form-conv {
  float: left;
  // background-color: grey;
  padding-right: 50px;
  padding-top: 23px;
  font-size: 20px;
}

#new_message { clear:both; }

.new-message-alert, .new-message-alert-mobile {
  background: #0F9D58;
  color: #fff;
  padding: 0 2px;
  margin: 2px;
  font-weight: bold;
  font-variant: small-caps;
  display: inline-block;
  width: 35px;
  text-align: center;
  font-size: 12px;
}

.form-conv {
  overflow: hidden;
  width: 100%;
  min-height: 77px;
}

.hidden-form-conv {
  display:none;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 652px;
  min-height: 77px;
}

.form-conv::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 20px;
  text-align: left;
}

.submit-conv{
  margin-top: 550px;
  margin-left: -50px;
  border: none;
  background: url('/assets/send_msg.png');
  width: 40px;
  height: 40px;
}

.row-conv {
  border-bottom: 2px solid #f8f8f8;
//  width: 584px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
}

.row-conv:active {
  background-color: #bababa;
  // background-image: linear-gradient(to bottom right,#23b4ca,#00a0dc);
}

.col6-conv {
  padding: 0;
}

.ui.segment {
  // margin-top: 10px;
  background-color: #fcfcfc;
  height: 560px;
}

.col-lg-6.msg-render {
  background-color: #fcfcfc;
}

.msg-render {
  height: $chat-height;
  padding: 0;
}
.field-conv {
  border-top: 2px solid #f4f4f4;
}

.nav-tabs > li {
    margin-bottom: 0px;
}

.list {
  // padding-top: 10px;
  // width: 500px;
}
.item.conv-sender, .item.conv-recipient {
    width: 450px;
}
.item.conv-recipient {
   float: right;
}

// textarea#new-message-box, textarea#new-message-box-mobile {
//     z-index: 30;
//     position: relative;
//     top: 9px;
//     width: 262px;
//     // width: 80%;
//     height: 53px;
// }
button#new-message-btn, button#new-message-btn-mobile {
    position: relative;
    top: 10px;
}
div#message-alert {
    position: relative;
    top: 49px;
    left: 62px;
}
div#message-alert-mobile {
    text-align: center;
}
