 @import 'colours';


.approveItem-btn {cursor: pointer;}
.intro-header {
  background-color: #f7f7f7;
  // background: url(city9.jpeg) no-repeat center;
  background-size: cover;
  // min-height: 575px;
  padding-top: 20px;
  h4 {
    // color: #4893b2;
    color: #fff;
    font-size: 21px;
    display: inline-block;
    float: left;
    padding-left: 10px;
  }
}
.padLe50 {padding-left: 50px;}
#shareIt {
  font-family: 'Ubuntu', sans-serif;
  color: #6c6c6c;
}
.btn-dark, .btn-dark1 {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.btn-dark1 {
  margin-top: 24px;
    // margin-top: 40px;
}
#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}
.toggle {
    margin: 5px 5px 0 0;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}
.kpx_btn-facebook {
    background-color: #4893b2 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: white;
}
.kpx_btn-facebook:hover {background: #172d5e}
.kpx_btn-facebook:focus {background: #fff; color:#3b5998; border-color: #3b5998;}
.kpx_btn-google-plus {
    background-color: #4893b2 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: white;
}
.kpx_btn-google-plus:hover {background: #6b1301}
.kpx_btn-google-plus:focus {background: #fff; color: #c32f10; border-color: #c32f10}
.kpx_btn-vk {
    background-color: #4893b2 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: white;
}
.kpx_btn-vk:hover {background: #1a3352}
.kpx_btn-vk:focus {background: #fff; color: #45668e; border-color: #45668e}

.section-heading {
  // padding-top: 260px;
  color: #000;
  // margin-bottom: 100px;
  hr {
    width: 100%;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34,34,34,.1);
  }
  h1 {
    margin-top: 0;
  }
  p {color: #000;}
}
section.features {
  padding: 100px 0;
  background: #fff;
  .section-heading {
    margin-bottom: 100px;
  }
  .section-heading h2 {
    margin-top: 0;
  }
  h2 {
    font-size: 50px;
  }
  .section-heading p {
    margin-bottom: 0;
  }
  .feature-item {
    text-align: center;
    margin-bottom: 100px;
  }
  .feature-item {
    max-width: none;
  }
  .feature-item h3 {
    // font-size: 30px;
    font-size: 23px;
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }
  .text-muted {
    color: #777777;
  }
  p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
  }
  hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34,34,34,.1);
  }
  .feature-item i {
    font-size: 50px;
    background: -webkit-linear-gradient(to left,#4892b1,#4892b1);
    background: linear-gradient(to left,#4892b1,#4892b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icon-user, .icon-people, .icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-login, .icon-logout, .icon-emotsmile, .icon-phone, .icon-call-end, .icon-call-in, .icon-call-out, .icon-map, .icon-location-pin, .icon-direction, .icon-directions, .icon-compass, .icon-layers, .icon-menu, .icon-list, .icon-options-vertical, .icon-options, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow-up-circle, .icon-arrow-left-circle, .icon-arrow-right-circle, .icon-arrow-down-circle, .icon-check, .icon-clock, .icon-plus, .icon-minus, .icon-close, .icon-exclamation, .icon-organization, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-mustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-disc, .icon-cursor, .icon-cursor-move, .icon-crop, .icon-chemistry, .icon-speedometer, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglass, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-folder-alt, .icon-folder, .icon-film, .icon-feed, .icon-drop, .icon-drawer, .icon-docs, .icon-doc, .icon-diamond, .icon-cup, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-frame, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-loop, .icon-home, .icon-grid, .icon-graph, .icon-microphone, .icon-music-tone-alt, .icon-music-tone, .icon-earphones-alt, .icon-earphones, .icon-equalizer, .icon-like, .icon-dislike, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-calendar, .icon-bulb, .icon-chart, .icon-ban, .icon-bubble, .icon-camrecorder, .icon-camera, .icon-cloud-download, .icon-cloud-upload, .icon-envelope, .icon-eye, .icon-flag, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-credit-card, .icon-paypal, .icon-social-tumblr, .icon-social-twitter, .icon-social-facebook, .icon-social-instagram, .icon-social-linkedin, .icon-social-pinterest, .icon-social-github, .icon-social-google, .icon-social-reddit, .icon-social-skype, .icon-social-dribbble, .icon-social-behance, .icon-social-foursqare, .icon-social-soundcloud, .icon-social-spotify, .icon-social-stumbleupon, .icon-social-youtube, .icon-social-dropbox {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .device-mockup {
    position: relative;
    width: 100%;
    padding-bottom: 61.775701%;
  }
  .device-mockup.iphone6_plus, .device-mockup.iphone6_plus.portrait {
    padding-bottom: 201.76%;
  }
  .device-mockup.iphone6_plus.portrait.white>.device, .device-mockup.iphone6_plus.white>.device {
    background-image: url(iphone_6_plus/iphone_6_plus_white_port.png);
  }
  .device-mockup>.device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(macbook/macbook.png);
  }
  .device-mockup.iphone6_plus.portrait>.device>.screen, .device-mockup.iphone6_plus>.device>.screen {
    top: 11.58%;
    bottom: 11.58%;
    left: 5.97%;
    right: 5.97%;
  }
  .device-mockup>.device>.screen {
    position: absolute;
    top: 11.0438729%;
    bottom: 14.6747352%;
    left: 13.364486%;
    right: 13.364486%;
    overflow: hidden;
  }
  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .device-mockup.iphone6_plus.portrait>.device>.button, .device-mockup.iphone6_plus>.device>.button {
    display: block;
    top: 89.9%;
    bottom: 3.2%;
    left: 43%;
    right: 43%;
  }
  .device-mockup>.device>.button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    cursor: pointer;
  }
}
.device-container {
  max-width: none;
  margin-bottom: 0;
  margin-top: 25px;
}
.invite {
  padding: 45px;
  background-color: #fff;
}
#index-importedEmails-section {
  ul {
    li {list-style: none;}
  }
  .alternate-color-0 {background-color: #fff;}
  .alternate-color-1 {background-color: #fff;}
  input[type="checkbox"] {
    position: relative;
    // -webkit-appearance: none;
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: top;
  }
  .contact-detail {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .space-2 {
    margin-bottom: 12px;
  }
  label.checkbox-label {
    padding: 0;
    width: 100%;
  }
  .contact-checkbox-wrapper{display: inline-block;}
}

#div-header {
  padding: 5px 0;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  background: #fff;
  text-align: center;
}
#div-trans {text-align: center; padding: 5px;}
#div-trans.alternate-color-0 {background-color: #f9f9f9;}
#div-trans.alternate-color-1 {background-color: #fff;}
#neg {color: #d9534f;font-weight: 500 !important;}
#pos {color: #5cb85c;font-weight: 500 !important;}

.row.rowValid {
    background: #fff;
    height: 250px;
}
.claimItem {
  width: 100%;
  background-color: #f37a4e !important;
  font-size: 23px !important;
  color: #fff !important;
  text-align: center !important;
}
#betaBtn {
  width: 282px;
  height: 66px;
  border-radius: 4px;
  background-color: #5cb85c;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding-top: 23px;
  margin: 0 auto;
  a {
    color: #fff;
  }
}
* {
  margin: 0px;
  padding: 0px;
}
.landing-bk {
    color: black;
    text-align: center;
    background: url(vancouver1.png) no-repeat center center;
    background-size: cover;
    // height: 100%;
    height: auto;
    min-height: 100%;
}
#warranty {
  padding: 10px;
  border: 2px solid;
}
#h3-career {
  text-align: center;
  color: #7AD0F6;
  margin-top: -8px;
  margin-bottom: 25px;
}

a.btn.btn-lg.btn-info.btn-block {
    background-color: #4692B4;
    margin-top: 25px;
}

.imgLi {
  margin-left: 15px;
  a {padding: 0 !important;}
}


// .intro-message {
//     position: relative;
//     padding-top: 20%;
//     padding-bottom: 20%;
// }

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%
}


img.displayed1 {
    width: 97%;
    margin-left: 25px;
}

img.displayed-con1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 17%;
}

.intro-msg > h3 {
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

html,body{height:100%;}
.fill{
    width:100%;
    height:100%;
    min-height:100%;
    // background-color:#990000;
    padding:10px;
    // color:#efefef;
}

.video-js {
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}
.landingContainer {
    // margin-bottom: 20px;
    min-height: 100%;
    height: 100%;
}
// #footer {
//     // position: fixed;
//     // bottom: 0;
//     // width: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     border-top: 1px solid #b8b8bb;
//     // background-color: #0f272f;
//     // color: #fff;
//     padding-bottom: 1em;
//     padding-top: 1em;
// }

// #footer {
//     // position: fixed;
//     // bottom: 0;
//     // width: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     border-top: 1px solid #b8b8bb;
//     // background-color: #0f272f;
//     // color: #fff;
//     padding-bottom: 1em;
//     padding-top: 1em;
//     .sp {
//         margin-left: 13px;
//         margin-top: 19px;
//         margin-bottom: 15px;
//         width: 45px;
//       }
// }
//
// #footer > h4 {
//   color: #fdfefe;
//     margin-top: 0px;
//     // margin-bottom: 26px;
//     margin-right: 30px;
//     display: inline-block;
//     // padding-top: 7px;
// }

/* Wrapper for page content to push down footer */
// #wrap {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   /* Negative indent footer by its height */
//   margin: 0 auto -60px;
//   /* Pad bottom by footer height */
//   padding: 0 0 60px;
// }

// /* Set the fixed height of the footer here */
// #footer {
//   // height: 60px;
//   // background-color: rgba(0, 0, 0, 0.5);
//   // margin-top:50px;
//   padding-top:5px;
//   padding-bottom:20px;
//   .sp {
//     margin-left: 13px;
//     margin-top: 20px;
//     margin-bottom: 15px;
//     width: 45px;
//   }
//   h4 {
//     color: #fdfefe;
//     margin-top: 0px;
//     // margin-bottom: 26px;
//     margin-right: 30px;
//     display: inline-block;
//     // padding-top: 7px;
//   }
// }


// #footer {
//   background-color: rgba(0, 0, 0, 0.5);
// }

// #footer a {
//   color:#efefef;
// }


// @media (max-width: 1262px) {
//   height: 60px;
// }


#im {
  vertical-align: top;
    position: relative;
    bottom: 16px;
    right: 9px;
    width: 53px;
}

a:hover {
    // background-color: transparent !important;
}


// a > .sp {
//   margin-left: 13px;
//   margin-top: 19px;
//   margin-bottom: 15px;
//   width: 45px;
// }

.test {
  background-color: #d2d2d2;
  border: none;
  box-shadow: 0px 1px 3px 3px #ccc;
  margin-left: 5px;
  border-radius: 24px;
  height: 40px;
  outline: none;
  padding-left: 8px;
}

.col-md-8.welcome {
  margin-top: 128px;
}

.col-md-4.welcome4 {
  margin-top: 105px;
}

#welcome {
  color: #DE1C1C;
  // color: #989898;
  text-align: center;
}

.inner {
  margin: 0 auto;
  width: 66%;
  text-align: center;
}

h3#in-welcome {
  font-family: 'Lobster', serif;
  text-align: center;
  margin-top: 50px;
  font-size: 37px;
}

p#in-welcome {
  // font-family: 'Lobster', serif;
  text-align: center;
}

form#new_user {
  margin-bottom: 25px;
}

input.btn.btn-primary.btn-lg.round {
    border-radius: 24px;
    background-color: #4692b4;
    border-color: #4692b4;
    margin-left: 10px;
}

button.btn.btn-primary.btn-lg.round {
  border-radius: 24px;
  background-color: #4692b4;
  border-color: #4692b4;
  margin-left: 10px;
}
button.btn.btn-primary.btn-lg.round:focus {
  // border: none;
  outline: none;
}

h3#in-betacode {
  font-family: 'Pacifico', serif;
}
#tit-font2 {
  // font-family: "Lobster", cursive;
  font-family: "Comic Sans MS";
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#tit-font {
  font-family: "Comic Sans MS", cursive;
}

#avatarModal2 {
  .modal-dialog {
    top: 170px;
  }
}


@media only screen and (max-width:480px) {
  .video-js {
    width: 266.5px !important;
    height: 150px !important;
  }
}

@media only screen and (max-width:619px) {
  img.sp {
    width: 35px;
  }
}

@media only screen and (max-width:575px) {
  img.sp {
    width: 30px;
  }
}

@media only screen and (max-width:565px) {
  img.sp {
    width: 27px;
  }
}

@media only screen and (max-width:550px) {
  img.sp {
    width: 25px;
  }
}

@media only screen and (max-width:545px) {
  img.sp {
    width: 20px;
  }
}

@media  screen and (min-width : 1280px) and (max-width : 1366px) {
  #main {
    padding-bottom: 90px !important;
  }
  #footer {
    margin-top: -90px !important; /* negative value of footer height */
    height: 93px !important;
    padding-top: 13px !important;
  }
  img.socialIc {
    width: 6%;
    margin: 0 10px 0 10px;
  }
  .video-js {
    width: 35% !important;
    height: 35% !important;
  }
}

@media  screen and (min-width : 1366px) and (max-width : 1366px) {
  // #main {
  //   padding-bottom: 90px !important;
  // }
  // #footer {
  //   margin-top: -90px !important; /* negative value of footer height */
  //   height: 93px !important;
  //   padding-top: 13px !important;
  // }
  // img.socialIc {
  //   width: 6%;
  //   margin: 0 10px 0 10px;
  // }
  // .video-js {
  //   width: 30% !important;
  //   height: 30% !important;
  // }
}

// Landing page mobile
/* nexus 5 portrait mode */
@media screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  #im {
    right: 5px;
    width: 40px;
  }
  .intro-msg > h3 {
    font-size: 16px;
  }
  img.displayed {
    width: 55%;
  }
  h3#in-welcome {
    font-size: 25px;
  }
  p#in-welcome {
    font-size: 13px;
    line-height: 20px;
  }
  .inner {
    width: 77%;
  }
  .so-im {
    width: 14%;
  }
  .test {
    height: 30px;
    width: 120px;
  }
  button.btn.btn-primary.btn-lg.round{
    height: 36px;
    font-size: 14px;
  }
}


//
// @media only screen
// and (min-device-width : 375px)
// and (max-device-width : 960px)
// and (orientation : landscape) {
//   img.displayed {
//     width: 23%;
//   }
//   .video-js {
//     width: 445px !important;
//     height: 251px !important;
//   }
//   #footer {
//    height: 13%;
//   }
// }
// @media screen and (min-device-width : 375px) and (max-device-width : 667px) and (min-aspect-ratio: 667/375) {

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none;
    }
  img.displayed {
    width: 20%;
  }
  .video-js {
    width: 205px !important;
    height: 115px !important;
  }
  h3 {
    font-size: 12px;
    margin-top: 0px;
  }
  img.displayed1 {
    display: none;
  }
  img.sp {
    width: 20px;
  }
  #im {
    right: 5px;
    width: 40px;
  }
  #main {
    padding-bottom: 97px !important;
  }
  #footer {
    margin-top: -97px !important; /* negative value of footer height */
    height: 97px !important;
  }
  h3#tit-font2 {
    font-size: 23px;
  }
  img.socialIc {
    width: 6%;
    margin: 0 10px 0 10px;
  }
  h4#h4Foot {
    font-size: 15px;
    color: #fff;
    text-align: center;
  }
  div#footer {
    padding-top: 1px;
  }
  // .landingFeed {
  //   width: 90% !important;
  //   height: 202px !important;
  // }
  .feed-item2 {
    img {width: 100% !important; height: auto !important;}
  }
  .intro-header {
    background: url(12.jpeg) no-repeat center;
    background-size: cover;
    min-height: 375px;
    padding-top: 82px;
    h3 {color: #fff !important; font-size: 21px;}
  }
  header.navbar.navbar-default.navbar-inverse.mobile {
    margin: 0;
  }
  .navbar-header {
    background: #fff;
  }
  .navbar-brand {
    color: #4692b4 !important;
  }
  span.icon {
    left: 18% !important;
  }
  .footerLower {height: 70px !important;}
}

/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  #valid-code-section {
    .row {
      h1 {font-size: 33px !important;}
    }
  }
  // #footer > h4 {
  //  font-size: 11px !important;
  //  margin-top: 36px !important;
  //  }
  .intro-msg2 {
    h3 {
      font-size: 20px;
    }
    img.displayedMain {
      width: 30%;
    }
    // .landingFeed {
    //   width: 90% !important;
    // }
    .feed-item2 {
      img {
        width: 40px !important;
        height: 40px !important;
      }
    }
  }
   .video-js {
    //  margin-bottom: 139px;
    height: 75% !important;
    width: 75% !important;
   }
  img.displayed1 {
    display: none;
  }
  h3#tit-font2 {
    font-size: 23px;
  }
  #shared-info, #requested-info {
    font-size: 10px;
  }
  #landing-info {font-size: 8px;}
  span.book-item {font-size: 12px;}
 }

// // Nexus 7
// @media only screen
// and (min-device-width : 375px)
// and (max-device-width : 568px)
// and (orientation : landscape) {
//   img.displayed {
//     width: 20%;
//   }
//   .video-js {
//     width: 205px !important;
//     height: 115px !important;
//   }
//   h3 {
//     font-size: 24px;
//     margin-top: 0px;
//   }
//   #footer {
//    height: 13%;
//   }
//   #footer > h4 {
//     margin-top: 20px;
//     margin-right: 10px;
//     font-size: 9px;
//   }
//   img.sp {
//     width: 20px;
//   }
//   #im {
//     right: 5px;
//     width: 40px;
//   }
//   a > .sp {
//     margin-top: 13px;
//   }
// }

// IPhone 5 landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  .inner {
    width: 78%;
  }
  img.displayed {
    width: 20%;
  }
  img.displayed1 {
    display: none;
  }
  #tit-font2 {
    font-size: 23px;
  }
  .video-js {
    width: 30% !important;
    height: 30% !important;
  }
  #main {
    padding-bottom: 65px !important;
  }
  #footer {
    margin-top: -75px !important; /* negative value of footer height */
    height: 75px !important;
  }
  img.socialIc {
    width: 6%;
  }
  h4#h4Foot {
    font-size: 15px;
    color: #fff;
    text-align: center;
  }
  div#footer {
    padding-top: 1px;
  }
  #icons-mobile {
    font-size: 12px !important;
  }
  // .landingFeed {
  //   height: 153px !important;
  // }
}


// Iphone 5 portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  #valid-code-section {
    .row {
      width: 100%;
      margin: 0;
      div {padding-right: 0;padding-left: 0;}
      h1 {font-size: 28px;padding-bottom: 15px;}
      h4 {padding-bottom: 30px;}
    }
  }
  .semi-transparent-button {
    font-size: .6em;
  }
  input.btn.btn-primary.btn-lg.round {
    margin-top: 22px;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  #foot {
    padding-top: 30px;
  }
  h4#h4Foot {
    // margin-right: 0px;
    font-size: 16px;
    // margin-top: 22px;
    text-align: center;
    color:#fff;
  }
  .video-js {
    // margin-bottom: 139px;
    height: 75% !important;
    width: 75% !important;
  }
  #tit-font2 {
    font-size: 23px;
  }
  .signTitle {
  	padding-left: 25px !important;
    font-size: 18px;
  }
  .signSubtitle {
  	padding-left: 25px !important;
    font-size: 14px;
  }
  #leftDiv {
    display: none;
  }
  .edit-form-margin {
    padding: 0;
  }
  .firstName .imgName {
    width: 15% !important;
    top: 5px !important;
    left: 7px !important;
    height: 40px;
  }
  .form-group.password.optional.user_password_confirmation {
    // padding-left: 42px !important;
  }
  .form-group.string.required.user_first_name {
    // padding-left: 63px !important;
  }
  .imgName3 {
    width: 8% !important;
    left: 13px !important;
    height: 30px !important;
	}
  input.btn.btn-primary.update-btn2 {
    margin-bottom: 15px;
  }
  .padNone {
    padding: 0;
  }
  img.displayed1 {
    width: 78%;
    margin-left: 0;
  }
  img.displayed {
    width: 45%;
  }
  #tit-font2 {
    font-size: 19px;
  }
  img.socialIc {
    width: 15%;
    margin: 0 10px 0 10px;
  }
  #main {
    padding-bottom: 140px !important;
  }
  #footer {
    margin-top: -140px !important; /* negative value of footer height */
    height: 140px !important;
  }
  .landingFeed {
    height: 534px !important;
  }
  .intro-msg2 > h3 {
    font-size: 17px;
  }
  img.displayedMain {
    width: 28% !important;
  }
  .feed-item2 {
    img {height: auto !important; width: 40px !important;}
  }
}

/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3)
{
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  img.displayed {
    width: 20%;
  }
  img.displayed1 {
    display: none;
  }
  .video-js {
    width: 205px !important;
    height: 115px !important;
  }
  h3#tit-font2 {
    font-size: 23px;
  }
  #im {
    right: 5px;
    width: 40px;
  }
  img.socialIc {
    width: 6%;
    margin: 0 10px 0 10px;
  }
  #main {
    padding-bottom: 97px !important;
  }
  #footer {
    margin-top: -97px !important; /* negative value of footer height */
    height: 97px !important;
    padding-top: 1px !important;
  }
  h4#h4Foot {
    font-size: 15px;
    color: #fff;
    text-align: center;
  }
  .footerLower {height: 70px !important;}
  // .landingFeed {
  //   width: 90% !important;
  //   height: 202px !important;
  // }
  .intro-header {
    background: url(12.jpeg) no-repeat center;
    background-size: cover;
    min-height: 375px;
    padding-top: 82px;
  }
  header.navbar.navbar-default.navbar-inverse.mobile {
    margin: 0;
  }
  .navbar-header {
    background: #fff;
  }
  .navbar-brand {
    color: #4692b4 !important;
  }
  span.icon {
    left: 21% !important;
  }
  #nav-name {padding-left: 12px;}
 }

 /* iPhone 6 Plus portrait */
 @media only screen
   and (min-device-width: 414px)
   and (max-device-width: 736px)
   and (orientation: portrait)
   and (-webkit-min-device-pixel-ratio: 3) {
     .mobile {
       display: block !important;
     }
     .desktop {
       display: none;
     }
   #footer > h4 {
    font-size: 11px;
    margin-top: 36px;
    }
    .video-js {
     height: 75% !important;
     width: 75% !important;
   }
   #landing-info {
     font-size: 10px;
   }
}

/* Ipad portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none;
    }
   .video-js {
    height: 75% !important;
    width: 75% !important;
   }
   h4#h4Foot {
     font-size: 20px;
     color: #fff;
     text-align: center;
   }
   #footer{
     padding-top: 10px;
   }
   img.socialIc {
     margin: 0 10px 0 10px;
   }
   #main {
     padding-bottom: 130px !important;
   }
   #footer {
     margin-top: -130px !important; /* negative value of footer height */
     height: 130px !important;
     padding-top: 1px !important;
   }
   #leftDiv {
     padding: 128px 10px !important;
     h3 {
       font-size: 21px;
     }
   }

}

/* Ipad landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none;
  }
  img.socialIc {
    margin: 0 10px 0 10px;
  }
  h4#h4Foot {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  #footer{
    padding-top: 30px !important;
  }
  #main {
    padding-bottom: 160px !important;
  }
  #footer {
    margin-top: -160px !important; /* negative value of footer height */
    height: 160px !important;
    padding-top: 1px;
  }
  #leftDiv {
    padding: 128px 10px !important;
    h3 {
      font-size: 21px;
    }
  }
}





.bkG {
  background: url(vancouver1.png) no-repeat center center;
  background-size: cover;
}
#lang {
  text-align: center;
  h3 {
    color:#fff;
  }
}
#wrap {
  min-height: 100%;
  padding-top: 3%;
}

#main {
  overflow:auto;
	padding-bottom: 100px;}  /* must be same height as the footer */

#footer {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
  padding-top: 23px;
  text-align: center;
}
#footer2 {
  background-color: #282828;
  position: relative;
	// margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
  padding-top: 23px;
  text-align: center;
}
h4#h4Foot {
    text-align: center;
    color: #fff;
}
img.socialIc {
  margin: 0 10px 0 10px;
}

.mobile {
  display: none;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

.h4Foot1 {
  color: #fdfefe;
    margin-top: 0px;
    margin-right: 30px;
    display: inline-block;
}
.sp {
    margin-left: 13px;
    margin-top: 19px;
    margin-bottom: 15px;
    width: 45px;
}

// Landing page live version

.landing-bkw {
    text-align: center;
    padding-top: 40px;
    height: 100%;
    a:hover {
    text-decoration: none;
    }
}
img.displayedMain {
  // position: absolute;
  // top: 100px;
  // left: 538px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}
.socialIc2 {
  margin: 0 35px 0 50px;
}
// i.fa.fa-facebook-square.fa-4x.socialIc2.soFb, i.fa.fa-google-plus-square.fa-4x.socialIc2.soFb, i.fa.fa-envelope.fa-4x.socialIc2.soFb {
//     margin-right: 10px;
// }
.soFb {
  color: #4892b1;
  // color: #fff;
}
.soTit {
  display: inline;
  position: relative;
  bottom: 6px;
  right: 22px;
  font-size: 18px;
}
.landingFeed {
  height: 558px;
  // background: #fff;
  // width: 50%;
  // margin: 20px auto 10px;
  float: none;
  // border: 2px solid;
  // border-radius: 15px;
  // overflow: auto;
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
.landingItems {
  height: 250px;
  float: none;
  overflow:scroll;
  background-color: #fff;
  margin: 0 auto;
  float: none;
  border-radius: 10px;
}
.rowDivder {
  background-color: #f7f7f7;
  height: 2px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin: 10px auto 0;
}
#h2-share {
  font-size: 2.5rem;
  position: relative;
  top: 200px;
  left: 100px;
  color: #4b4b4c;
  line-height: 1.2;
  font-family: "Geometria Light","Segoe UI",Arial,sans-serif;
}
.feed-item2 {
  // margin: 2% auto;
  padding-top: 10px;
  font-size: 10px;
  color: #444;
  img {height: 60px !important;width: 60px !important;}
  .item-name2 {font-size: 20px}
}
.bg-gre {
  background-image: url(bk-gr.jpg);
}
.intro-msg2 {
  // z-index: 1000;
  // position: absolute;
  // top: 5%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.intro{
  z-index: 1000;
  position: absolute;
  // top: 5%;
  // width: 100%;
  text-align: center;
  // color: #fff;
}

.intro-msg2 > h3 {
  // color: #696969;
  color: #fff;
  // text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.sign-in {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  padding-top: 10px;
  width: 120px;
  text-align: center;
  border-radius: 21px;
  a {
    color: rgb(255, 255, 255) !important;
    font-size: 20px;
    background: none;
  }
}
.sign-in-container {
  color: rgb(255, 255, 255);
  font-size: 30px;
  z-index: 10000;
  position: relative;
  float: right;
  padding-right: 101px;
}

// bk video

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.row-signup {padding-top: 20px; min-height: 80px;}
@media (min-width: 768px) {
  .intro-header {
    min-height: 100%;
    // min-height: 80%;
  }
}
.hh {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  padding-top: 12px;
  i{margin: 0; font-size: 20px;}
}
.hh2 {padding-top: 12px;}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    min-height: 550px;
    height: 60%;
    // height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    .container {
      height: auto;
      text-align: center;
      position: absolute;
      bottom: 230px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



// Media Query for Iphone
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .soFb, .soFb {
    display: block !important;
    margin: 0 auto;
  }
  #icons-mobile {
    font-size: 15px;
  }
  section.features {
    .device-container, .feature-item {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 100px;
    }
    h2 {
      font-size: 45px;
    }
  }
  // .landingFeed {
  //   width: 90% !important;
  //   height: 378px;
  // }
}
