// Place all the styles related to the requested_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reqItem {
  width: 282px !important;
  height: 66px !important;
  background-color: #f37a4e !important;
  font-size: 23px !important;
  color: #fff !important;
  text-align: center !important;
  float: right !important;
}

.editBtnRequest, .deleteBtnRequest, .detailBtn {
  background-color: #6eb35a;
  height: 25px;
  width: 60px;
  text-align: center;
  padding-top: 3px;
  border-radius: 8px;
  display: inline-block;
  a {color: #fff;}
}
.deleteBtnRequest {background-color: #d9534f;}
.detailBtn {
  color: #373a3c;
  background-color: #fff;
  border-color: #adadad;
  font-size: 12px;
  padding: 0;
}
.detailsCol {
  padding-top: 20px;
  display: none;
}

#myModalRequest {
  #requested_item_name, #requested_item_location, #requested_item_from_date, #requested_item_to_date, #requested_item_description {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    border: 1px solid #cccccc;
  }
  #request-btn {
    border: 0 !important;
    background-color: #F57D4D;
  }
  .btn-default {float: right;}
}
