// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reservations-page-section {
  .panel-heading {background-color: #fcfcfc;color: #686868;}
  #h3-reservation {padding-left: 20px; color: #4692b4;}
}

.checkin {
  .feed-item {
    padding: 15px;
  }
}
