// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
//     background-color: #f9f9f9 !important;
//     background-image: none;
//     color: #f9f9f9;
// }


#prof-img {border-radius: 50%;width: 25%;height: 95px;}
.avatar-modal-btn2 {padding: 20px;background: #fff;border-bottom: 1px solid #c8c6cc;}
.avatar-modal-btn {
	img {
		width: 135px;
	 	border-radius: 55%;
	 	height: 120px;
		cursor: pointer;
	}
}

// .user_avatar {
// 	width: 135px;
// 	height: 120px;
// 	padding-top: 30px;
// }
p#p-aboutme {
  padding: 10px 0;
  font-size: 16px;
}
#myModalAboutme{
	input#user_about_me {
		width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    border: 1px solid #cccccc;
	}
	#update-btn-aboutMe {
		float: left;
		border: 0 !important;
		background-color: #F57D4D
	 }
	 .btn-default {float: right;}
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

.signTitle {
	padding-left: 139px;color: #5c5c5c;
}
.signSubtitle {
	padding-left: 144px; color:#868686;display: inline-block;
}
#leftDiv {
	background: #3f93b2;height: 430px;padding: 128px 30px;
}
.update-btn2 {
  border: 0 !important;
  background-color: #F57D4D !important;
  font-size: large;
  margin-top: 15px;
  margin-bottom: 0px;
	height: 50px;
	width: 160px;
}
.socialImg {
	width: 30%;
	margin: 0 20px;
}

.firstName {
	.form-group.string.required.user_first_name, .form-group.string.required.user_last_name, .form-group.email.required.user_email, .form-group.string.optional.user_location, .form-group.string.optional.user_postal_code, .form-group.password.optional.user_password, .form-group.password.optional.user_password_confirmation {
		border-bottom: 1px solid #ededed;
		padding-left: 55px;
	}
	.imgName {
		position: absolute;
    width: 12%;
    top: 14px;
    left: 9px;
	}
	.imgName2 {
		position: absolute;
    width: 7%;
    top: 14px;
    left: 14px;
	}
	.imgName3 {
		position: absolute;
    width: 7%;
    top: 14px;
    left: 14px;
	}
	.form-control::-webkit-input-placeholder {
	    color: #c4c4c4;
	    font-size: 14px;
	    font-weight: 100;
	}
}
.signUpwell {
	padding: 0;
}
.signInDiv {
	display: inline-block;
	margin-left:16px;
	margin-left: 16px;
	background-color: #3f93b2;
	color: #fff;
	height: 35px;
	margin-bottom: 0px;
	position: relative;
	bottom: 0px;
	padding-top: 8px;
	width: 115px;
	text-align: center;
	font-size: 20px;
}
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}




h3.usernew-ac {
  margin-left: 124px;
  color: #555555;
  font-size: 31px;
}

.noPadding {
  padding-left: 0px;
  padding-right: 0px;
}
.h3-Sign {
  font-size: 17px;
}
.form-control::-webkit-input-placeholder {
    color: #c4c4c4;
    font-size: 15px;
    text-align: left;
}


.fa-2x.marg {
    margin-left: 13px;
}

.container.mobile {
  display: none;
}




@media screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) {
  .container.mobile {
    display: block;
  }
  .container.desktop {
    display: none;
  }
  div.namerowcol {
    display: block;
  }
  .icondiv1 {
    left: -14px !important;
  }
  input#user_last_name {
    padding-left: 10px !important;
  }
  .col-xs-8.col8-pad {
    margin-left: -18px;
  }
  h3.usernew-ac {
    margin-left: 31px;
    font-size: 20px;
  }
  #top-br {
    display: none;
  }
}





/* nexus 5 portrait mode */
@media screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) {
  .well img {
    width: 55px;
    height: 50px;
  }
  .h_name {
    top: 3px;
  }
  hr.hr-name-line {
    top: 68%;
  }
  input#user_email, input#user_first_name, input#user_last_name, input#user_current_password, input#user_password, input#user_password_confirmation, input#user_location, input#user_postal_code{
    font-size: 16px;
  }
	#user_first_name::-webkit-input-placeholder, #user_last_name::-webkit-input-placeholder, #user_email::-webkit-input-placeholder, #user_current_password::-webkit-input-placeholder, #user_password::-webkit-input-placeholder, #user_password_confirmation::-webkit-input-placeholder {
	  font-size: 16px;
	}
  h3.usernew-ac {
    margin-left: 31px;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .col-xs-5.col-md-6.first {
    padding-right: 0;
  }
  .password::-webkit-input-placeholder {
      font-size: 10px;
  }
  .email::-webkit-input-placeholder {
      font-size: 10px;
  }
  .required::-webkit-input-placeholder {
      font-size: 9px;
  }
  input.update-btn {
		font-size: 16px;
		padding: 10px 41px;
  }
  .form-group.password.optional.user_password {
    // height: 50px;
  }
  .form-group.password.optional.user_password_confirmation {
    // height: 50px;
  }
  .form-group.password.optional.user_current_password {
    height: 50px;
  }
  .form-group.password.optional.user_email {
    height: 50px;
  }
  form#edit_user_1 {
    line-height: 10px;
  }

}
.userTb{
  width: 100%;
  td {
    text-align: left;
    padding-left: 20px;
		padding-bottom: 15px;
		font-size: 20px;
		color: #c4c4c4;
  }
}
.usrTd {

}
.cardLast {
		height: 55px;
    background-color: #f7f7f7;
    padding: 10px;
		margin-top: 15px;
}
.uilist {
  color: #00bd65;
  a {
   color: #00bd65;
  }
}
.cardUser {
	height: 545px !important;
}
.cru {
	height: 647px;
}
#usrTit {
	margin-top: 0;
	font-size: 15px;
	a {
		color: #4a4a4a;
	}
}

.dashB {
	margin-left: 0 !important;
}

#new_conversation {
	input.btn.btn-primary {
		background-color: #f7f7f7;
		color: #000;
		border-radius: 8px;
		padding: 5px 23px;
		border-color: #000;
	}
}
