<% @activities.each do |activity| %>
  <% if activity.trackable %>
    <% if activity.trackable.approved == true %>
      <% if current_user.following?(activity.owner) %>
      <div class="activity col-xs-12">
          <%#= activity.inspect %>
          <div class="row">
              <div style="padding-left: 8px;" class="col-xs-2 col-sm-2">
                  <img src="<%= activity.owner.image || activity.owner.avatar if activity.owner %>" alt="..." class="imgActi">
                  <%=  %>
              </div>
              <div style="padding-left: 0;" class="col-xs-10 col-sm-10">
                  <div class="col-xs-12 col-sm-9">
                      <h4 style="display: inline-block; font-size:15px;"><%= link_to activity.owner.first_name, activity.owner if activity.owner %></h4>
                      <h4 style="display: inline-block; color:#b9b9b9; font-size:15px;">Listed a new item</h4>
                      <h4 style="color: #337ab7;display: inline-block;font-size:15px;"><%= activity.trackable.name.capitalize %><br></h4>
                  </div>
                  <div style="text-align: right;padding-top: 11px;" class="hidden-xs col-sm-3">
                      <%= (Date.current - activity.created_at.to_date).to_i %>d ago
                  </div>
              </div>
              <div style="padding-left: 0;" class="col-xs-10 col-sm-10">
                  <div class="hidden-xs col-sm-8">
                      <i style="color: #6eb35a;" class="fa fa-map-marker" aria-hidden="true"></i>
                      <%= activity.owner.location %>
                  </div>
                  <div style="text-align: right;" class="col-xs-12 col-sm-4">
                      <%= link_to "View Item", activity.trackable, class:"viewItem" %>
                  </div>
              </div>
          </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
