<section id="activities_section">
  <div class="wrapper-main">
    <div class="col-xs-12 col-sm-6">
      <h1 style="color: #5d5d5d; padding-left: 65px;">Activity Stream</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h5 id="shareAn"><%= link_to "List an item now", new_item_path %></h5>
    </div>
    <br><br><br>
    <%#= render_activities(@activities) %>
    <div style="margin-top: 40px;" class="col-xs-12">
      <div class="col-xs-6 col-sm-3 btnPub">
        <h3 class="h3PF active1">Community</h3>
      </div>
      <div class="col-xs-6 col-sm-3 btnFol">
        <h3 class="h3PF active2">Followers</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8" id="acti-main12">
      <div class="wrapperStream divPub">
        <%= render 'public' %>
      </div>
      <div class="wrapperStream divFol">
        <%= render 'followers' %>
      </div>
    </div>
    <div class="hidden-xs col-sm-4">
      <div class="theblogwidgets" style="">
        <div>
          <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Ffacebook.com%2Fsharecityhq&width=270&colorscheme=light&show_faces=true&border_color=white&connections=9&stream=false&header=false&height=270" scrolling="no" frameborder="0" scrolling="no" style="border: white; overflow: hidden; height: 270px;color:000;"></iframe>
        </div>
      </div>
    </div>
    <div class="hidden-xs col-sm-4">
      <a class="twitter-timeline" data-height="317" data-theme="dark" data-link-color="#4692b4" href="https://twitter.com/ShareCityHQ">Tweets by ShareCityHQ</a>
      <!-- <a class="twitter-timeline" href="https://twitter.com/ShareCityHQ">Tweets by ShareCityHQ</a> -->
    </div>
  </div>
</section>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript">
  $('.btnFol').on('click', function() {
    $('.divPub').hide();
    $('.divFol').show();
    $('.active2').css('color', '#337ab7');
    $('.active1').css('color', '#bababa');
  });
  $('.btnPub').on('click', function() {
    $('.divFol').hide();
    $('.divPub').show();
    $('.active1').css('color', '#337ab7');
    $('.active2').css('color', '#bababa');
  });
  jQuery(document).ready(function() {
    // jQuery(".theblogwidgets").hover(function() {jQuery(this).stop().animate({right: "0"}, "medium");}, function() {jQuery(this).stop().animate({right: "-250"}, "medium");}, 500);
  });
</script>
