<%= form_for([@item, @item.reviews.new]) do |f| %>

  <div class="form-group">
    <%= f.text_area :comment, row: 3, class: "form-control reviewArea", placeholder: 'Write a Review...' %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>

  <div class="action">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
