<% if @reviews.count == 0 %>
<div class="text-center">
  <h4>There are no Reviews yet</h4>
</div>
<% else %>
<% @reviews.order("id desc").each do |r| %>
<hr>
<div class="row">
  <div class="col-xs-3 col-md-2">
    <% if r.user.provider == "facebook" %>
    <%= image_tag "//graph.facebook.com/#{r.user.uid}/picture?type=square", class: "reviewImg" %>
    <% elsif r.user.provider == "google_oauth2" %>
    <img alt="" src="<%= r.user.image%>" , class= "reviewImg">
  <% else %>
    <img alt="" src="<%= r.user.avatar%>" style="width: 50px; height:50px" , class= "reviewImg">
    <% end %>
    <%#= image_tag avatar_url(r.user), class: "img-cicle avatar-medium" %>
  </div>
  <div class="col-xs-9 col-md-10">
    <div class="col-md-1">
      <strong><%= username(r.user) %></strong>
    </div>
    <div class="col-md-9">
      <%= rating_for r.item, "visual_effects", stars: 5, disable_after_rate: false, enable_half: true if current_user && current_user == r.user %>
    </div>
    <div class="col-md-2">
      <%= r.created_at.strftime("%v") %><br/>

      <span class="">
        <%= link_to "Remove My Review", [@item, r], method: :delete, data: {confirm: "Are you sure ?"} if current_user && current_user == r.user %>
      </span>
    </div>
    <div class="commentIt">
      <%= r.comment %>
    </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
