<div id="footer2">
  <div class="desktop" id="foot">
    <div class="container conUp">
      <div class="row footerUpper">
        <div style="padding-left: 117px" class="col-xs-8">
          <ul id="footerList">
            <li><%= link_to "About Us", about_path  %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            <li><%= link_to "Blog", "http://www.blog.sharecity.net" %></li>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Terms and Privacy", terms_path %></li>
          </ul>
        </div>
      </div>
      <div class="row footerLower">
        <div class="col-xs-6">
          <p class="pLower">ShareCity &copy; 2017. All Rights Reserved</p>
        </div>
        <div class="col-xs-6">
		        <a href="https://www.facebook.com/sharecityHQ" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://twitter.com/ShareCityhq" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://www.instagram.com/sharecityhq" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/sharecityHQ" target="_blank"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://www.linkedin.com/company/sharecity" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile" id="foot">
    <div class="container conUp">
      <div class="row footerUpper">
        <div style="" class="col-xs-12">
          <ul id="footerList">
            <li><%= link_to "About", about_path  %></li>
            <li><%= link_to "Blog" %></li>
            <li><%= link_to "FAQ" %></li>
            <li><%= link_to "Terms and Privacy" %></li>
          </ul>
        </div>
      </div>
      <div class="row footerLower">
        <div class="col-xs-12">
          <p class="pLower">ShareCity &copy; 2017. All Rights Reserved</p>
        </div>
        <div class="col-xs-12">
		        <a href="https://www.facebook.com/sharecityHQ" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://twitter.com/ShareCityhq" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://www.youtube.com/channel/UCrY3SXBOFv8_ajTb51ykMWw" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://www.instagram.com/sharecityhq" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/sharecityHQ" target="_blank"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a>
        		<a href="https://www.linkedin.com/company/sharecity" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
