<header role="banner" class="navbar navbar-default navbar-inverse mobile">
      <div class="container">
        <div class="navbar-header">
          <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar gray"></span><span class="icon-bar gray"></span><span class="icon-bar"></span></button>
          <%= link_to "ShareCity", home_path, class: "navbar-brand topnav" %>
        </div>
        <div class="navbar-inverse side-collapse in">
          <nav role="navigation" class="navbar-collapse">
            <ul class="nav navbar-nav">
              <% if current_user %>
              <li style="color: #fff;" id="nav-name"><img src="<%= current_user.image || current_user.avatar %>" alt="..." class="circle" id="nav-img">
                <%= current_user.first_name.capitalize %>
              </li>
              <% end %>
              <li><%= link_to "Home", home_path %></li>
              <% if current_user && check_code? %>
              <li><%= link_to "Dashboard", dashboard_index_path %></li>
              <% end %>
              <li>
                <%= link_to edit_users_path do %>
                  Edit Profile
                <% end %>
              </li>
              <% if current_user && check_code? %>
                <li><%= link_to "Add an Item", new_item_path %></li>
                <li><%= link_to "Request an Item" %></li>
                <li><%= link_to "Request Received" %></li>
                <li><%= link_to "Request Pending" %></li>
                <li class="mobileLi">
                  <%= link_to conversations_path do %>
                    <i class="fa fa-envelope fa-lg"></i>
                    <% if current_user.unread? %>
                      <strong id="unread-count-mobile"><%= current_user.unread_count %></strong>
                   <% end %>
               </li>
             <% end %>
             <li><%= link_to image_tag('livefeeds.png', class: "liveFeed"), activities_path %></li>
             <li>
               <%= link_to requested_items_path do %>
               <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
               <% end %>
             </li>
            <% end %>
            <% if current_user && check_code? %>
            <li><%= link_to "Help" %></li>
            <% end %>
            <% if current_user %>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>


<nav class="navbar navbar-default desktop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ShareCity", home_path, class: "navbar-brand topnav" %>
      <%#= link_to image_tag('logo.png'), root_path, class: "navbar-brand topnav", :target => :blank %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav addI">
        <% if current_user && check_code? %>
        <%= link_to "Add an Item", new_item_path, class: "btn btn-success" %>
        <!-- <li class=""> -->
          <!-- <button type="button" class="btn btn-success">Success</button> -->
        <!-- </li> -->
        <% end %>
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <% if check_code? %>
          <% location = Geokit::Geocoders::MultiGeocoder.geocode(request.remote_ip) %>
            <% unless location.city == nil %>
              <li class="mobileLi">
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-map-marker fa-lg"></i>
                  <%#= Geokit::Geocoders::IpGeocoder.geocode('207.194.225.51') %>
                  <%= location.city %>, <%= location.state %>
                  <%# request.remote_ip %>
                  <%#= current_user.location %>
                <% end %>
              </li>
            <% end %>
            <li class="mobileLi">
              <%= link_to conversations_path do %>
                <i class="fa fa-envelope fa-lg"></i>
                <% if current_user.unread? %>
                  <strong id="unread-count"><%= current_user.unread_count %></strong>
               <% end %>
           </li>
          <% end %>
          <li class="mobileLi">
            <%= link_to requested_items_path do %>
            <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class="mobileLi">
            <%#= link_to activities_path do %>
            <!-- <i class="fa fa-rss fa-lg" aria-hidden="true"></i> -->
            <%= link_to image_tag('livefeeds.png', class: "liveFeed"), activities_path %>
            <%# end %>
          </li>
          <li class="mobileLi">
            <%= link_to reservations_path do %>
              <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
              <%# if reservation_count? != 0 %>
                <!-- <strong id=""><%#= reservation_count? %></strong> -->
              <%# end %>
            <% end %>
          </li>
        <% end %>
        <li style="margin-right: 10px;" class="mobileLi imgLi">
          <%= link_to edit_users_path do %>
            <img src="<%= current_user.image || current_user.avatar %>" alt="..." class="circle" id="nav-img">
          <% end %>
        </li>
        <li class="dropdown">
          <a style="color: #fff;" href="#" class="dropdown-toggle" id="current-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-user_id="<%= current_user.id %>" data-username="<%= current_user.first_name.capitalize %>"><%= current_user.full_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_users_path do %>
                Edit Profile
              <% end %>
            </li>
            <% if current_user && check_code? %>
            <li><%= link_to "Dashboard", user_path(current_user) %></li>
            <li><%= link_to "Invite Friends", new_invite_path %></li>
            <% reserva = Reservation.where('item_owner_id = ? AND status = ? AND checkedin_owner = ? AND checkedout_owner = ? AND checkedin_requester = ? AND checkedout_requester = ?', current_user.id, 'paid', 'yes', 'yes', 'yes', 'yes') %>
            <li><%= link_to "Credit:#{number_to_currency(Transaction.where(reservation_id: reserva).sum(:payout))}", "https://dashboard.stripe.com/login" %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign in", new_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
