<!DOCTYPE html>
<html>
<head>
  <title>ShareCity</title>
  <meta name="viewport" content="width=device-width">
  <%= javascript_include_tag 'https://js.stripe.com/v2/', 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="//maps.google.com/maps/api/js?v=3.23&amp;key=AIzaSyDP_ymyPcxNqcELWpkbkzbT9uPFA3XxRxc&amp;libraries=geometry" type="text/javascript"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico">
  <link href="https://vjs.zencdn.net/5.2.4/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://vjs.zencdn.net/5.2.4/video.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "/layouts/nav" unless @disable_nav %>
  <div class="wrapper">
    <%= render "/layouts/message" %>
    <%= yield %>
  </div>
  <% unless action_name == "welcome" %>
   <%= render "/layouts/footer" %>
  <% end %>
</body>
</html>
