<!DOCTYPE html>
<html>
<head>
  <title>ShareCity</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//maps.google.com/maps/api/js?v=3.23&amp;key=AIzaSyDP_ymyPcxNqcELWpkbkzbT9uPFA3XxRxc&amp;libraries=geometry" type="text/javascript"></script>
  <!-- <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script> -->
  <!-- <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron">
  <link href="https://vjs.zencdn.net/5.2.4/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://vjs.zencdn.net/5.2.4/video.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="rowr">
    <%= render "/layouts/message" %>
    <%= yield %>
  </div>
  <%#= render "/layouts/footer" %>
</body>
</html>
